// /*************************
//   Button styling for adding PEs
//   inline box for dropdowns
// *************************/
.mms-add-pe-button {

  position: absolute;
  left: -7px;
  margin-top: -17px;


  /*Border radius and color to match dropdown*/
  a.dropdown-toggle{
    @include border-radius(4px 0 0 4px);
    border: 2px solid $white;
    /*Special line-height so it aligns with the dropdown menu*/
    line-height: 1.8em;
  }

  /*Dropdown menu is always open but has 0 opacity for transition*/
  .dropdown-menu {
    display: none;
    opacity: 0;
    position: relative;
    padding: 0;
    margin: 0;
    @include border-radius(0 4px 4px 0);
    border: 2px solid darken($white, 12%);
    @include box-shadow( 6px 6px 12px rgba(0,0,0,.175))
    @include transition(all .5s);

    &::after{
      background-image: url(../assets/location-feedback.svg);
      content: ' ';
      background-size: 70px 30px;
      height: 30px;
      width: 70px;
      background-repeat: no-repeat;
      position: absolute;
    }

    /*Special padding to align with add button*/
    li > a{
      padding: .1em 1.6em;
      line-height: 1.6em;
    }
    /*Horizontal menu that should be more consistent across browsers*/
    li{
      display: inline-block;
    }
  }

  /*When hovering over the whole menu, set opacity to 1*/
  .open > .dropdown-menu,
   .dropdown-toggle:hover + .dropdown-menu,
   .dropdown-menu:hover{
    display: block;
    opacity: 1;
  }

  /*When hovering over button or opening toggle, darken text and background */
  span:hover a.dropdown-toggle,
  .open > a.btn-placeholder.dropdown-toggle,
  .open > a.btn-placeholder.dropdown-toggle:hover{
      background-color: darken($white, 10%);
      border-color: darken($white, 12%);
      color: darken($tertiary-grey, 42%);
  }


}

mms-view-section .mms-add-pe-button {
  position: relative;
  left: 0;
  margin-top: 0;
}