.mms-search {

  background: #fbfbfb;

  .search-header{
     border-bottom: 1px solid #d3d3d3;
     box-shadow: 0px 5px 7px -4px rgba(0,0,0,.1);
     background:white;
  }

  .search-results{
    padding:20px 0;
  }

  .form-inline {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;

    .form-group,
    .btn{
      margin: 7px 3px;
      line-height: 16px;
    }
    .form-group{
      width: 100%;
    }

    .fixed-content-m{
      width:160px;
      flex:none;
    }
    .fixed-content-s{
      width:70px;
      flex:none;
    }

    .ve-light-dropdown{
      margin:0;
    }

    h3{
      display:inline-block;
      font-weight: 500;
      font-size: 18px;
      margin: 0 3px 0 0;
    }

    input{
      min-height: 30px;
      border-radius: 2px;
      border: 1px solid #d3d3d3;
      padding: 3px 5px;
    }
  }


  .search-input {
    width: 100%;
  }

  .mms-search-input{
    max-width: 1200px;
    padding: 36px;

    .search-nav-back{
      position:absolute;
      top: 0;

      a{
        display: inline-block;
        margin: 20px 0;

        .fa-arrow-left{
          padding-right:4px;
        }
      }
    }
  }

  hr {
    border-color: $tertiary_grey;
  }

  .elem-wrapper {
    padding: 30px;
    background: white;
    border-top: 1px solid #d3d3d3;

    .elem-name {
      font-size: 22px;
      font-weight: bold;
    }

    .elem-qualified-name {
      font-size: 14px;
      font-style: italic;
      color: $medium_grey;
    }

    .elem-documentation {
      color: $base_blue !important;
      table {
        @extend .content-table;
      }
    }

    label {
      font-size: 14px;
      margin: 20px 0 0 0;
      display:block;
    }

    .elem-properties-wrapper {
      table > tbody > tr > td {
        padding: 0;
        border: 0;
        min-width: 150px;
        overflow: hidden;
        border-right: 25px solid white;
        text-overflow: ellipsis;
      }
    }

    .ellipses {
      color: $base_blue;
    }

    .elem-updated-wrapper {
      color: $medium_grey;
      margin-top: 18px;
      font-size:14px;
    }

    .elem-type-wrapper{
      margin-left:-3px;
    }

  }

  // No restults styles
  .container-no-results {
    color: $medium_grey;

    h3 {
      font-weight: 500;
      margin: 40px auto;
      width: 290px;
    }
  }

  .search-input.disabled-input{
    font-size: 14px;
    padding: 4px 8px;
    line-height: 13px;
    display: inline;
    border: none;
    border-radius: 2px !important;
    letter-spacing: .05em;
    background-color: #f4f4f4;
    min-height: 30px;
    width: 100%;
  }

  .elem-type{
    letter-spacing: .14em;
    margin-right: 6px;
    padding: 2px 6px;
    wrap-text: none;
    white-space: pre;
    margin: 3px;
    display:inline-block;
    //text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background: #f4f4f4;
    border-radius: 3px;
    color: #6e6e6e;
  }
}