.pane-right,
.revert-spec {
  h1.prop,
  h1.prop > .form-control {
    font-size: 32px;
    margin: 20px 0 4px;;
    height: inherit;
    width: 100%;
  }

  h1.prop {
    width: 100%;
    min-width: 280px;
    word-wrap: break-word;
  }

  span.prop {
    font-size: 16px;
    margin: 4px 0 30px;
    min-width: 280px;
    word-wrap: break-word;
    display: block;
  }

  h1.element-title {
    min-width: 280px;
    word-wrap: break-word;
  }

  .doc-text {
    font-family: $font-family-sans-serif;
    max-width: $default-line-length;
    min-width: 15em;
  }

  h2.spec-view-doc-heading, h2.spec-view-value-heading, h2.spec-view-type-heading {
    margin-top: 32px;
  }

  table {
    @extend .content-table;
  }

  mms-spec div {
    mms-transclude-doc {
      cursor: auto;
    }

    mms-view-link {
      background-color: $light_blue;
    }

    mms-transclude-com {
      background-color: $yellow;
      cursor: auto;
      display: block;
      border-radius: 5px;
      padding: 2px;
      margin-bottom: 5px;
    }
  }
}