// /*************************
//   Button styling for adding PEs
//   inline box for dropdowns
// *************************/
.mms-add-pe-button {
  /*Border radius and color to match dropdown*/
  a.dropdown-toggle{
    @include border-radius(4px 0 0 4px);
    border: 2px solid $white;
    /*Special line-height so it aligns with the dropdown menu*/
    line-height: 1.8em;
  }

  /*Dropdown menu is always open but has 0 opacity for transition*/
  .dropdown-menu {
    display: block;
    opacity: 0;
    position: relative;
    padding: 0;
    margin: 0;
    @include border-radius(0 4px 4px 0);
    border: 2px solid darken($white, 12%);
    @include box-shadow( 6px 6px 12px rgba(0,0,0,.175))
    @include transition(all .5s);

    /*Special padding to align with add button*/
    li > a{
      padding: .1em 1.6em;
      line-height: 1.6em;
    }
    /*Horizontal menu that should be more consistent across browsers*/
    li{
      display: inline-block;
    }
  }

  /*When hovering over the whole menu, set opacity to 1*/
  .open > .dropdown-menu,
   span:hover .dropdown-menu{
    opacity: 1;
  }

  /*When hovering over button or opening toggle, darken text and background */
  span:hover a.dropdown-toggle,
  .open > a.btn-placeholder.dropdown-toggle,
  .open > a.btn-placeholder.dropdown-toggle:hover{
      background-color: darken($white, 10%);
      border-color: darken($white, 12%);
      color: darken($tertiary-grey, 42%);
  }
}
