.mms-search {

/*------------------------------------------------------------------

1. Layout
2. Forms (can move most of this to main)
3. Results styles
4. Empty state

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Layout
-------------------------------------------------------------------*/

  .search-header {
     background: $white;
     padding-bottom: 250px;

    /*Border with shadow added when search results >= 0*/
    &.searchresults{
      border-bottom: 1px solid $ve-silver-darker-1;
      box-shadow: 0 4px 4px -4px rgba(0,0,0,.1);
      padding-bottom: 0;
    }
    font-size: 14px; 
  }

  /*Spacing for count of results at top of results*/
  .results-count {
    padding: 20px 30px;
    background: $ve-silver-lighter-2;
    font-size: 14px;
  }

  /*Spaceing for next and previous at bottom of results*/
  .search-nav{
    padding:38px 38px 60px;
  }

  .mms-search-input {
    max-width: 1200px;
    padding: 30px 36px 30px 30px;
    position: relative;

    /*Navigatiom back to basic search input, with a left back arrow*/
    .search-nav-back {
      position: absolute;
      top: 0;

      a {
        display: inline-block;
        margin: 15px 0;

        .fa-arrow-left {
          padding-right: 4px;
        }
      }
    }

    /*Navigatiom to advanced search input*/
    .advanced-query {
      margin-bottom: 18px;
    }

    .advanced-views-docs{
      padding-top:22px;
    }
  }

/*------------------------------------------------------------------
2. Forms
-------------------------------------------------------------------*/

  .form-inline {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* Safari 7.0+ */
    align-items: center;

    .form-group,
    .btn {
      margin: 7px 3px;
      line-height: 16px;
    }
    .form-group {
      width: 100%;
    }

    /*fixed width of medium content so that vertical rhythym is consistent*/
    .fixed-content-m {
      width: 150px;
      flex: none;
    }
    /*fixed width of small content*/
    .fixed-content-s {
      width: 90px;
      flex: none;
    }

    .ve-light-dropdown {
      margin: 0;
    }

    h3 {
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      margin: 0 3px 0 0;
    }

    input {
      min-height: 30px;
      @include border-radius(2px);
      border: 1px solid $tertiary_grey;
      padding: 3px 5px;
    }
  }

  .search-input {
    width: 100%;

  /*feedback for advanced search where user cannot edit*/
    &.disabled-input {
      font-size: 14px;
      padding: 4px 8px;
      line-height: 13px;
      border: none;
      border-radius: 2px !important;
      letter-spacing: .05em;
      background-color: #f4f4f4;
      min-height: 30px;
    }

    &.disabled-input-container {
      margin-right: 8px;
    }
  }

/*------------------------------------------------------------------
3. Results styles
-------------------------------------------------------------------*/

  .search-results{
    border-top: 1px solid $ve-silver-darker-1;
  }

  .elem-wrapper {
    padding: 36px 0;
    margin:0 30px;
    border-bottom: 1px solid $ve-silver-darker-1;

    .elem-name {
      font-size: 22px;
      font-weight: 500;
    }

    .elem-qualified-name {
      font-size: 14px;
      font-style: italic;
      color: $medium_grey;
    }

    .elem-documentation {
      color: $ve-link !important;
      table {
        @extend .content-table;
      }
    }

    .elem-properties-wrapper {
      table{
        margin-bottom: 0;
        color: $ve-light-text;
      }
      table > tbody > tr > td{

        border-top: none;
        padding: 2px;

        /*Float property name right for better readability*/
        &:first-child{
          float: right;
          text-align: right;
        }
      }
    }

    .ellipses {
      color: $brand_base;
    }

    .elem-updated-wrapper {
      color: $medium_grey;
      font-size: 14px;
      margin-top:10px;
    }

    /*File icon for documents and views*/
    .elem-related-docs-wrapper mms-view-link::before {
      content: "\f15b";
      font-family: $icon-font-name;
      padding: 0 4px 0 0;
      font-size: .75em;
    }
  }

/*------------------------------------------------------------------
4. Empty state
-------------------------------------------------------------------*/

  // No results styles
  .container-no-results {
    color: $medium_grey;
    min-height: 250px;

    h3 {
      font-weight: 500;
      margin: 60px auto;
      width: 290px;
    }
  }
}

/*------------------------------------------------------------------
5. Small modals
-------------------------------------------------------------------*/

.modal-body{
  .mms-search{
    .mms-search-input,
    .results-count{
      padding-left: 6px;
      padding-right: 6px;
    }
    .elem-wrapper{
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}