mms-view {
  .view-title, .section-title {
    font-family: $light-font-family-sans-serif;
    font-weight: $light_font_weight;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  //mms-view-table table, mms-view-table-t table, mms-view-para table, mms-view-list table, mms-view-list-t 
  table {
    @extend .content-table;
  }
}
