mms-view {
  .view-title, .section-title {
    font-family: $light-font-family-sans-serif;
    font-weight: $light_font_weight;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &.editing {
    mms-view-section {
      display: block;
      border: 2px solid $tertiary_grey;
      border-radius: 5px;
    }
  }

  table {
    @extend .content-table;
  }
}

mms-view-section {
  .panel-heading {
    padding: 0;
  }
}

