$navHeight: 40px;
$treeMarginTop: 15px;
$mainViewShadowColor: rgba(0,0,0,.26);

.content-container {
  top: $navHeight;
}

.main-view-container {
  -webkit-box-shadow: 0 0 9px $mainViewShadowColor;
  -moz-box-shadow: 0 0 9px $mainViewShadowColor;
  box-shadow: 0 0 9px $mainViewShadowColor; 
}

.abn-tree {
  position: relative;
  top: $treeMarginTop;
  height: 100%;

  .abn-tree-row {
    .shaft {
      width: 95%;
    }

    .shaft-selected {
      background: transparent;
    }
  }
}

.tree-view {
  height: calc(100% - #{$navHeight});

  .tree-view-btn-group {
    position: relative;
    bottom: 10px;
  }
}

.clean {
  background-color: white !important;
}

.addition {
  background-color: green;
}

.removal {
  background-color: red;
}

.conflict {
  background-color: yellow;
}

.update {
  background-color: blue;
}

.undo {
  background-color: white;
}