.pane-center {
  margin-right: -14px;

  > .pane-center {
    @include box-shadow(-4px 0px 2px -2px rgba(0, 0, 0, .24));
    margin-right: 0;

    h1 {
      margin-left: 20px;
    }
  }

  .pane-center-header {
    font-size: 56px;
  }

  .pane-center-header,
  .pane-center-heading-element {
    margin-top: 40px;
  }

  table {
    thead {
      tr {
        height: 50px;
      }

      th {
        background-color: $tertiary_grey;
        border-bottom: 0 !important;
        padding: 0;
        vertical-align: middle !important;
        font-size: 20px;
      }
    }

    tbody {
      td {
        border-bottom: 1px solid #f3f3f3;
        font-size: 20px;
        padding: 0;
      }

      tr {
        background-color: inherit;

        td:nth-child(1) {
          font-weight: $bold_font_weight;
          padding: 20px 0 20px 50px;
        }

        td:nth-child(1),
        td:nth-child(2) {
          width: 250px
        }

        td:nth-child(2),
        td:nth-child(3) {
          padding: 20px 0 20px 0;
        }
      }
    }
  }
}

.clean {
  background-color: $white !important;
}

.addition {
  background-color: lighten($green, 20%) !important;
}

.removal {
  background-color: lighten($red, 33%) !important;
}

.conflict {
  background-color: $yellow !important;
}

.update {
  background-color: $light_blue !important;
}

.moved {
  background-color: $light_purple !important;
}

.undo {
  background-color: $white !important;
}