.diff-pane-left {
  .container-fluid {
    position: relative;
    //height: 100%;
  }

  .btn-staging {
    padding: 8px 12px;
    margin: 0px 5px;
    background-color: $highlight_grey;
    @include box-shadow(none);

    &:hover {
      color: $black;      
    }

    i {
      position: relative;
      top: 50%;
      /*@include transform(translateY(-50%));*/
    }
  }

  #merge-btn {
    width: 100%;
    font-size: 12pt;
  }

  #merge-btn-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
    position: absolute;
    bottom: 20px;
  }

  .btn-stage-all {
    margin-left: 64px;
  }

  .btn-unstage-all {
    margin-left: 85px;
  }

  .btn-merge,
  .btn-go-back {
    height: 45px;
    width: 260px;
    left: 20px;
    font-weight: 700;
    display: block;
  }

  .btn-merge {
    position: absolute;
    bottom: 75px;
  }

  .btn-go-back {
    position: absolute;
    bottom: 20px;
  }

  table {

    table-layout: fixed;
    min-width: 555px;

    tr {
      &:hover {
        background-color: $tertiary_grey;
      }

      td {
        font-size: 14px;
        vertical-align: middle;
        border: 0;
        padding: 2px 4px 2px 4px;
        background-color: inherit !important;

        /* Remove */
        /*width: 150px;*/
        width: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /**********/

        &:first-child {
          width: 25%;
          padding-left: 20px;
        };

        &:last-child {
          text-align: right;
          width: 15%;
          padding-right: 5px;
        };

        /*&:first-child {
          width: 50px;
          padding-left: 20px;
        }

        &:nth-child(2) {
          width: 200px;
        }*/

        & i {
          width: 20px;
          text-align: center;
        }
      }
    }
  }

  .fa-pane-handle {
    display: none;
  }
}