.pane-left {
  > .pane-left {
    @include box-shadow(inset -1px 0px 3px 0px rgba(0,0,0,.24));

    .container-fluid {
      position: relative;
      height: 100%;

      .btn-merge {
        position: absolute;
        bottom: 60px;
      }

      .btn-go-back {
        position: absolute;
        bottom: 15px;
      }
    }
  }

  .fa-pane-handle {
    display: none;
  }
}

.btn-merge,
.btn-go-back {
  display: block;
}