.clean {
  background-color: white !important;
}

.addition {
  background-color: lightgreen !important;
}

.removal {
  background-color: lightpink !important;
}

.conflict {
  background-color: lightgoldenrodyellow !important;
}

.update {
  background-color: lightblue !important;
}

.moved {
  background-color: lightsalmon !important;
}

.undo {
  background-color: white !important;
}