logs/*
!.gitkeep
node_modules
tmp
.DS_Store
build
dist
deploy
docs
app/bower_components
app/bower_components_target
.sass-cache
.idea
PhantomJS_*
Chrome_*
test-results/
angular-mms-grunt-servers.json
