/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inline {
  display: inline;
}

mms-view.editing mms-transclude-name,
mms-view.editing mms-transclude-doc {
  border-bottom: 1px dotted blue;
}

mms-spec mms-transclude-name,
mms-spec mms-transclude-doc,
mms-spec mms-transclude-val {
  background-color: lightblue;
}

.navbar-inverse {
  background-color: #44749D;
  border-color: #404040;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  text-align: center;
  padding-right: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #404040;
}

.transclude-modal .clickable:hover {
  cursor: pointer;
  background-color: yellow;
}

.fa-pane-orientation-vertical > .fa-pane-handle {
  cursor: row-resize;
  background-color: lightgray;
}

.fa-pane-orientation-horizontal > .fa-pane-handle {
  cursor: col-resize;
  background-color: lightgray;
}

.fa-pane-orientation-horizontal > .fa-pane-handle > .fa-pane-toggle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  max-height: 20%;
  cursor: pointer;
  background-color: gray;
}

.fa-pane-orientation-vertical > .fa-pane-handle > .fa-pane-toggle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  max-width: 20%;
  cursor: pointer;
  background-color: gray;
}

.main {
  overflow-x: auto;
}

.dropdown-submenu{
  position:relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #CCCCCC;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.accordion-dropdown {
  min-width: 210px;
}

accordion > .panel-group {
  margin-bottom: 0;
}

accordion .panel-body {
  padding: 0;
}

accordion .panel {
  border: 0;
  border-radius: 0;
}

accordion .panel-default > .panel-heading {
  background-color: #FFF;
}

accordion .panel-title {
  font-size: inherit;
  font-weight: 400;
}

accordion .panel-title > a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

accordion .panel-heading {
  padding: 0;
}

accordion .panel-group .panel + .panel {
  margin-top: 0;
}

accordion a.dash-link,
accordion a.docweb-link {
  display: inline-block;
  text-align: center;
  color: #333;
  text-decoration: none;
  height: 100%;
  width: 50%;
  line-height: 40px;
}

accordion a.dash-link:hover,
accordion a.docweb-link:hover {
  cursor: pointer;
  color: #262626;
  background-color: #f5f5f5;
}

div.accordion-links {
  text-align: center;
  height: 40px;
}

.navbar .nav-link {
  font-family: 'FontAwesome';
}

.navbar .title {
  font-variant: small-caps;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.navbar .panel-heading a {
  display: block;
  padding: 10px 20px;
  line-height: 1.42857143;
}

.navbar .dropdown-menu > li > a {
  padding: 10px 20px;
}