/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inline {display:inline;}

mms-view.editing mms-transclude-name, mms-view.editing mms-transclude-doc {
  border-bottom: 1px dotted blue;
}

mms-spec mms-transclude-name, mms-spec mms-transclude-doc, mms-spec mms-transclude-val {
  background-color: lightblue;
}

.transclude-modal .clickable:hover {
  cursor: pointer;
  background-color: yellow;
}

.fa-pane-orientation-vertical > .fa-pane-handle {
  cursor: row-resize;
  background-color: black;
}

.fa-pane-orientation-horizontal > .fa-pane-handle {
  cursor: col-resize;
  background-color: black;

}
.fa-pane-orientation-horizontal > .fa-pane-handle > .fa-pane-toggle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  max-height: 20%;
  cursor: pointer;
  background-color: red;
}
.fa-pane-orientation-vertical > .fa-pane-handle > .fa-pane-toggle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  max-width: 20%;
  cursor: pointer;
  background-color: red;
}

.main {overflow-x: auto;}
