.demotext {
  float: left;
  clear: both;
  width: 700px;
  margin-top: 20px;
  margin-left: 20px;
}

.demotextarea {
  float: left;
  clear: both;
  width: 700px;
  height: 375px;
  margin-top: 20px;
  margin-left: 20px;
}
