/*************************
  Declarations
*************************/

@viewport {
  width: device-width;
}

@include selection {
  background-color: $light_blue !important;
}

$background_hover_transition: background-color .2s linear;

a:hover {
  cursor: pointer;
}