/*************************
  Styles for the DocWeb center pane
*************************/

.docweb-container-latest,
.docweb-container-config-view,
.docweb-container-config,
.docweb-container-new {
  h1 {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 32px;
    height: inherit;
  }

  h2 {
    font-weight: 200;
    font-size: 24px;
  }

  h3 {
    font-weight: 200;
    font-size: 18px;
  }
}

.docweb-container-config-view {
  .toggle-show-snapshots {
    cursor: pointer;
    color: $black;

    &:hover {
      text-decoration: none;
      color: $black;
    }
  } 
}