<div ng-if="search === null">
    <div fa-pane pane-anchor="north" pane-size="36px" pane-no-toggle="true" pane-no-scroll="true">
        <div class="pane-center-toolbar">
            <div class="doclib-link">
                <a type="button" class="btn btn-tools btn-sm" target="_blank" rel="noopener noreferrer" ng-href="{{docLibLink}}" uib-tooltip="Manage files" tooltip-placement="bottom" tooltip-popup-delay="100">
                    <img src="assets/alfresco-icon-sm.png">DocLib
                </a>
                <button type="button" class="btn btn-tools btn-sm share-url" ng-if="!ve_fn" ng-click="handleShareURL()" uib-tooltip="Share Page" tooltip-placement="bottom" tooltip-popup-delay="100"
                        popover-trigger="outsideClick" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-placement="bottom-left">
                    <i class="fa fa-share-alt"></i></button>
            </div>
            <div class="pane-center-btn-group">
                <mms-button-bar buttons="buttons" mms-bb-api="bbApi" class="bordered-button-bar"></mms-button-bar>
            </div>
        </div>
    </div>
    <div fa-pane pane-anchor="center" pane-scroll-api="scrollApi">
        <i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="ve_viewContentLoading"></i>
        <div class="ve-notify-banner" ng-show="refOb.type === 'Tag'">
            <span><strong>Tags are read only:</strong> Switch to a branch to edit</span>
        </div>
        <div class="container-fluid ve-secondary-text"> Document Last Modified: {{ latestElement | date:'M/d/yy h:mm a' }}</div>
        <div class="pane-center container-fluid" id="print-div">
            <div ng-repeat="view in views track by view.id" ng-class="{chapter: view.topLevel, 'first-chapter': view.first}">
                <mms-view mms-element-id="{{view.id}}" mms-commit-id="latest" mms-project-id="{{projectOb.id}}" mms-ref-id="{{refOb.id}}" mms-number="{{view.number}}" mms-view-api="view.api"></mms-view>
            </div>
        </div>
    </div>
</div>

<div ng-if="search !== null">
    <i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="ve_viewContentLoading"></i>
    <mms-search mms-options="searchOptions" mms-project-id={{projectOb.id}} mms-ref-id="{{refOb.id}}"></mms-search>
</div>

<script type="text/ng-template" id="shareUrlTemplate.html">
    <p id="ve-short-url">
        {{(shortUrl)}}
    </p>
    <button ng-click="copyToClipboard($event)" class="btn btn-sm btn-default"><i class="fa fa-copy"></i>Copy</button>
</script>
