/*------------------------------------------------------------------
[Login Table of contents]

1. Layout
2. Typography
3. UI Elements
  3.1 Text Input
4. Animation

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. Layout
-------------------------------------------------------------------*/

#ve-origin-select,
#ve-login {

  .account-wall {
    width: 320px;
    margin: 120px auto;
    height: 320px;
    position: relative;
  }

  .account-wall .btn-block {
    margin-top: 34px;
    position: absolute;
    bottom: 0;
    padding: 10px;
  }

  @media (max-height:500px){
    .account-wall{
      margin: 40px auto;    
    }
  }

/*------------------------------------------------------------------
2. Typography
-------------------------------------------------------------------*/

  .account-wall h2 {
    margin-bottom: 32px;
    font-size: 44px;
    text-align: center;
    font-weight: 100;
  }

  .module-disabled {
    opacity: .3;
  }

  .back-to-account{
    float: left;
    position: absolute;
    top: 18px;
    font-size: 18px;
  }
}