/*************************
  Styles for the View Editor right pane
*************************/

.pane-right {
  .container-snapshots { 
    h1 {
      font-family: $light_font_family;
      font-weight: 200;
      font-size: 35px;
      margin-top: 24px;
      margin-bottom: 32px;
      height: inherit;
    }

    .snapshot-table {
      margin-top: 24px;
    }

    .snapshot-btn-group {
      margin-top: 24px;
      margin-bottom: 20px;

      .create-new-snapshot-btn {
        background-color: $green;
        margin-right: 4px;
      }
    }
  }
}

.pane-right.fa-pane.pane-.fa-pane-orientation-horizontal {
  right: 41px !important;
}

.fa-pane.pane-center:not(.container-fluid) {
  margin-right: 41px !important;
}