/*************************
  Includes ng Border Layout mods that
  follow the MMS app design guide
*************************/

.pane-center,
.pane-right {
  p {
    font-family: $font-family-serif;
    font-size: $font-size-base;
  }

  blockquote {
    font-weight: 200;
    font-style: italic;
  }

  table {
    font-family: $font-family-sans-serif;
  }
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-bottom: 14px;
}

#inner-wrap {
  position: relative;
  width: 100%;
  height: 98.2vh;
  @include calc(height, "100vh - 14px");
}

.fa-pane-orientation-vertical,
.fa-pane-orientation-horizontal {
  > .fa-pane-handle {
    background-color: #d3d3d3;

    > .fa-pane-toggle {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100px;
      max-height: 20%;
      cursor: pointer;
      background-color: $light_grey;
    }
  }
}

.fa-pane-orientation-vertical {
  > .fa-pane-handle {
    cursor: row-resize;
  }
}

.fa-pane-orientation-horizontal {
  .fa-pane-handle {
    cursor: col-resize;
  }
}

@media screen and (max-width: 45em) {
  #main-pane {
    top: 46px;
  }

  #main-pane > div {
    z-index: 1000;
  }
}

@media screen and (min-width: 45.0625em) {
  #main-pane {
    top: 40px;
  }
}