/*************************
  Styles for the View Editor right pane
*************************/

.pane-right {
  > .pane-right {
    @include box-shadow(-1px 0px 5px 0px rgba(0, 0, 0, 0.4));
  }

  &.fa-pane-orientation-horizontal {
    .fa-pane-handle > .fa-pane-toggle {
      @include box-shadow(-2px 0 2px 0px rgba(100,100,100,0.4));
      margin-left: 1px;
    }
  }

  .container-snapshots { 
    h1 {
      font-family: $light-font-family-sans-serif;
      font-weight: 200;
      font-size: 35px;
      margin-top: 24px;
      margin-bottom: 32px;
      height: inherit;
    }

    .snapshot-table {
      margin-top: 24px;
    }

    .snapshot-btn-group {
      margin-top: 24px;
      margin-bottom: 20px;

      .create-new-snapshot-btn {
        margin-right: 4px;
      }
    }
  }
}

