/*************************
  Styles for the View Editor center pane
*************************/

$pane_center_btn_group_width: 120px;

/* start of fullDoc page styles */
body.fullDoc{
  text-rendering: optimizeLegibility;
  overflow:scroll;
  font-family: "Times New Roman", Serif;
}

tr {
  page-break-inside: avoid !important;
}
/* end of fullDoc page styles */


.clickable:hover {
  cursor: pointer;
  background-color: $light_blue;
}
  
.pane-center {
  margin-right: -11px;
  font-size: 16px;

  .pane-center {
    margin-right: 0;
  }

  .pane-center-spinner {
    position: absolute;
    top: 45%;
    left: 50%;
  }

  .pane-center-btn-group {
    float: right;
    padding-top: 9px;
    padding-right: 75px;
    min-width: $pane_center_btn_group_width;
  }

  .center-view {
    right: 41px !important;

    .nav-tabs {
      min-width: 200px;
      background-color: $tertiary_grey;
    }
    
    .nav-tabs li a {
      cursor: pointer;
      color: $black;
      @include border-radius(0);
      height: 35px;
    }

    .nav-tabs li.active a {
      border-bottom-color: transparent;
    }
  }

  .pane-center-inner {
    padding-top: 9px;
  }
}

.container-tree-reorder {
  margin-bottom: 24px;

  .tree-reorder {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 24px;
    clear: both;
  }

  .btn-tree-reorder-save {
    float: right;
    margin-top: 24px;
    margin-right: 8px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .angular-ui-tree-handle {
    font-family: $font-family-sans-serif;
  }
}