/*************************
  Includes ng Border Layout mods that
  follow the MMS app design guide
*************************/

.no-display {
  display: none  
}

.pane-center,
.pane-right {
  p {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
  }

  blockquote {
    font-weight: $light_font_weight;
    font-style: italic;
  }

  table,
  table * {
    //font-family: $font-family-sans-serif; //messes with kenny's stuff
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $light-font-family-sans-serif;
  }
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-bottom: 14px;
}

#inner-wrap {
  position: relative;
  width: 100%;
  height: 98.2vh;
  @include calc(height, "100vh - 14px");
}

.fa-pane-orientation-vertical,
.fa-pane-orientation-horizontal {
  .fa-pane-handle {
    background-color: $white;
    height: 100px;
    top: -webkit-calc(50% - 50px) !important;
    top: calc(50% - 50px) !important;

    > .fa-pane-toggle {
      height: 100%;
      max-height: 100%;
      cursor: pointer;
      background-color: $white;
      z-index: 10;
    
      &::before {
        font-family: "FontAwesome";
        font-size: 8px;
        content: "";
        color: $tertiary_grey;
        position: relative;
        top: 39%;
        display: inline-block;
        @include transform(rotate(90deg));
      }
    }
  }
}

.fa-pane-orientation-vertical {
  > .fa-pane-handle {
    cursor: row-resize;
  }
}

.fa-pane-orientation-horizontal {
  .fa-pane-handle {
    cursor: col-resize;
  }
}

@media screen and (max-width: 45em) {
  #main-pane {
    top: 46px;
  }

  #main-pane > div {
    z-index: 1000;
  }
}

@media screen and (min-width: 45.0625em) {
  #main-pane {
    top: 40px;
  }
}