
/*------------------------------------------------------------------
[VE No Panes Tabls of Contents]

1. General
  1.1 Typography/Layout
2. Panels
  2.1 Tabs
  2.2 List
  2.3 Detail View
    2.3.1 Info table
    2.3.1 Header
    2.3.2.1 Buttons

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
  1.1 General Typography/Layout
-------------------------------------------------------------------*/

.ve-no-panes {

  margin-top: 40px;
  letter-spacing: .05em;

  a {
    color: #333;
  }

  .back-to-docs:before{
    content:"\f060";
    font-family: "FontAwesome";
    padding-right:4px;
  }

  .back-to-docs{
    color:$ve-link;
    font-weight: 500;
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
    margin: 6px 0 40px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }

  .panel-default {
    border-color: $ve-silver-darker-1;
  }

  .nav-tabs{
    border-color: $ve-silver-darker-1;
  }

}


/*------------------------------------------------------------------
2. Panels
-------------------------------------------------------------------*/


.ve-light-list-panels {
  padding: 0;
}

/*------------------------------------------------------------------
  2.2 List
-------------------------------------------------------------------*/

ul.ve-light-list {
  padding-left: 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  background-color: $ve-silver-lighter-1;
  border-right: 1px solid $ve-silver-darker-1;
  margin-bottom: 0;

  h2{
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .14em;
    font-size: 13px;
    color: grey;
  }

  h2 .fa{
    padding-right:4px;
  }

  li.ref-title{
    padding: 8px 10px; 
  }

  li {
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid $ve-silver-darker-1;
  }

  li:hover {
    background: $ve-silver-lighter-0;
  }
  
  li.ref-title:hover {
    background: $ve-silver-lighter-1;
  }
  
  li a,
  li a:hover,
  li a:visited {
    color: #333;
  }

  li.selected {
    background-color: $ve-silver-base;
    box-shadow: 20px 0 0 0 $ve-green-lighter-1;
    width: calc(100% - 3px);

    a {
      font-weight: 600;
    }
  }

  /*Indicates progress*/
  a.ref-duplicating::after{
    content:"(In Progress)";
    font-style:italic;
    font-weight:400;
    padding-left:6px;
  }
}

@media (min-width: 990px) {
  ul.ve-light-list {
    height: calc(100vh - 300px);
    max-height: none;
  }

  .ve-light-panels-detail {
    height: calc(100vh - 300px);
    overflow-y:auto;
  }

  .ve-light-panels-detail-header {
    background-color: $ve-silver-lighter-0;
    height: 45px;
    border-bottom: 1px solid $ve-silver-darker-1;
  }

}

@media (max-height: 500px) {
  ul.ve-light-list {
    height: 300px;
  }

  .ve-light-panels-detail {
    height: 300px;
  }
}

/*------------------------------------------------------------------
  2.3 Detail View
-------------------------------------------------------------------*/

.ve-light-panels-detail {
  padding: 10px 26px;


/*------------------------------------------------------------------
    2.3.1 Info Table
-------------------------------------------------------------------*/
  dd,
  dt {
    padding: 2px 0;
    font-size: 16px;
  }

  dd.link-section {
    padding-bottom: 16px;
  }

  dd.link-section > a, dd.link-section > span {
    color: $ve-link;
    font-weight: 500;
  }

  dd.link-section > a::after {
    content:"\f061";
    font-family: FontAwesome;
    padding-left:4px;
  }

/*------------------------------------------------------------------
    2.3.2 Header
-------------------------------------------------------------------*/
  .panels-detail-title {
    border-bottom: 1px solid $ve-silver-darker-1;
    margin: 8px 0 20px;
    padding-bottom: 16px;

    h3 {
      display: inline-block;
    }

    h3.ref-type.Branch::before{
      content: "\f126";
      font-family: FontAwesome;
      color: $ve-silver-darker-3;
      padding-right: 6px;
      top: 2px;
      position: relative;
    }

    h3.ref-type.Tag::before{
      content: "\f02b";
      font-family: FontAwesome;
      color: $ve-silver-darker-3;
      padding-right: 6px;
      top: 1px;
      position: relative;
    }

    mms-button-bar {
      float: right;
    }
  }

/*------------------------------------------------------------------
      2.3.2.1 Buttons
-------------------------------------------------------------------*/

  span.branch-disabled::before{
    font-family:FontAwesome;
    content: "\2026";
    top: -4px;
    color: #d8d8d8;
    padding-right: 4px;
    text-decoration: none;
    font-size: 24px;
    position: relative;
  }

  dd.link-section > span.branch-disabled{
    color:$ve-light-text;
  }

  dd.link-section > span.branch-disabled:hover{
    text-decoration:none;
  }

}
