body{
	font-family:"Helvetica Neue", sans-serif;
	color: white;
	margin:0;
	font-weight:300;
	letter-spacing: .02em;
}

/****Typography****/

a,
a:hover,
a:visited{
	color:white;
	text-decoration:none;
}


/****Nav****/

nav.global-header,
nav.project-level-header{
	width:100%;
	height:40px;
	min-width: 900px;
}

nav.project-level-header{
	background-color: #313131;
}

nav.global-header{
	background-color: #404040;
}

ul.global-menu{
	list-style: none;
	float:right;
	margin:0;
	font-size:13px;
	padding: 0 10px 0 30px;
}

.global-menu li{
	display:inline;
	padding:0 8px;
	height: 40px;
	line-height: 40px;
}

.global-menu-hamburger{
	display:none;
	float:right;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
}


/****Nav > Layout****/

ul.tags-tasks{
	float:right;
	margin-right: 10px;
	list-style: none;
	margin:0;
	padding:0;
	margin: 0 10px;
}

.tags-tasks li{
	display:inline;
	list-style: none;
	padding:0;
	margin:0;
	float:left;
}

#global-navigation{
	float:right;
}


/****Typography****/

.breadcrumbs{
	display:inline;
}

.breadcrumbs ul{
	list-style:none;
	display: inline;
	margin:0;
	font-size:13px;
	padding-left: 10px;
	top:2px;
	position:relative;
}

.breadcrumbs li{
	display:inline;
}

.breadcrumbs .fa-folder,
.breadcrumbs .fa-file{
	font-size:12px;
	padding: 6px 4px 6px 6px;
}

.breadcrumbs .fa-file{
	font-size: 11px;
	top: -.1em;
	position: relative;
}

.switch-org{
	font-size: 11px;
	text-decoration: underline;
}

.logotype{
	font-weight: 200;
	font-size: 14px;
	line-height:40px;
	padding: 0 8px 0 13px;
	color:#b3b3b3;
}

.org-title{
	font-weight:500;
	font-size: 14px;
	padding-right: 4px;
}

/****UI Elements****/

/****UI Elements > Dropdown****/

.dropdown-toggle{
	display:inline;
	color:white;
	border:none;
	font-size:13px;
	padding:4px;
	font-weight:300;
	font-family:"Helvetica Neue", sans-serif;
	border-radius:2px !important;
	-webkit-transition: background-color .2s ease-out !important;
	-moz-transition: background-color .2s ease-out !important;
	-o-transition: background-color .2s ease-out !important;
	transition: background-color .2s ease-out !important;
}

.dropdown-toggle .fa-caret-down{
	padding: 2px 4px 2px 10px;
	color: #a3a3a3;
}

.dropdown-menu{
	background-color: #505050;
	border:none;
	min-width:100%;
}

ul.dropdown-menu{
	margin-top: 0;
	border-radius: 2px;
}

.dropdown-menu li{
	padding:6px 8px;
    white-space: nowrap;
    width:100%;
    -webkit-transition: background-color .2s ease-out !important;
    -moz-transition: background-color .2s ease-out !important;
    -o-transition: background-color .2s ease-out !important;
    transition: background-color .2s ease-out !important;
}

.dropdown-menu li:hover{
	background-color:#5f5f5f;
}


/****UI Elements > Dropdown > Dense dropdown****/

.project-level-header .dropdown-toggle{
	height:26px;
	background-color:#212121;
	background-color:#404040;
}

.project-level-header .dropdown-toggle:hover{
	background-color:#181818;
}

.project-level-header .label-dropdown{
	color: #a3a3a3;
	font-size:13px;	
	font-weight:300;
	padding: 0 4px;
}

.project-level-header .btn-group.dropdown{
	margin:7px 0 7px 7px;
}

.project-level-header .btn-group.open .dropdown-toggle{
	background-color:#121212;
}

/****UI Elements > Dropdown > Wider Dropdown****/

/** for less dense UIs. Just using modal right now, but 
should maybe have its of class***/

.modal .btn-group{
	display: block;
	width:100%;
	margin: 0 0 16px;
}

.modal .label-dropdown{
	display:block;
}

.modal .dropdown-toggle{
	width:100%;
	background-color:#313131;
	text-align: left;
	font-size:15px;
	padding: 5px 8px;
	height: 34px;
	line-height: 18px;
}

.modal .dropdown-toggle .fa-caret-down{
	float:right;
}

.modal .label-dropdown{
	color: #d6d6d6;
	font-size:14px;	
	padding:6px 0;
}

.modal .dropdown-menu{
	min-width:100%;
	font-size:17px;
}

.modal ul.dropdown-menu{
	background-color:#4d4d4d;
}

.modal .dropdown-menu li:hover {
    background-color: #5c5c5c;
}
.modal .dropdown-menu li {
    padding: 6px 14px;
    font-size: 15px;
}

.modal .dropdown-toggle:hover{
	background-color:#262626;
}

.modal .btn-group.open .dropdown-toggle{
	background-color:#262626;
}

.dropdown-menu.right-screen{
	right:0;
	left: auto;
}

/*When a list item is selected, include a check mark before it. Add additional padding to these lists*/
.dropdown-menu.list-with-selected-item li{
	padding-left:30px;
	position:relative;
}

/*Clear hover on list items with buttons in them */
.dropdown-menu li.button-item:hover{
	background-color:#505050;
}

/*Clear padding for check mark list items with buttons in them */
.dropdown-menu.list-with-selected-item li.button-item{
	padding-left:8px;
}

.checked-list-item::before{
    content: "\f00c";
	font-family: FontAwesome;
	height: 16px;
	position: absolute;
	left: 10px;
	top: 6px;
	width: 16px;
	color: #45cb93;	
}

.dropdown-menu .fa-check {
    padding-right: 6px;
    color: #35bc84;
    font-size: 14px;
}

/****UI Elements > Search****/

#global-search{
	display:inline;
	position:relative;
}
#global-search input{
	background-color: #313131;
	border: none;
	border-radius: 3px;
	font-size: 13px;
	width:300px;
	padding: 4px 28px 4px 8px;
	height:	28px;
	margin:6px 0;
	color:white;
	font-weight:300;
	letter-spacing: .02em;
}

#global-search::after {
    content: "\f002";
	font-family: FontAwesome;
	height: 16px;
	position: absolute;
	right: 8px;
	top: -1px;
	width: 16px;
	color:#939393;
}



/*******Modal Window*******/

.modal-content{
	background-color:#404040;
	border:none;
	border-radius:3px;
}

.modal-body{
	padding: 5px 15px 24px;
}

.modal-title{
	margin: 0;
	line-height: 1.42857143;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.modal-header{
	border-bottom: 1px solid #313131;
}

.modal-footer{
	border-top: 1px solid #313131;
}

.modal-sm{
	width:320px;
}

/*******Buttons*******/

.btn{
	font-weight: 500;
	letter-spacing: .14em;
	font-size: 12px;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
	border:none;
	text-transform: uppercase;
	border-radius:2px;
}


/*******Buttons > Primary button*******/

.btn-primary{
	background-color: #2F889A;
	padding:7px 16px;
}

.btn-primary:hover{
	background-color: #296f83;
	border:none;
}

/*******Buttons > WARNING button*******/

.btn-warning{
	background-color: rgba(255,255,255,0);
	border:none;
}

.btn-warning:hover{
	background-color: rgba(255,255,255,0);
}

#modal-window{
	display:block;
}

@media (max-width: 1000px) {
  .global-menu {
    display: none;
  }
  .global-menu-hamburger {
    display: block;
  }

}



