$max_accordion_panel_height: 300px;

@media screen and (max-width: 45em) {
  #main-pane > div {
    z-index: 1000;
  }
}

mms-nav {
  header {
    z-index: 100;
    position: relative;
    color: $white;
    background: $black;

    .nav-btn {
      position: absolute;
      cursor: pointer;
      top: 25%;
      left: 1em;
    }

    .block-title {
      margin: 0;
      font-size: 1.875em;
      line-height: 1.2em;
      text-align: center;
    }
  }
}

.navbar {
  font-size: 14px;
  z-index: 200;
  position: relative;
  width: 100%;
  height: 40px;
  min-height: 40px;
  border: 0;
  margin-bottom: 0;
  background-color: $base_grey;
  color: $white;
  
  li {
    display: block;

    a {
      font-size: 14px;
      color: $white;
      font-weight: $light_font_weight;
      line-height: 1.28571em;
      outline: none;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }

      &.dropdown-toggle {
        cursor: pointer;
      }
    }

    > a {
      padding-top: 20px;
      padding-bottom: 13px;
    }

    > .dropdown-menu {
      @include border-radius(0px);
      padding: 0;
    }

    &.nav-title-li {
      color: $white;
      font-weight: $light_font_weight;
      font-size: 16px;
      margin-left: 18px;
      margin-right: 48px;
      cursor: default;
    }

    &.nav-doc-li {
      cursor: default;
      padding-right: 10px;
      font-weight: $bold_font_weight;
    }

    &.is-active a {
      color: $white;
    }

    &.dropdown.open > a { 
      background-color: $secondary_grey;
    }
  }

  ul {
    &:before {
      content: "";
      display: table;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &:not(.dropdown-menu) {
      *zoom: 1;
      display: block;
      padding-left: 0;
      padding-right: .7em;
      margin-bottom: 0;
    }
  }

  .logout-btn {
    margin-left: 1em;
    padding-left: 0 !important;
  }

  .support-btn {
    margin-left: 1em;
    padding-left: 0 !important;
  }

  .nav-btn {
    &:hover,
    &:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }

    i {
      color: $white
    }
  }

  .goto.dropdown ul { 
    width: 100%;
  }

  .block {
    position: relative;
    margin: 0 auto;
    z-index: 2;
    top: 25%;
  }

  .dropdown-menu {
    border: 0;
    margin: 8px 0 0;
    padding: 0;


    > li > a {
      padding: 12px;
      background-color: $secondary_grey;
      color: $white;

      &:hover {
        padding: 12px;
        background-color: $secondary_grey;
        color: $white;
      }
    }
  }

  .category-level {
    .panel-heading {
      @include border-radius(0);

      a {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 16px;
        display: block;
        line-height: 1.42857143;
        color: $white;
        background-color: $secondary_grey;
      }
    }
  }

  .site-level {
    .panel-heading {
      a {
        background-color: $dark_grey;
      }
    }

    .panel-title > a:hover {
      cursor: pointer;
      text-decoration: none; 
    }

    a.dash-link,
    a.docweb-link {
      display: inline-block;
      text-align: center;
      color: $white;
      text-decoration: none;
      height: 100%;
      width: 50%;
      line-height: 40px;
      background-color: $medium_grey;

      &:hover {
        cursor: pointer;
        background-color: $light_grey;
        @include transition($background_hover_transition);
      }
    }
  }

  .nav-dropdown-icon {
    padding-left: 10px;
    padding-right: 10px;
  }

  accordion {
    .panel {
      border: 0;
      background-color: $secondary_grey;
      @include border-radius(0);

      & > .panel-heading + .panel-collapse .panel-body {
        border-top: 0;
      }
    }

    > .panel-group {
      margin-bottom: 0;

      accordion > .panel-group {
        max-height: $max_accordion_panel_height;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }

    .panel-group .panel {
      @include border-radius(0);

      & + .panel {
        margin-top: 0;
      }
    }

    .panel-body,
    .panel-heading {
      padding: 0;
    }

    .panel-title {
      font-size: inherit;
      font-weight: $default_font_weight;

      & > a:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .accordion-links {
      text-align: center;
      height: 40px;
      background-color: $dark_grey;
    }
  }

  .accordion-dropdown {
    border-left-width: 0;
    min-width: 200px;
  }

  .accordion-toggle {
    width: 270px;

    > .fa {
      line-height: inherit;
    }
  }
}

/************************* Large displays *************************/
@media screen and (min-width: 45.0625em) {
  header .banner-title {
    display: none;
  }

  header .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .navbar {
    li {
      display: none;
      font-weight: $light_font_weight;
      display: inline-block;

      a {
        padding-left: 10px; 

        &.app-title {
          font-size: 18px;
        }
      }

      ul li {
        display: block;
      }

      &:last-child {
        border-right: none; 
      }
    }

    li.goto {
      .dropdown-menu a:hover {
        background: $dark_grey;
        @include transition($background_hover_transition);
      }
    }

    .block {
      ul {
        .nav-btns-main {
          display: block
        }

        .nav-btns-flyover,
        .docweb-flyover,
        .dashboard-flyover {
          display: none;
        }

        &:not(.nav-btns-main),
        &:not(.nav-btns-flyover) {
          height: 0;
        }
      }
    }
  }
}

/************************* Small displays *************************/
@media screen and (max-width: 45em) {
  ul.nav-btns-main {
    margin-top: -20px;
  }

  .out-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor:pointer;
    background-clip: padding-box;
  }

  .nav-btn i {
    padding-top: 6px;
    color: $white;
  }

  header {
    .block {
      height: 46px;
      background-color: $base_grey;
    }

    .banner-title {
      position: relative;
      top: 25%;
      font-weight: 100;
      font-size: 19px;
      text-align: center;
      pointer: default;
    }
  }

  .navbar {
    position: relative;
    top: -75px;
    padding-top: 1em;

    &:not(:target) {
      z-index: 1;
      height: 0; 
    }

    .goto-dropdown {
      @include border-radius(0);

      li {
        top: 0;
        height: inherit;
        border: 0;
      }
    }

    .block ul {
      height: 100vh;
      width: 100%;
    }

    li {
      position: relative;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      top: 5em;
      height: 3.5em;
      width: 100%;

      a {
        position: relative;
        top: 25%;
        font-weight: $light_font_weight;
        padding: 0.4em 2.14286em;
      }

      &.nav-title-li {
        display: none; 
      }

      &.nav-doc-li {
        padding: .4em 2.14286em;
        text-shadow: none;
        border-top: 0;
      }

      &.is-active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -0.625em;
        border-top: 0.625em transparent solid;
        border-bottom: 0.625em transparent solid;
        border-right: 0.625em $white solid;
      }

      &:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          border-bottom: 1px solid $base_grey !important;
        }
      }
    }

    .block {
      ul.nav-btns-main,
      li.goto,
      li.other-sites,
      li.nav-doc-li {
        display: none;
      }

      ul.nav-btns-flyover,
      li.docweb-flyover,
      li.dashboard-flyover {
        display: block;
        float: left !important;
        padding-right: 0;
      }
    }
  }

  .js-ready {
    .navbar {
      left: -70%;
      height: 100%;
      width: 70%;
      background: $base_grey;
      @include box-shadow(inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25));

      .block {
        background: transparent; 
      }
    }

    #inner-wrap {
      left: 0;
    }
  }

  .js-nav #inner-wrap {
    left: 20%;
  }

  .csstransforms3d.csstransitions.js-ready {
    .navbar {
      @include transform(translate3d(-100%, 0, 0));
      @include backface-visibility(hidden);
      left: 0;
    }

    #inner-wrap {
      @include transform(translate3d(0, 0, 0));
      @include backface-visibility(hidden);
      @include transition($background_hover_transition);
      -webkit-transition: -webkit-transform 500ms ease;
      -moz-transition: -moz-transform 500ms ease;
      -o-transition: -o-transform 500ms ease;
      transition: transform 500ms ease;
      left: 0 !important;
    }

    .navbar .block {
      @include transform(translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9));
      -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
      -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
      -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
      transition: opacity 300ms 100ms ease, transform 500ms ease;
      -webkit-transition-delay: ease, 0s;
      transform-origin: 50% 0%;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
    }
  }

  .csstransforms3d.csstransitions.js-nav {
    #inner-wrap {
      @include transform(translate3d(70%, 0, 0) scale3d(1, 1, 1));
    }

    .navbar .block {
      @include transform(translate3d(0, 0, 0));
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }
}