# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/node:20.1.0-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - openmbee-ve-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - openmbee-ve-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: openmbee-ve-{{ checksum "package.json" }}

      - run: VE_ENV=example yarn test
