<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
    {{node.name}}
  </div>
  <ol ui-tree-nodes="" ng-model="node.children">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
<div ui-tree>
  <ol ui-tree-nodes="" ng-model="tree" id="tree-root">
    <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  </ol>
</div>
<button ng-click="save()">save</button>