<div fa-pane="element" pane-anchor="east" pane-size="30%" pane-handle="3" pane-min="30px">
    <tabset>
        <tab heading="Spec">
            <div class="container-fluid"><mms-spec eid="{{eid}}" transcludable-elements="viewElements" editable-field="all"></mms-spec></div>
        </tab>
        <tab heading="History">
            <div class="container-fluid"></div>
        </tab>
        <tab heading="Comments">
            <div class="container-fluid"></div>
        </tab>
    </tabset>
</div>
<div fa-pane pane-anchor="center">
    <tabset>
        <tab heading="View">
            <div class="container-fluid">
                <mms-view vid="{{vid}}" transclude-clicked="tscClicked(elementId)"></mms-view>
            </div>
        </tab>
    </tabset>
</div>