<!doctype html>
<html lang="en" ng-app="mmsApp">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
  <meta charset="utf-8">

  <title>ARRM Home</title>


  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="css/arrmHome.css" rel="stylesheet" type="text/css">


  <script type="text/javascript">
  	var slideimages = new Array("arrmimages/orbitor.jpg","arrmimages/eva.jpg","arrmimages/commTerminal.jpg","arrmimages/arv_models.jpg","arrmimages/budget.jpg","arrmimages/boulder_capture.jpg","arrmimages/testbed.jpg")

	var titleArray = new Array("18 May 2015 story: NASA Seeks Additional Information for Asteroid Redirect Mission Spacecraft","Astronaut EVA with tools at boulder","Ground-based Optical Comm Terminal could support a secondary optical telecom system for high data rate downlink in lunar orbit and potentially, at the asteroid.","Notional ARV Modules and Launch Adapter Design","NASA FY\u0026#39;16 Budget Summary Briefing Calls Our ARRM work","Announcement:  ARRM MCR rescheduled for March 24, 2015.","Boulder Capture Simulations Test-bed")
	</script>



</head>

<!-- <body class="backgrounddd"> -->
<body style="	    background-image: url('arrmimages/backgroundImage.jpg');
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center; 
	    overflow-x: auto;
	    overflow-y: auto;">

	<div class="transboxRed">
		<ul>
		  <li><a href="https://js.jpl.nasa.gov">JPL Space | </a></li>
		  <li><a href="http://www.jpl.nasa.gov/">JPL | </a></li>
		  <li><a href="http://www.caltech.edu/" >Caltech | </a></li>
		  <li><a href="http://www.nasa.gov" >NASA</a></li>
		</ul>
	</div>



	<!-- <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="...">
	      </a>
	    </div>
	  </div>
	</nav> -->
	<script type="text/javascript">		

		var image_number = 0
		var image_length = slideimages.length -1

		function change_image(num){

			// if(num = 0){
			// 	document.slidewhow.src= slideimages[image_number]
			// 	document.getElementById("description").innerHTML = titleArray[image_number];
			// 	setInterval(100000)
			// }

			image_number = image_number + num

			if(image_number > image_length){
				image_number = 0
			}

			if(image_number <0){
				image_number = image_length
			}

			// document.write(image_number)
			document.slidewhow.src= slideimages[image_number]
			document.getElementById("description").innerHTML = titleArray[image_number];
			return false;
		}

		function auto(){
			setInterval("change_image(1)", 2500)
		}

		// function getImageNum(){
		// 	return image_number
		// }

		function pause(){
			// setInterval(5000)
			setInterval("change_image(0)", 5000)
		}
	window.onload = auto()
	</script>

	<div class="transbox">

		<h1><a href="#" style="margin-left:auto; margin-right:auto; font-weight:600; font-size:120%;" > Asteroid Robotic Redirect Mission </a></h1>
		<h1><a href="#" style="font-size:100%"> Home </a></h1>

	</script> -->


		<table align="center" style="border: 1px solid black; border-collapse:collapse;">
			<tr> <!-- one big row -->
				<td>
					<h2><a href="https://arrm.jpl.nasa.gov/confluence" style="font-size:100%;"> Administrative Resources </a></h2>

				</td>
				<td style="border: 1px solid black;">
				</td>
				<td style="border: 1px solid black;">
					<h2> Technical Design Concept Info </h2>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">
						<h3> ARRM Resources: </h3>
						<p><a href="https://arrmems.jpl.nasa.gov/share" style="font-size:100%;"> Library </a></p>
						<p><a href=" https://arrm.jpl.nasa.gov/jira/secure/BrowseProjects.jspa?selectedCategory=all" style="font-size:100%;"> Jira Site </a></p>
						<p><a href="https://arrmems.jpl.nasa.gov/" style="font-size:100%;"> View Editor </a></p>
				</td>


				<td rowspan="4" style="border: 1px solid black; width:500px;"> <!--image here -->
					<!-- <div style:"padding:20px;"> -->
						<img src="arrmimages/orbitor.jpg" class="center" name="slidewhow" width="325" height="340" style="border-style:solid; border-color:black;"/>
			<!-- center image in block link o jsfiddle.net/csbp2 -->
							<p id="description" style="margin-left: auto; margin-right: auto; text-align: center; color:white;  word-wrap:break-word; text-indent:0px; width:400px; height: 50px; "> 18 May 2015 story: NASA Seeks Additional Information for Asteroid Redirect Mission Spacecraft </p>
						<table align="center" style="width:100px; border-color:black;">
							<tr>
								<!-- <td align="left"><a href="" onclick="return change_image(-1)" class="arrow-left"></a></td>  -->
								<td align="left"><a href="" ng-click="change_image(-1)" style="font-size:80%; border-color:black"> PREV </a></td> 
								<!-- <td align="center"><a href="" onclick="auto()">AUTO</a></td> -->
								<!-- <td align="center"><a href="" onclick="return pause()" >PAUSE</a></td> -->
								<td align="right"><a href="" ng-click="change_image(1)" style="font-size:80%; border-color:black"> NEXT </a></td>
							</tr>
						</table>
					<!-- </div> -->
				</td>

				<td style="border: 1px solid black;">
					<h3> Mission Objectives & Requirements</h3>
					<h3> Mission Design</h3>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;">
					<h3> Administrative:</h3>
					<p> Team Org Tree </p>
					<p> Project Schedule </p>
					<p><a href="arrmimages/newMemberForm.doc" download style="font-size:100%"> New Member Form </a></p>
				</td>
				<td style="border: 1px solid black;">
					<h3> Block Diagrams </h3>
					<p style="color:#ff0000; text-indent:5px">  (composition & interfaces) </p>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;"> 
					<h3>ARRM Library </h3>
					<p> Work Area </p>
					<p><a href="calendar.html" style="font-size:100%;"> Reviews and Meetings </a></p>
					<p> MMRs </p>
				</td>
				<td style="border: 1px solid black;">
					<h3> Mechanical Drawings </h3>
					<h3> Functional OpsCon </h3>
				</td>

			</tr>
			<tr>
				<td style="border: 1px solid black;">
					<h3> Public Sites: </h3>
					<p> Asteroid Redirect Mission </p>
					<p> Asteroid Initiative </p>
				</td>
				<td style="border: 1px solid black;">
					<h3> Mass: </h3>
					<p> MEL & Margins </p>
					<h3> Power: </h3>
					<p> PEL & Margins </p>
					<p> Power Modes </p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 1px solid black;">
					<h3> Released Documents and Presentation </h3>
					<p> 2014 ARRM Mission Concept Options Overview </p>
					<p> 2013 ARRM Feasibility Study </p>
				</td>
				<td style="border: 1px solid black;">
		<!-- 			<p> PEL & Margins </p>
					<p> Power Modes </p> -->
					<h3> Data: </h3>
					<p> Characteristics </p>
					<p> Analyses </p>
				<td>
			</tr>

		</table>


		<div class="transbox" style="border: 1px solid white;">

<!-- 			<h4 style="text-align:center; font-size:100%; font-weight:200; color:white;"> Project Manager: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Project Technologist: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Content Manager:</h4>  -->

			<h4 style="text-align:center; font-size:100%; font-weight:400; color:white;">Point of Contanct for any ARRMEms Portal issues:  Tanaz Mozafari (312E) Tanaz.Mozafari@jpl.nasa.gov ex:3-8635</h4>

		</div>

			
	</div>

</body>


