/* Important VE Variables */
@use "globals";

/* Import Third-Party CSS/SASS */
@import "~angular-hotkeys/src/hotkeys.css";
@import "~angular-growl-v2/src/growl.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@openmbee/pane-layout/styles/styles.css";

/* Local Bootstrap */
$enable-gradients: true;
$theme-colors: (
  "primary": globals.$brand-base,
  "warning": globals.$ve-warning
);
$enable-caret: false;

@import "~bootstrap/scss/bootstrap";

/* Import VE Directive Styles */
@import "ve-components";

/* Import VE APP Styles */
@import "ve-app";
