<table class="table">
  
  <caption>Element</caption>

  <thead>
    <tr>
      <th></th>
      <th>Theirs</th>
      <th>Mine</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-class="{{options.statuses[originalNode.property_status.name].style}}">
      <td>Name</td>
      <td>{{original.name}}</td>
      <td>{{delta.name}}</td>
    </tr>

    <tr ng-class="{{options.statuses[originalNode.property_status.owner].style}}">
      <td>Owner</td>
      <td>{{original.owner}}</td>
      <td>{{delta.owner}}</td>
    </tr>

    <tr ng-class="{{options.statuses[originalNode.property_status.documentation].style}}">
      <td>Documentation</td>
      <td>{{original.documentation}}</td>
      <td>{{delta.documentation}}</td>
    </tr>
  </tbody>

</table>

<table class="table">

<div>
  <caption>Specializations</caption>
  
    <thead>
      <tr>
        <th></th>
        <th>Theirs</th>
        <th>Mine</th>
      </tr>
    </thead>
  
    <tbody>
      <tr ng-class="{addition: specAddition, removal: specRemoval, update: specUpdate, clean: specClean}">
        <td>Specialization Type</td>
        <td>{{original.specialization.type}}</td>
        <td>{{delta.specialization.type}}</td>
      </tr>
  
      <tr ng-class="{addition: typeAddition, removal: typeRemoval, update: typeUpdate, clean: typeClean}">
        <td>Value Type</td>
        <td>{{original.specialization.valueArray[0]}}</td>
        <td>{{delta.specialization.valueArray[0]}}</td>
      </tr>
  
      <tr ng-class="{addition: valAddition, removal: valRemoval, update: valUpdate, clean: valClean}">
        <td>Value</td>
        <td>{{original.specialization.valueArray[1]}}</td>
        <td>{{delta.specialization.valueArray[1]}}</td>
      </tr>
    </tbody>
</div>

</table>