<h1><i class="fa {{change.icon}} icon-{{change.type}}"></i> {{change.name}}</h1>

<table class="table">
  
  <h1>Element</h1>

  <thead>
    <tr>
      <th></th>
      <th>A</th>
      <th>B</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr class="{{options.statuses[change.properties.name.type].style}}">
      <td>Name</td>
      <td>{{change.original.name}}</td>
      <td>{{change.delta.name}}</td>
      <td>
        <span ng-show="originalNode.property_conflict_status.name">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.name].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'name');">{{options.statuses[originalNode.property_status.name].button}}</button>
        </span>
      </td>
    </tr>

    <tr class="{{options.statuses[change.properties.owner.type].style}}">
      <td>Owner</td>
      <td>{{change.original.owner}}</td>
      <td>{{change.delta.owner}}</td>
      <td>
        <span ng-show="originalNode.property_conflict_status.owner">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.owner].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'owner');">{{options.statuses[originalNode.property_status.owner].button}}</button>
        </span>
      </td>
    </tr>

    <tr class="{{options.statuses[change.properties.documentation.type].style}}">
      <td>Documentation</td>
      <td>{{change.original.documentation}}</td>
      <td>{{change.delta.documentation}}</td>
      <td>
        <span ng-show="change.properties.originalNode.property_conflict_status.documentation">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.documentation].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'documentation');">{{options.statuses[originalNode.property_status.documentation].button}}</button>
        </span> 
      </td>
    </tr>
  </tbody>

</table>

<table class="table">

<div>
  
    <h1>Specializations</h1>

    <thead>
      <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
      </tr>
    </thead>
  
    <tbody>
      <tr ng-class="{addition: specAddition, removal: specRemoval, update: specUpdate, clean: specClean}">
        <td>Specialization Type</td>
        <td>{{original.specialization.type}}</td>
        <td>{{delta.specialization.type}}</td>
      </tr>
  
      <tr ng-class="{addition: typeAddition, removal: typeRemoval, update: typeUpdate, clean: typeClean}">
        <td>Value Type</td>
        <td>{{original.specialization.valueArray[0]}}</td>
        <td>{{delta.specialization.valueArray[0]}}</td>
      </tr>
  
      <tr ng-class="{addition: valAddition, removal: valRemoval, update: valUpdate, clean: valClean}">
        <td>Value</td>
        <td>{{original.specialization.valueArray[1]}}</td>
        <td>{{delta.specialization.valueArray[1]}}</td>
      </tr>
    </tbody>
</div>

</table>