<div fa-pane pane-anchor="west" pane-size="20%" pane-handle="4" pane-min="20px" class="west-tabs">
	<div class="container-fluid">
		<br>
	    <div align="center">
	  	   <button type="button" class="btn btn-success">Merge Workspace (Staged Changes)</button>
	    </div>	
	    <br>	
		<table class="table table-hover table-condensed">
			<caption><h4>Staged Changes<h4></caption>
		    <tr ng-click="selectChange(change)" ng-repeat="change in changes | filter: {staged: true}">
		        <td><i class="fa {{change.icon}} icon-{{change.type}}"><i></td>
		        <td>{{change.name}}</td>
		        <td>
		        	<button ng-click="stageChange(change)" type="button" class="btn btn-danger btn-xs">Unstage</button>
		        </td>
		    </tr>
		</table>
		<table class="table table-hover table-condensed">
			<caption><h4>Unstaged Changes<h4></caption>
		    <tr ng-click="selectChange(change)" ng-repeat="change in changes | filter: {staged: false}">
		        <td><i class="fa {{change.icon}} icon-{{change.type}}"><i></td>
		        <td>{{change.name}}</td>
		        <td>
		        	<button ng-click="stageChange(change)" type="button" class="btn btn-primary btn-xs">Stage</button>
		        </td>
		    </tr>
		</table>		
	</div>
</div>
<div fa-pane pane-anchor="east" pane-size="20%" pane-handle="4" pane-min="20px">
	<br>
    <div align="center">
  	   <h4>Staged Tree</h4>
    </div>		
	<mms-tree tree-data="treeData" tree-control="treeapi" section-numbering="false" options="options"></mms-tree>
</div>
<div fa-pane pane-anchor="center" pane-size="60%" pane-handle="4" pane-min="30px">
	<div class="container-fluid" 
		<div ui-view="view">Select an item from the Table of Contents.</div>
	</div>
</div>
