<div fa-pane pane-anchor="west" pane-size="25%">
	<mms-diff-tree></mms-diff-tree>

	<button ng-click="submitChanges()" type="button" class="btn btn-success">Submit</button>
	<button ng-click="cancelChanges()" type="button" class="btn btn-danger">Cancel</button>
	<button ng-click="stageChange('_456_93419_14')" type="button" class="btn btn-success">Test Stage Burger</button>
</div>
<div fa-pane pane-anchor="east" pane-size="75%" class="main-view-container">
	<mms-diff-table></mms-diff-table>
</div>
