<div fa-pane pane-anchor="west" pane-size="25%">

  <div class="tree-view-btn-group btn-group">
    <button ng-click="submitChanges()" type="button" class="btn btn-success">Submit</button>
    <button ng-click="goBack()" type="button" class="btn btn-danger">Go Back</button>
  </div>

	<mms-tree tree-data="treeData" tree-control="treeapi" section-numbering="false" options="options" on-select="select_branch_id(branch.data.sysmlid)"></mms-tree>

</div>
<div fa-pane pane-anchor="east" pane-size="75%" class="main-view-container">
	<div ui-view="view">Select an item from the Table of Contents.</div>
</div>
