<h1 class="pane-center-header"><i class="fa {{change.icon}} icon-{{change.type}}"></i> {{change.name}}</h1>

<table class="table">
  
  <h1 class="pane-center-heading">Element</h1>

  <thead>
    <tr>
      <th></th>
      <th>{{diff.workspace1.name}}</th>
      <th>{{diff.workspace2.name}}</th>
      <!--
      <th></th>
      -->
    </tr>
  </thead>

  <tbody>
    <tr class="{{options.statuses[change.properties.name.type].style}}">
      <td>NAME</td>
      <td>{{change.original.name}}</td>
      <td>{{change.delta.name}}</td>
      <!-- 
      <td>
        <span ng-show="originalNode.property_conflict_status.name">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.name].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'name');">{{options.statuses[originalNode.property_status.name].button}}</button>
        </span>
      </td>
    -->
    </tr>

    <tr class="{{options.statuses[change.properties.owner.type].style}}">
      <td>OWNER</td>
      <td>{{change.original.owner}}</td>
      <td>{{change.delta.owner}}</td>
      <!-- 
      <td>
        <span ng-show="originalNode.property_conflict_status.owner">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.owner].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'owner');">{{options.statuses[originalNode.property_status.owner].button}}</button>
        </span>
      </td>
    -->
    </tr>

    <tr class="{{options.statuses[change.properties.documentation.type].style}}">
      <td>DOC</td>
      <td>{{change.original.documentation}}</td>
      <td>{{change.delta.documentation}}</td>
      
      <!--
      <td>
        <span ng-show="change.properties.originalNode.property_conflict_status.documentation">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.documentation].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'documentation');">{{options.statuses[originalNode.property_status.documentation].button}}</button>
        </span> 
      </td>
    -->
    </tr>
  </tbody>

</table>

<div ng-switch on="change.original.specialization.type || change.delta.specialization.type">
  <div ng-switch-when="Property">

    <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{diff.workspace1.name}}</th>
          <th>{{diff.workspace2.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{options.statuses[change.properties.specialization.type.type].style}}">
          <td>TYPE</td>
          <td>{{change.original.specialization.type}}</td>
          <td>{{change.delta.specialization.type}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.specialization.value.type].style}}" ng-switch on="change.original.specialization.type">
          <td>VALUE : VALUE TYPE</td>
          <td>
            <div ng-repeat="value in change.original.specialization.value" ng-switch on="value.type">
              <span ng-switch-when="LiteralInteger">{{value.integer}} : {{value.type}}</span>
              <span ng-switch-when="LiteralBoolean">{{value.boolean}} : {{value.type}}</span>
              <span ng-switch-when="LiteralReal">{{value.double}} : {{value.type}}</span>
              <span ng-switch-when="LiteralUnlimitedNatural">{{value.naturalValue}} : {{value.type}}</span>
              <span ng-switch-when="LiteralString" ng-bind-html="value.string"></span>
            </div>
          <td>
            <div ng-repeat="value in change.delta.specialization.value" ng-switch on="value.type">
              <span ng-switch-when="LiteralInteger">{{value.integer}} : {{value.type}}</span>
              <span ng-switch-when="LiteralBoolean">{{value.boolean}} : {{value.type}}</span>
              <span ng-switch-when="LiteralReal">{{value.double}} : {{value.type}}</span>
              <span ng-switch-when="LiteralUnlimitedNatural">{{value.naturalValue}} : {{value.type}}</span>
              <span ng-switch-when="LiteralString" ng-bind-html="value.string"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div ng-switch-default>
  
    <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{diff.workspace1.name}}</th>
          <th>{{diff.workspace2.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in change.properties.specialization" class="{{options.statuses[change.properties.specialization[key].type].style}}">
          <td>{{key | uppercase }}</td>
          <td>{{change.original.specialization[key]}}</td>
          <td>{{change.delta.specialization[key]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div> 