<div class="container-fluid">
	<table class="table table-hover table-condensed">
		<caption><h1>Workspaces<h1></caption>
		<tr>
	        <th>Name</th>
	        <th>Creator</th>
	        <th>Date Created</th>
	        <th>Date Last Updated</th>
	        <th>Parent</th>
	        <th></th>
	    </tr>
	    <tr ng-repeat="workspace in workspaces | orderBy: 'name'">
	        <td>{{workspace.name}}</td>
	        <td>{{workspace.creator}}</td>
	        <td>{{workspace.created | date:'M/d/yy h:mm a' }}</td>
	        <td>{{workspace.branched | date:'M/d/yy h:mm a'}}</td>
	        <td>{{workspace.parent}}</td>
	        <td>
	        	<a class="btn btn-primary btn-sm" ui-sref="main.diff({source: workspace.parent, target: workspace.name})">Compare</button>
	        </td>
	    </tr>
	</table>
</div>