<div class="container-fluid">
	<div class="row">
		<br>
        <div class="col-md-4">
            <input class="form-control" type="text" ng-model="filter" placeholder="Search for a workspace" />
        </div>
        <div class="col-md-8">
        	<table>
        		<caption>Change Comparison</caption>
        		<tr>
        			<th>FROM</th>
        			<th>TO</th>
        		</tr>
        		<tr>
        			<td>{{merge_state.B.name || 'Pick [From]'}}</td>
        			<td>{{merge_state.A.name || 'Pick [To]'}}</td>
        		</tr>
                <tr>
                    <td><button ng-click="pickB(master)">Set to master</button></td>
                    <td><button ng-click="pickA(master)">Set to master</button></td>
                </tr>
        	</table>
        	<a class="btn btn-success btn-sm" ui-sref="main.diff({source: merge_state.A.id, target: merge_state.B.id})">COMPARE</a>
        </div>
    </div>
	<hr>
	<div ng-repeat="ws in workspaces | filter:filter | orderBy:'qualifiedName'">
		<h2>{{ws.qualifiedName | masterToTask }}
			<button ng-click="createWorkspace(ws.id)" class="btn btn-success">CREATE TASK</button>
		</h2>
		<table class="table table-hover table-condensed">
			<tr>
		        <th>TASK NAME</th>
		        <th>TASK AUTHOR</th>
		        <th>LAST MODIFIED</th>
		        <th>DATE CREATED</th>
		        <th></th>
		        <th></th>
		    </tr>
		    <tr ng-repeat="workspace in workspaces_groupByParent[ws.id] | orderBy: 'name'">
		        <td>
		        	<a href="portal.html#/workspaces/{{workspace.id}}" target="_blank">{{workspace.name}}</a>
		        </td>
		        <td>{{workspace.creator}}</td>
		        <!-- NOTE: Created is really modified, revert back later.  Branched is created -->
		        <td>{{workspace.created | date:'M/d/yy h:mm a' }}</td>
		        <td>{{workspace.branched | date:'M/d/yy h:mm a'}}</td>
		        <td>
			        <a class="btn btn-primary btn-sm" ng-click="pickB(workspace)">Pick [From]</a>
		        </td>
		        <td>
			        <a class="btn btn-primary btn-sm" ng-click="pickA(workspace)">Pick [To]</a>
		        </td>
		    </tr>
		</table>
	<div>
</div>