<div class="pane-left">

  <mms-button-bar buttons="buttons" on-click="onClick(button)" mms-bb-api="bbApi"></mms-button-bar>

  <div>

    <input class="input-filter-tree form-control" ng-show="filterOn" ng-model="search" type="text" placeholder="Type here to filter items in the tree" ng-change="treeApi.expand_all()">

  </div>

  <div ng-show="mergeOn">
    <div>From: <span ng-if="mergeFrom.type == 'Configuration'">Tag {{mergeFrom.data.name}}</span>
              <span ng-if="mergeFrom.type == 'Workspace'">Task {{mergeFrom.data.name}}</span>
              <a tooltip="Change to selected" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" ng-click="pickNew('from', treeApi.get_selected_branch())"><i class="fa fa-pencil"></i></a>
    </div>
    <div>To: <span ng-if="mergeTo.type == 'Configuration'">Tag {{mergeTo.data.name}}</span>
            <span ng-if="mergeTo.type == 'Workspace'">Task {{mergeTo.data.name}}</span>
            <a tooltip="Change to selected" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" ng-click="pickNew('to', treeApi.get_selected_branch())"><i class="fa fa-pencil"></i></a>
    </div>
 
	 <a class="btn btn-success btn-xs" ng-click="compare()">COMPARE <i ng-show="comparing" class="fa fa-spin fa-spinner"></i></a>
  </div>

  <mms-tree search="search" tree-data="my_data" section-numbering="false" tree-control="treeApi" on-select="my_tree_handler(branch)" initial-selection="{{tree_initial}}" options="tree_options"></mms-tree>

</div>