<div class="pane-right">
    <div class="container-fluid">
    	<div ng-if="type=='Workspace'">
		    <h1 class="prop element-title">{{element.name}}</h1>

		    <h2 class="prop-title">TASK AUTHOR</h2>
		    <h3 class="prop">{{element.creator}}</h3>
		   <!-- <h2 class="prop-title spec-view-type-heading">LAST MODIFIED</h2>
		    <h3 class="prop">{{element.modified | date:'M/d/yy h:mm a'}}</h3> -->

		    <h2 class="prop-title">DATE CREATED</h2>
		    <h3 class="prop">{{element.created | date:'M/d/yy h:mm a'}}</h3>
		</div>
		<div ng-if="type=='Configuration'">
			<h1 class="prop element-title">{{element.name}}</h1>
			<h2 class="prop-title">DESCRIPTION</h2>
			<div ng-bind-html="element.description"></div>
			<h2 class="prop-title">TIMESTAMP</h2>
			<h3 class="prop">{{element.timestamp | date:'M/d/yy h:mm a'}}</h3>
		</div>
    </div>
</div>