<!-- <i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="veViewLoading"></i>

<div ng-hide="veViewLoading" class="pane-center container-fluid"> -->
<div class="pane-center container-fluid">

  <div class="pane-center-btn-group">

     <a type="button" ng-repeat="button in buttons" class="view-tools center" ng-click="button.action()" tooltip="{{button.tooltip}}" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="bottom">
          <span class="fa {{button.icon}}"></span>
      </a>

  </div>

  <div class="pane-center-inner">
    

      <h4><a class="docweb-link" href="portal.html#/workspaces/{{ws}}/tags/{{config}}">Site Portal</a></h4>

    
    <div ng-repeat="site in sites | orderBy: 'name'">
        <!-- <h4 style="display:inline;">{{document.name}}</h4> -->

      <a class="dash-link" href="portal.html#/workspaces/{{ws}}/tags/{{config}}/sites/{{site.sysmlid}}">{{site.name}}</a>   

      <a class="dash-link" href="portal.html#/workspaces/{{ws}}/tags/{{config}}/sites/{{site.sysmlid}}" target="_blank"> <span class="fa fa-external-link"></span></a>   

    </div>

  </div>

</div>