/*************************
  Typography for MMS that correspond to
  the MMS app design guide
*************************/

$default_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$light_font_family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$light_font_weight: 200;
$default_font_weight: 400;
$bold_font_weight: 500;