/*************************
  Typography for MMS that correspond to
  the MMS app design guide
*************************/

$light-font-family-sans-serif: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$light_font_weight: 200;
$default_font_weight: 400;
$bold_font_weight: 700;