/*************************
  Declarations
*************************/

@viewport {
  width: device-width;
}

$max_accordion_panel_height: 300px;
$background_hover_transition: background-color .2s linear;