<!doctype html>
<html lang="en" ng-app="mmsApp">
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
  <meta charset="utf-8">

  <title>ARRM Home</title>

  <!-- bower:css -->
  <!-- endbower -->

  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- <link href="css/mm-mms.styles.min.css" rel="stylesheet" type="text/css"> -->
  <!-- <link href="css/ve-mms.styles.min.css" rel="stylesheet" type="text/css"> -->
  <link href="css/arrmHome.css" rel="stylesheet" type="text/css">

<!--	<script type="text/javascript">

	// var slideimages = new Array() // create new array to preload images
	// slideimages[0] = new Image() // create new instance of image object
	// slideimages[0].src = "arrmimages/orbitor.jpg"//http://www.nasa.gov/sites/default/files/thumbnails/image/15-094.jpg" // set image src property to image path, preloading image in the process
	// slideimages[1] = new Image()
	// slideimages[1].src = "arrmimages/orion.jpg"//https://upload.wikimedia.org/wikipedia/commons/8/80/Orion_with_ATV_SM.jpg"
	// slideimages[2] = new Image()
	// slideimages[2].src = "arrmimages/budget.jpg"//http://images.spaceref.com/news/2004/02.01.04.chart.2.lrg.jpg"
	// slideimages[3] = new Image()
	// slideimages[3].src = "arrmimages/asteroid.jpg"//http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/4000x2445+0+327/resize/630x385!/format/jpg/quality/85/http://hss-prod.hss.aol.com/hss/storage/midas/9d45beddc69216d5863a060ff0c2d8d9/200723983/469055831.jpg"
	// slideimages[4] = new Image()
	// slideimages[4].src = "arrmimages/commTerminal.jpg"
	// slideimages[5] = new Image()
	// slideimages[5].src = "arrmimages/eva.jpg"//https://upload.wikimedia.org/wikipedia/en/7/78/Nasa_astronaut_training_at_NBL.jpg"
	// slideimages[6] = new Image()
	// slideimages[6].src = "arrmimages/announcement.jpg"//http://vignette3.wikia.nocookie.net/psi/images/8/8c/Empty_board_promotion_announcement.jpg/revision/latest?cb=20130707174434"


// var slideimages = new Array("arrmimages/orbitor.jpg","arrmimages/orion.jpg", "arrmimages/budget.jpg","arrmimages/asteroid.jpg", "arrmimages/commTerminal.jpg","arrmimages/eva.jpg","arrmimages/announcement.jpg")

// var slideimages = new Array("http://www.nasa.gov/sites/default/files/thumbnails/image/15-094.jpg","https://upload.wikimedia.org/wikipedia/commons/8/80/Orion_with_ATV_SM.jpg","http://images.spaceref.com/news/2004/02.01.04.chart.2.lrg.jpg","http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/4000x2445+0+327/resize/630x385!/format/jpg/quality/85/http://hss-prod.hss.aol.com/hss/storage/midas/9d45beddc69216d5863a060ff0c2d8d9/200723983/469055831.jpg",)

// var slideimages = ("https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/15-094_jpg.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/Screen%20Shot%202015-02-03%20at%209.20.45%20AM_png.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/Screen%20Shot%202015-02-04%20at%208.52.58%20AM_png.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/Boulder_capture_testbed_png.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/ground_terminal_png.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/eva_png.jpg","https://gateway-uat.jpl.nasa.gov/sites/ARRM/Site%20Images/_w/boulder_capture_png.jpg")




	</script> -->


</head>
<!-- <body background= "https://gateway-uat.jpl.nasa.gov/sites/ARRM/_catalogs/theme/Themed/1554F203/0917da1b-bfc1-42d8-839b-44a73a779638bkimage-480DF201.themedjpg?ctag"> -->
<!-- <body background="background-image: url(https://gateway-uat.jpl.nasa.gov/sites/ARRM/_catalogs/theme/Themed/1554F203/0917da1b-bfc1-42d8-839b-44a73a779638bkimage-480DF201.themedjpg?ctag);background-repeat: no-repeat; background-attachment: fixed; background-position: center; "> -->
	<!-- <link href="css/arrmHome.css" rel="stylesheet" type="text/css"> -->
<!-- <body class="backgrounddd"> -->
<body ng-controller="ArrmHomeCtrl"style="background-image: url('arrmimages/backgroundImage.jpg');
									    background-size: 100% 100%;
									    background-repeat: no-repeat;
									    background-attachment: fixed;
									    background-position: center; 
									    overflow-x: auto;
									    overflow-y: auto;">

<!-- 	    url('https://gateway-uat.jpl.nasa.gov/sites/ARRM/_catalogs/theme/Themed/1554F203/0917da1b-bfc1-42d8-839b-44a73a779638bkimage-480DF201.themedjpg?ctag');
	    margin: 50%; 
	/*background-size: 1450px 1000px;*/
/*width: auto;*/-->

 <!-- class="backgrounddd"> -->

<!-- <div class="backgrounddd"> -->

<div class="transboxRed">
	<ul>
	  <li><a href="https://js.jpl.nasa.gov">JPL Space | </a></li>
	  <li><a href="http://www.jpl.nasa.gov/">JPL | </a></li>
	  <li><a href="http://www.caltech.edu/" >Caltech | </a></li>
	  <li><a href="http://www.nasa.gov" >NASA</a></li>
	</ul>
</div>



<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav> -->





	<!-- <h1 style="font-size:150%; color:white; font-weight:100;text-decoration: none;"><a href="arrmHome.html" style="color:white"> HOMEEEEE </a></h1> -->
	
	<!-- <div id="textbox" style="opacity:0.4; fukter:alpha(opacity=40);"> -->
<!-- 	<div clas="background">
	  	<div class="transbox">	
	  		<p class="alignleft" style="color:white; font-size:120%">Text on the left.</p>
	  		<p class="alignright" style="color:white; font-size:120%">Text on the right.</p>
		</div>
	</div> -->
	<!-- </div style="clear:both;"></div> -->

	<!-- <div clas="background"> -->
		<div class="transbox">
<!-- 		<div id="textbox" style="	    margin: 20px;
	    background-color: #000000;
	    border: 1px solid black;
	    opacity: 0.7;"> -->
	    	<h1><a href="#" style="margin-left:auto; margin-right:auto; font-weight:600; font-size:110%;" > Asteroid Robotic Redirect Mission </a></h1>
			<h1><a href="#" style="font-size:100%"> Home </a></h1>
			<h2> Administrative Resources 
				<!-- confluence link -->
				<span style="float:right; color:white;">Technical Design Concept Info</span> </p> 
			<h3 style="text-align:left"> ARRM Resources:<span> Mission Objectives & Requirements </span></h3>
				<p> Library </p>
				<!-- alfresco -->
				<p><a href=" https://arrm.jpl.nasa.gov/jira/secure/BrowseProjects.jspa?selectedCategory=all" style="font-size:100%;"> Jira Site <span style="font-size:120%; ">Mission Design</span></p> 
				<!-- font-weight:200; -->
				<p><a href="mms.html" style="font-size:100%;"> View Editor </a></p>
			<h3 style="text-align:left"> Administrative: <span> Block Diagrams</h3>
				<p> Team Org Tree <span style="font-size:120%;"> (composition & interfaces)</span></p>
				<p> Project Schedule </p>
				<p> New Member Form </p>
<!--<script type="text/javascript">		
	// var slideimages = new Array("orion.jpg","budget.jpg","orbitor.jpg")
	// var slidedesc = new Array("orion pic duh", "hey there's a budge", "and an orbiotor")

	</script> -->





	<img src="arrmimages/orbitor.jpg" class="center" name="slidewhow" width="313" height="200" style="border-style:solid; border-color:black;"/>
	<!-- center image in block link o jsfiddle.net/csbp2 -->
	<p id="description" style="margin-left: auto; margin-right: auto; text-align: center; color:white; width:400px; height: 50px; word-wrap:break-word;">
		18 May 2015 story: NASA Seeks Additional Information for Asteroid Redirect Mission Spacecraft
	</p>
	<table align="center" style="width:100px; border-color:black;">
		<tr>
			<!-- <td align="left"><a href="" onclick="return change_image(-1)" class="arrow-left"></a></td>  -->
			<td align="left"><a href="" ng-click="change_image(-1)" style="font-size:80%; border-color:black">PREV</a></td> 
			<!-- <td align="center"><a href="" onclick="auto()">AUTO</a></td> -->
			<!-- <td align="center"><a href="" onclick="return pause()" >PAUSE</a></td> -->
			<td align="right"><a href="" ng-click="change_image(1)" style="font-size:80%; border-color:black">NEXT</a></td>
			
		</tr>
	</table>


			<h3 style="text-align:left"> ARRM Library:<span> Mechanical Drawings </span></h3>	
				<p> Work Area </p>
				<p><a href="calendar.html" style="font-size:100%;"> Reviews and Meetings </a><span style="font-size:120%;">Functional OpsCon</span></p>
				<p> MMRs </p>
			<h3 style="text-align:left"> Public Sites:<span> Mass: </span></h3>	
				<p> Asteroid Redirect Mission <span style="color:white;"> MEL & Margins</p>
				<p> Asteroid Initiative </p>

				 <!-- <span style="font-size:130%; font-weight:200">Power</span></p> -->
			<h3 style="text-align:left"> Released Documents and Presentation<span> Power: </span></h3>	
				<p> 2014 ARRM Mission Concept Options Overview <span style="color:white;"> PEL & Margins </span></p>
				<p> 2013 ARRM Feasibility Study <span style="color:white"> Power Modes </span> </p>
			<h3 style="color:black"> place holder text <span> Data: </span></h3>	
				<p style="color:black"> place holder text <span style="color:white;"> Characterisitcs</span></p>
				<p style="color:black"> place holder text <span style="color:white"> Data Analyses </span> </p>


		<!-- <img src="commTerminal.jpg" name="slide" width="100" height="56"/> -->






<!-- bottom authoring box -->
			<div class="transbox" style="border: 1px solid white;">
<!-- 				<p style="margin: 5px;color:white;"> Project Manager: <span style="text-align: left; color:white;"> Project Technologist:
				 <span style="float:center; text-align:right; color:white;"> Content Manager: </span>
				</span> <p> -->
			<h4 style="text-align:center; font-size:100%; font-weight:200; color:white;"> Project Manager: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Project Technologist: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Content Manager:</h4> 

			<!-- Mozafari, Tanaz (312E) <Tanaz.Mozafari@jpl.nasa.gov> as contact -->

			</div>



<!-- MAKE SURE LOGIN WORKS -->

<!-- 
				<h3 style= "text-align:right">Power</h3>
				<p> <span style="color:white;"> PEL & Margins </span></p>
				<p> <span style="color:white;"> Power Modes </span></p>
				<p> PEL & Margins </p>
				<p> Power Modes </p> -->




<!-- 			<h3 style="text-align:left"> Released Documents and Presentation:<span style="color:white; font-size=10%;"> Power Analyses </spam> </p>
				<p> 2014 ARRM Mission Concept Options Overview <span style="font-size:130%; font-weight:200">Data:</span></p>
				<p> 2013 ARRM Feasibility Study <span style="color:white;"> Characterisitics</span></p>
				<p> <span style="color:white"> Data Anaylses </span></p> -->



				<!-- This is some text that is placed in the transparent box.what if i threw this over here?? other things that h -->
			<!-- <p style="text-align:center; width:33.3333%;">sssss</p> -->
			<!-- <p style="text-align:right;">This is some right?? text that is placed in the transparent box. -->
			
		</div>


	<!-- </div> -->
<!-- </div> -->

<script src="js/mms/controllers.js"></script>

</body>


