<div class="assistModal">
    <div class="modal-body">
        <h3>Are you sure you want to exit this page?</h3>
        <br>
        <div>
            Your changes will not be saved if you leave this page, but you may come back to this page later using the
            same link.
        </div>
        <br>
        <span style="text-align: right; width: 100%; display: inline-block;">
            <button class="btn btn-warning" ng-click="exit()">Leave page</button>
            <button class="btn btn-default" ng-click="close()">Stay on page</button>
        </span>
    </div>
</div>