/*************************
  Main combinator file for
  View Editor stylesheets
*************************/
/* Variables & mixins */
@import "base/_globals.scss";
@import "base/_ve-colors.scss";
/* Overall page design */
@import "layout/_pane-left.scss";
@import "layout/_pane-center.scss";
@import "layout/_pane-right.scss";
@import "layout/_panes.scss";
@import "layout/_login-select.scss";
/* Layout directive customizations */
@import "layout/_ve-nav.scss";
@import "layout/_ve-footer.scss";
@import "layout/_ve-no-panes.scss";
@import "layout/_ve-table-filter.scss";
/* Third party customizations */
@import "thirdparty/_autosave-plugin.scss";

.ng-hide {
  display: none !important;
}

.nav_breadcrumb {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.tooltip-inner {
  white-space: normal;
}

.indent{
  margin-left:24px;
}

@media print {
  a[href]:after {
    content: none !important;
  }
  img {
    max-width: 100%;
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
    display: block;
  }
  tr, td, th {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
}


/*------------------------------------------------------------------
[Table of contents]

1. Typography
2. Global UI Elements
  2.1 Button
    2.1.1 Primary Button
    2.1.2 Small Button
  2.2 Dark Modal
  2.3 Dropdown
    2.3.1 Wide Dropdown
    2.3.2 Narrow Dropdown
    2.3.3 Fixed Content Dropdown
  2.4 Tab System
    2.4.1 Light tab system
    2.4.2 Dark Tab system
  2.5 Banners
  2.6 Input
    2.6.1 Light input
    2.6.2 Minor dark input
  2.7 Animation
  2.8 Special Icons
    2.8.1 Section
3. Table filtering
4. Modal fixes
5. 404 bookmark
6. Open document button

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. Typography
-------------------------------------------------------------------*/

#ve-login,
#ve-origin-select,
.ve-dark-modal,
.ve-dark-dropdown-nav,
.ve-dark-dropdown-menu,
#ve-origin-select,
#ve-login{

  color: white;
  letter-spacing: .05em;

  a,
  a:hover,
  a:visited {
    text-decoration: none;
    color: white;
  }
}

.ve-secondary-text{
  color: $ve-light-text;
  font-size: .9em;
}

.placeholder{
  color: $ve-light-text;
  font-style: italic; 
  text-transform: lowercase; 
}

/*------------------------------------------------------------------
2. Global UI Elements
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  2.1 Buttons
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    2.1.2 Small Button
-------------------------------------------------------------------*/

.btn-sm{
  padding: 5px 10px;
  font-size: 11px;
}


.btn-copy {
  background-color: transparent;
  color: $ve-light-text-darker-1;
  margin: 0 5px 5px 10px;
  float: right;
}

.btn-copy:hover {
  color: $ve-silver-base;
  background-color: $ve-teal-base;
}

/*------------------------------------------------------------------
  2.2 Modals
-------------------------------------------------------------------*/

.ve-dark-modal {
  background-color:$ve-slate-darker-2;

  .modal-content {
    background-color: $ve-slate-base;
    border: none;
    border-radius: 3px;
  }

  .modal-body {
    padding: 16px 15px 30px;
    overflow:visible;
  }

  .modal-title {
    margin: 0;
    letter-spacing: 0.04em;
    color: $ve-white-text-lighter-2;
  }

  /*Clearing bootstrap*/
  .modal-header {
    border-bottom: 1px solid $ve-slate-darker-1;
  }

  /*Clearing bootstrap*/
  .modal-footer {
    border-top: 1px solid $ve-slate-darker-1;
  }
}

.modal-header>h4{
  margin:0;
  font-size: 1.2em;
  letter-spacing: 0.04em;
  font-weight: 400;
  color:$ve-light-text-darker-1;
  display: inline-block;
}

/*------------------------------------------------------------------
  2.3 Dropdown
-------------------------------------------------------------------*/

@mixin fa-menu-content($content, $color) {
  content: $content;
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  color: $color;
}

// selected item styling
.dropdown-menu {

  // Standardize font size across VE
  font-size: 14px;

  // Indicate selected list item - primary
  .checked-list-item::before {
    @include fa-menu-content("\f00c", $ve-green-lighter-1);
    left: 10px;
  }

  // Indicate selected list item - secondary
  .secondary-checked-list-item::before {
    @include fa-menu-content("\f00c", $ve-silver-darker-1);
    left: 10px;
  }

  // Position list item
  a.checked-list-item::before {
    left: 5px;
  }

  a.checked-list-item,
  li.checked-list-item,
  li.secondary-checked-list-item {
    position: relative;
  }
}

// Fix checkbox in multiselect
.dropdown-multiselect {
  .dropdown-menu {
    li {
      position: relative;
    }
  }
}

.ve-dark-dropdown-wide,
.ve-dark-dropdown-nav {

  /*Clearing bootstrap*/
  ul.dropdown-menu {
    min-height: 0;
    overflow-y: auto;
    max-height: 360px;
    overflow-x:hidden;
  }

  button.dropdown-toggle {
    display: inline;
    color: white;
    border: none;
    border-radius: 2px !important;
    -webkit-transition: background-color .1s ease-out !important;
    -moz-transition: background-color .1s ease-out !important;
    -o-transition: background-color .1s ease-out !important;
    transition: background-color .1s ease-out !important;
    letter-spacing: .05em; /*overwriting user agent stylesheet */
  }

  button.dropdown-toggle .fa-caret-down {
    padding: 2px 4px 2px 10px;
    color: $ve-white-text-darker-1;
    float: right;
  }

  .dropdown-menu {
    background-color: $ve-slate-lighter-1;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
    max-width: 300px;
    min-width: 100%;
  }

  .dropdown-menu li {
    padding: 6px 8px;
    word-wrap: break-word;
    width: 100%;
    -webkit-transition: background-color .1s ease-out !important;
    -moz-transition: background-color .1s ease-out !important;
    -o-transition: background-color .1s ease-out !important;
    transition: background-color .1s ease-out !important;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    background-color: $ve-slate-lighter-2;
  }

  .dropdown-menu li.divider {
    height: 1px;
    margin: 6px 0;
    background-color: $ve-slate-lighter-2;
    padding: 0;
  }

  /*Clearing bootstrap styling*/
  .dropdown-menu > li > a:hover {
    background-color: $ve-clear;
    color: white;
  }

  /*Clearing bootstrap styling*/
  .dropdown-menu > li > a {
    padding: 1px 10px;
    font-weight: 300;
    color: white;
  }

  button.dropdown-toggle:hover {
    background-color: $ve-slate-darker-1;
  }

  .btn-group.open button.dropdown-toggle {
    background-color: $ve-slate-darker-1;
  }

  /*When a list item is selected, include a check mark before it. Add additional padding to these lists*/
  .dropdown-menu.list-with-selected-item li {
    padding-left: 30px;
    position: relative;
  }

  /*Clear hover on list items with buttons in them and disabled branches*/
  .dropdown-menu li.button-item:hover,
  .dropdown-menu li.branch-disabled:hover,{
    background-color: $ve-slate-lighter-1;
  }

  /*Clear padding on top for lists with buttons*/
  ul.list-with-button {
    padding-top: 0;
  }

  /* set min width for button in a list*/
  .btn-primary {
    min-width: 260px;
  }

  /*Clear padding for check mark list items with buttons in them */
  .dropdown-menu.list-with-selected-item li.button-item {
    padding-left: 8px;
  }

  /*Clear padding for check mark list items with tabs in them */
  .dropdown-menu.list-with-selected-item li.tab-item {
    padding: 0px;
  }

  /*Styling for Branch that is being created. */

  .branch-disabled {
    color:$ve-white-text-darker-1;
  }

  li.branch-disabled::before {
    font-family:FontAwesome;
    content: "\2026";
    position: absolute;
    left: 10px;
    top: 3px;
    color: $ve-silver-base;
  }

  li.ve-secondary{
    color:$ve-white-text-lighter-2;
    
    &:hover {
      background-color:$ve-slate-lighter-1;
    }
  }
}

@media (max-width: 767px) {
  .ve-dark-dropdown-nav {
    .dropdown-menu li.divider {
      background-color: $ve-slate-lighter-2 !important;
    }
  }
}

.ve-light-dropdown{
  display: block;
  width: 100%;
  margin: 6px 0;

  .dropdown-toggle{
    text-align: left;
    font-size: 14px;
    padding: 8px 8px;
    line-height: 13px;
    display: inline;
    border: none;
    border-radius: 2px !important;
    -webkit-transition: background-color .1s ease-out !important;
    -moz-transition: background-color .1s ease-out !important;
    -o-transition: background-color .1s ease-out !important;
    transition: background-color .1s ease-out !important;
    letter-spacing: .05em;
    background-color:$ve-silver-lighter-0;
    min-height: 30px;
    width:100%;
  }

  ul{
    border-color:$ve-silver-base;
  }

  li.dropdown-input{
    border-bottom: 1px solid $ve-silver-base;
    padding: 6px 0;
    margin-bottom: 6px;
    background:$ve-silver-lighter-1;
  }

  li a{
    padding-left: 32px;
  }

  ul{
    min-width:100%;
  }

  .fa-caret-down{
    float:right;
    color:$ve-white-text-darker-1
  }
}

/*Clear padding at top of menu when there is input*/
.dropdown-menu.menu-with-input{
  padding-top:0px;
}

.ve-light-dropdown .dropdown-toggle:hover{
  background-color:$ve-silver-base;
}


.ve-light-dropdown.open .dropdown-toggle{
  background-color:$ve-silver-darker-1;
}

/*Special height for button that is inline with dropdown*/
.inline-dropdown-btn.btn-primary{
  float:right;
  margin:2px 0 8px;
  height:28px;
  line-height:13px;
  width:78px;
}

.inline-dropdown-btn.ve-light-dropdown{
  width:calc(100% - 82px);
  display:inline-block;
  margin-top:2px;
}



/*------------------------------------------------------------------
    2.3.1 Wide Dropdown
-------------------------------------------------------------------*/

.ve-dark-dropdown-wide.btn-group {
  display: block;
  width: 100%;
  margin: 0 0 18px;
}

.ve-dark-dropdown-wide {

  button.dropdown-toggle {
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 5px 8px;
    height: 34px;
    line-height: 18px;
    margin-top: 6px;
    background-color:$ve-slate-base;
  }

  .dropdown-menu {
    min-width: 100%;
    font-size: 16px !important;
  }

  .label-dropdown {
    color: $ve-white-text-lighter-2;
    font-size: 15px;
    display: block;
  }

}

/*------------------------------------------------------------------
    2.3.2 Narrow Dropdown
-------------------------------------------------------------------*/

.btn-group.ve-dark-dropdown-nav {
  margin: 6px 0 6px 6px;
}

.ve-dark-dropdown-nav {

  button.dropdown-toggle {
    height: 24px;
    background-color: $ve-slate-base;
    font-size: 14px;
    padding: 3px 4px;
    line-height: 18px;
  }

  button.dropdown-toggle:hover {
    background-color: $ve-slate-darker-1;
  }

  .label-dropdown {
    color: $ve-white-text-lighter-2;
    font-size: 14px;
    padding: 0 0 0 4px;
  }

  .btn-group.open button.dropdown-toggle {
    background-color: $ve-slate-darker-3;
  }

  /* over write bootstrap*/
  li {
    font-size: 14px;
  }

  .selected-dropdown{
    font-weight: 500;
  }
}

/*------------------------------------------------------------------
    2.3.3 Fixed Content Dropdown
-------------------------------------------------------------------*/

.fixed-content-dropdown ul.dropdown-menu{
  overflow-y: auto !important;
  border: 1px solid $ve-slate-lighter-2;
}

.fixed-content-dropdown.open > a.dropdown-toggle,
.fixed-content-dropdown li > a.dropdown-toggle{
  color: $white;
}

.fixed-content-dropdown .fa-caret-down {
  float: none;
}

span.fixed-content-dropdown{
  padding-bottom:12px;
}

/*------------------------------------------------------------------
  2.4 Tab System
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    2.4.1 Dark Tabs
-------------------------------------------------------------------*/

.ve-dark-dropdown-wide,
.ve-dark-dropdown-nav{
  .nav-tabs {
    background-color: $ve-slate-base;
  }

  .list-with-tabs .button-item {
    background-color: $ve-slate-base;
  }

  .nav-tabs > li.uib-tab {
    width: 50%;
    text-align: center;
  }

  .nav-tabs > li.uib-tab:hover,
  .list-with-tabs li.button-item:hover {
    background-color: $ve-slate-base;
  }

  .nav-tabs > li.uib-tab:hover,
  .list-with-tabs li.button-item:hover {
    background-color: $ve-slate-base;
  }

  .nav-tabs > li.active.uib-tab > a {
    background-color: $ve-slate-base;
    border: none;
    border-bottom: 3px solid $ve-teal-base;
    color: white;
    margin: 0;
  }

  .nav-tabs > li.uib-tab > a {
    background-color: $ve-slate-base;
    border: none;
    border-bottom: 3px solid $ve-slate-base;
    color: $ve-white-text-lighter-2;
    margin: 0;
  }

  li.uib-tab > a:hover {
    background-color: $ve-slate-base;
    border-bottom: 3px solid $ve-teal-darker-1;
  }
}

/*------------------------------------------------------------------
    2.4.2 Light Tabs
-------------------------------------------------------------------*/

.ve-light-tabs {

  background-color: $ve-silver-lighter-0;

  .nav-tabs > li.uib-tab {
    text-align: center;
  }

  .nav-tabs > li {
    margin: 0 8px;
  }

  .nav-tabs > li.active.uib-tab > a{
    border: none;
    border-bottom: 3px solid $ve-teal-lighter-1;
    margin: 0;
    font-weight: 600;
    color: #333;
  }

  .nav-tabs > li.uib-tab > a {
    border: none;
    border-bottom: 3px solid $ve-silver-lighter-0;
    color: #333;
    margin: 0;
    background-color: $ve-silver-lighter-0;
    line-height: 21px;
  }

  li.uib-tab > a:hover {
    background-color: $ve-slate-base;
    border-bottom: 3px solid $ve-teal-lighter-2;
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    background-color: $ve-silver-lighter-0;
    border-bottom: 3px solid $ve-teal-lighter-1;
  }

  .fa{
    opacity: .4;
    padding-right: 6px;
  }
}

.modal-body .ve-light-tabs{
  margin:-15px -15px 20px;
}

/*------------------------------------------------------------------
  2.5 Banners
-------------------------------------------------------------------*/

.ve-notify-banner{
  background-color: $ve-teal-lighter-4;
  padding: 6px 10px;
  border: 1px solid $ve-teal-lighter-3;
  border-radius: 3px;
  color: $ve-teal-base;
  margin: 4px 10px 14px;
}


/*------------------------------------------------------------------
  2.6 Input
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    2.6.1 Light Input
-------------------------------------------------------------------*/

.ve-plain-input{
  background-color: white;
  padding: 2px 6px;
  border: 1px solid $ve-silver-darker-1;
  @include border-radius(3px);
  margin: 2px 10px;
  width: calc(100% - 20px);
  font-weight: normal;
}

/*------------------------------------------------------------------
    2.6.2 Minor dark input
-------------------------------------------------------------------*/

.ve-dark-minor-search input{
  width: 100%;
  border: 1px solid $ve-slate-darker-2;
  @include border-radius(3px);
  background-color: $ve-slate-darker-2;
  padding: 3px 5px;
  letter-spacing: .05em;
}

.ve-dark-minor-search input:focus {
  outline:none;
  background-color: $ve-slate-darker-3;
  border: 1px solid $ve-teal-base;
}

/*------------------------------------------------------------------
  2.7 Animation
-------------------------------------------------------------------*/

.fade-in-out.ng-hide-add,
.fade-in-out.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  transition: .2s linear all;
  /* remember to add this */
  display: flex!important;
  opacity: 1;
}
.fade-in-out.ng-hide {
  opacity:0;
}

// animate template - add class name to beginning
// .ng-hide-add,
// .ng-hide-remove {
//   -webkit-transition:0.5s linear all;
//   transition:0.5s linear all;

//   /* remember to add this */
//   display:block!important;
//   opacity:1;
// }
// .ng-hide {
//   opacity:0;
// }

/*------------------------------------------------------------------
  2.8 Special Icons
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    2.8.1 Section icon
-------------------------------------------------------------------*/

/*set pseudoclass and reset italic from <i>*/
.section-icon::before{
  content:"\00a7";
  font-style: normal;
  font-weight: bold;
}

/*display inline block to be same width in tree*/
.section-icon{
  display:inline-block;
}

i.section-icon{
  line-height: 14px;
}

/*------------------------------------------------------------------
    2.8.2 Ref icons
-------------------------------------------------------------------*/

/*add to branch labels*/
.Branch-icon::before,
.branch-icon::before{
  content: "\f126";
  font-family: FontAwesome;
  color: $ve-silver-darker-3;
  padding-right: 6px;
  top: 1px;
  position: relative;
}

/*add to tag labels*/
.Tag-icon::before,
.tag-icon::before{
  content: "\f02b";
  font-family: FontAwesome;
  color: $ve-silver-darker-3;
  padding-right: 6px;
  top: 1px;
  position: relative;
}

/*------------------------------------------------------------------
3. Table Filtering & Sorting
-------------------------------------------------------------------*/

.tableSearch > span {
  display: block;
}

table caption {
  font-size: 20px;
  text-align: left;
  padding: 8px 0 14px;
}

.doc-table-header {
  background-color:$ve-silver-lighter-1;
}

.filter-input {
  margin: 0;
  width: 100%
}

.sort-default {
  color: $ve-silver-darker-3;
  float: right;
}

.sort-activated {
  color: $ve-slate-darker-2;
  float: right;
}

.sort-default, .sort-activated {
  margin: 5px;
}

.sort-default:hover,
.sort-activated:hover {
  cursor: pointer;
}

.export-csv-button::before {
  content: "\f045";
  font-family: FontAwesome;
  padding: 4px 4px 4px 0;
}

.filter-table-button::before {
  content: "\f0b0";
  font-family: FontAwesome;
  padding: 2px 4px;
}

.reset-sort-button::before {
  content: "\f0e2";
  font-family: FontAwesome;
  padding: 2px 4px;
}

.reset-sort-fade.ng-hide {
  opacity: 0;
}

.reset-sort-fade.ng-hide-remove,
.reset-sort-fade.ng-hide-add {
  display: inline-block !important;
  transition: all linear 100ms;
}

.ve-filter-table-form .btn-sm {
  margin: 0 4px;
}

/*------------------------------------------------------------------
5. Modal Dialog
-------------------------------------------------------------------*/

.modal-dialog{
  max-height: 90%;
  position: relative;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
}

.modal-content{
  position: relative;
  border-radius: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.modal.autosave {
 background-color: rgba(0,0,0,0.5);
}

.modal-content.autosave {
  width: 50%;
  margin: auto;
  top: 100px;
}

.modal-body{
  .transclude-modal .transclude-modal-input {
    width: 80%;
    margin: 0 auto;
  }
}

.modal-description{
  margin-bottom:18px;
}

/*hack for overriding cut off content in dropdown modal*/
.ve-dropdown-short-modal{
  .modal-dialog,
  .modal-content,
  .modal-body{
    overflow: visible;
  }
}

.modal-header{
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  min-height: 52px;
}

.modal-body{
  position: relative;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.modal-footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  order: 2;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-right: 8px;
  padding-left: 16px;
  min-height: 52px;
  overflow: hidden;
}

/*------------------------------------------------------------------
4. New Ref
-------------------------------------------------------------------*/

.ve-new-ref{
  input[type="radio"]{
    margin:0 4px;
  }

  label{
    font-weight:400;
  }

  .form-group>label{
    font-weight:600;
  }

  .commit-table{

    width:calc(100% - 24px);
    td{
      padding:4px;
      border:none;
    }

    tr{
      border:1px solid #eaeaea;
    }

    tr:hover{
      background-color:#fbfbfb;
      font-weight:400;
    }

    tr:first-child{
      border:none;
      font-weight:600;
    }
  }

  .timestamp-format{
    margin-bottom: 10px;
  }
}

/*------------------------------------------------------------------
5. 404 Bookmark
-------------------------------------------------------------------*/
.account-wall-lg{
  max-width:820px;
  margin:100px auto;
  padding:0 40px;

  h1{
    margin: 30px 0;
    padding-bottom: 20px;
    font-weight: 200;
    font-size: 44px;
  }

  h4{
    font-weight: 300;
    font-size: 20px;
    margin:20px 0;
  }

  .flex{
    display: flex;
  }

  .two-thirds-flex{
    flex:3;
    padding:0 28px 0 0;
  }
  .one-third-flex{
    flex:2;
    padding:10px 0 0;
  }
}
@media (max-width: 600px){
  .account-wall-lg .flex{
    flex-direction:column;
  }
}

/*------------------------------------------------------------------
6. Open document button styling
-------------------------------------------------------------------*/

.btn.open-document{
  margin-left:10px;

  a:visited,
  a:hover,
  a{
    color:white;
    text-decoration:none;
  }
}

.btn.open-document::before{
  content:"\f064";
  font-family: FontAwesome;
  padding-right:6px;
}

.docTitle-underlined{
  text-decoration: underline;
  text-decoration-color: rgb(72, 133, 189);
}

/*------------------------------------------------------------------
9. Right pane
-------------------------------------------------------------------*/

h2.right-pane-title{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .14em;
  color: #6a6a6a;
  margin: 20px 0;
}

.pane-right .container-fluid{
  padding:0 18px 34px;
}

hr.spec-title-divider{
  margin-left:-18px;
  margin-right:-18px;
  border-color:#ddd;
}

/*------------------------------------------------------------------
  9.4 Modal for revert history
-------------------------------------------------------------------*/

/* Special styling to preview element*/
.element-preview-box{
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $ve-silver-lighter-1;
  border-radius: 3px;
  border: 1px solid $ve-silver-darker-1;
}

/*Custom styling to keep labels inline with dropdowns*/
span.inline-btn-label{
  min-height: 28px;
  margin: 6px 0;
  padding: 7px 4px;
  line-height: 13px;
  color:$ve-light-text;
}

/*------------------------------------------------------------------
  Warning - move to main after css cleanup and change brand-warnng
-------------------------------------------------------------------*/
.fa-exclamation-triangle{
  color: $ve-yellow-base;
}

/*------------------------------------------------------------------
Element not found styling
-------------------------------------------------------------------*/

.mms-error{
  background: $ve-warning-orange-light;
  background: repeating-linear-gradient(45deg, $white, $white 10px,$ve-warning-orange-light 10px,$ve-warning-orange-light 20px);
  color: $black;
  border: none;
  padding-left: 11px;
}

.mms-error::before{
  content: "\f071";
  font-family: fontAwesome;
  margin-left: -14px;
  color: $ve-warning-orange;
  font-size: 12px;
  position: absolute;
}

.pane-right .prop.mms-error {
  margin-top: 10px;
}

/** Additional style for ckeditor custom dropdown **/
.mmsExtraFormat .cke_combo_button, .mmsExtraFeature .cke_combo_button {
  width: 30px;
}

.mmsExtraFormat .cke_combo_open, .mmsExtraFeature .cke_combo_open {
  margin-left: 3px !important;
}

.mmsExtraFormat a.cke_combo_button .cke_combo_inlinelabel,
.mmsExtraFeature a.cke_combo_button .cke_combo_inlinelabel {
  width: 17%;
  height: 25px;
  display: inline-block;

}
.mmsExtraFormat a.cke_combo_button .cke_combo_inlinelabel {
  background: url('../assets/format-dropdown.png') no-repeat center !important;
  background-size: 16px !important;
}
.mmsExtraFeature a.cke_combo_button .cke_combo_inlinelabel {
  background: url('../assets/mmsplus.png') no-repeat center !important;
  background-size: 14px !important;
}

.cke_button.cke_button__mmscomment:after {
  border-right: 0px !important;
}
