ve-footer {
  .footer {
    width: 100%;
    height: 13px;
    border-top: 1px solid $tertiary_grey;
    font-size: 9px;
    font-weight: $default_font_weight;
    color: rgba(64, 64, 64, .7);
    position: absolute;
    background-color: $ve-silver-lighter-1;
    text-align: center;
    z-index: 10;
    cursor: default;
    bottom: 0px;
    padding-top: 1px;
  }
}