<!-- TODO: This is almost the same as new-view.html.  Should be combined if possible -->

<div class="modal-header">
  <h4>ADD NEW {{presentationElemType | uppercase}}</h4>
</div>

<div class="modal-body comment-modal" ng-show="createForm">
  <div class="comment-modal-input">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" ng-model="newPe.name" type="text" placeholder="Type a name for your {{presentationElemType}} here" autofocus></input>
    </div>
  </div>
</div>

<div ng-show="!createForm">
    <mms-search mms-options="searchOptions" mms-project-id="{{viewOrSectionOb._projectId}}" mms-ref-id="{{viewOrSectionOb._refId}}"></mms-search>
</div>

<div class="modal-footer">
    <div class="pull-left" ng-show="presentationElemType != 'Comment' && createForm">
      <a ng-click="createForm = false" class="create-element-link">Search for existing item</a>
    </div>
    <div class="pull-left" ng-show="!createForm"><a ng-click="createForm = true">Return to Create {{presentationElemType}}</a></div>
    <button class="btn btn-success" ng-show="createForm" ng-click="ok()">CREATE <i ng-show="oking" class="fa fa-spin fa-spinner"></i></button>
    <button class="btn btn-danger" ng-click="cancel()">CANCEL</button>
</div>