<div class="diff-pane-left">

	<div class="flex-container">

		<div class="flex-header">
			<table class="header-table">
				<tr class="header-row">
					<td class="header-row-cell" ng-if="!targetIsTag"><h3>Changes to Ignore</h3></td>
					<td class="header-row-cell" ng-if="targetIsTag"><h3>Changes</h3></td>
					<td class="header-row-cell">
						<span ng-show="unstagedCounter">Sort By </span>
						<select class="sorting-options" ng-model="stagingOrder" ng-show="unstagedCounter" ng-init="stagingOrder = 'name'">
							<option value="{{orderValue.value}}" ng-repeat="orderValue in orderValues">{{orderValue.name}}</option>
						</select>
						<button ng-show="unstagedCounter" ng-click="stageAllUnstaged(changes)" type="button" class="btn btn-staging btn-stage-all"  uib-tooltip="Stage All Changes" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="right" tooltip-append-to-body="true" ng-if="!targetIsTag"><i class="fa fa-2x fa-arrow-circle-o-down"></i>Apply All</button>
					</td>
				</tr>
			</table>
		</div>

		<div class="flex-changes">
			<table>
			    <tr class="diff-item-row" id="{{change.delta.sysmlId}}" ng-click="selectChange(change)" ng-repeat="change in unstagedChanges | orderBy:stagingOrder track by change.delta.sysmlId">
			        <td uib-tooltip="{{::change.name}}" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="bottom" tooltip-append-to-body="true">{{change.name}}</td>
			        <td><i class="fa {{::change.icon}} icon-{{::change.type}}"></i>   {{::change.changeTypeName}}</td>
			        <td><i class="fa {{::change.typeIcon}}"></i>{{::change.delta.type || change.original.type}}</td>
			        <td>{{::change.delta.modifier}}</td>
			        <td ng-if="!targetIsTag">
			        	<button ng-click="stageChange(change)" type="button" class="btn btn-staging"><i class="fa fa-arrow-down"></i>Apply</button>
			        </td>
			    </tr>
			</table>
		</div>

		<div class="flex-header"  ng-if="!targetIsTag">
			<table class="header-table">
				<tr class="header-row">
					<td class="header-row-cell" tooltip="Changes to Apply to {{workspace1Name}}" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="bottom" tooltip-append-to-body="true"><h3>Changes to Apply to {{workspace1Name}}</h3></td>
					<td class="header-row-cell">
						<span ng-show="stagedCounter">Sort By </span>
						<select class="sorting-options" ng-model="unstagingOrder" ng-show="stagedCounter" ng-init="unstagingOrder = 'name'">
							<option value="{{orderValue.value}}" ng-repeat="orderValue in orderValues">{{orderValue.name}}</option>
						</select>
						<button ng-show="stagedCounter" ng-click="unstageAllStaged(changes)" type="button" class="btn btn-staging btn-unstage-all"  uib-tooltip="Unstage All Changes" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="right" tooltip-append-to-body="true"><i class="fa fa-2x fa-arrow-circle-o-up"></i>Ignore All</button>
					</td>
				</tr>
			</table>
		</div>

		<div class="flex-changes" ng-if="!targetIsTag">
			<table>
			    <tr class="diff-item-row" ng-click="selectChange(change)" ng-repeat="change in stagedChanges | orderBy:unstagingOrder track by change.delta.sysmlId">
			        <td>{{::change.name}}</td>
			        <td><i class="fa {{::change.icon}} icon-{{::change.type}}"></i>   {{::change.changeTypeName}}</td>
			        <td><i class="fa {{::change.typeIcon}}"></i>{{::change.delta.type || change.original.type}}</td>
			        <td>{{::change.delta.modifier}}</td>
			        <td>
			        	<button ng-click="stageChange(change)" type="button" class="btn btn-staging"><i class="fa fa-arrow-up"></i>Ignore</button>
			        </td>
			    </tr>
			</table>
		</div>

		<div class="flex-header" ng-if="diff.status !== 'GENERATING' && targetTime === 'latest'">
			<div id="merge-btn-container">
				<button type="button" ng-click="mergeStagedChanges()" class="btn btn-success" id="merge-btn">Apply Changes to {{workspace1Name}}<i class="fa fa-spin fa-spinner" ng-show="saving"></i></button>
		   </div>
		</div>

	</div>

</div>