<script type="text/ng-template" id="relationshipsDiff.html">
    <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{targetName}}</th>
          <th>{{sourceName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{options.statuses[change.properties.type.type].style}}">
          <td>TYPE</td>
          <td>{{change.original.type}}</td>
          <td>{{change.delta.type}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.sourceId.type].style}}">
          <td>SOURCE</td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.sourceId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name></td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.sourceId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name></td>
        </tr>
        <tr class="{{options.statuses[change.properties.targetId.type].style}}">
          <td>TARGET</td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.targetId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name></td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.targetId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name></td>
        </tr>
      </tbody>
    </table>
</script>

<h1 class="pane-center-header"><i class="fa {{change.icon}} icon-{{change.type}}"></i> {{change.delta.type || change.original.type}}: {{change.name}}</h1>

<table class="table">
  
  <h3 class="pane-center-heading">Element</h3>

  <thead>
    <tr>
      <th></th>
      <th>{{targetName}}</th>
      <th>{{sourceName}}</th>
    </tr>
  </thead>

  <tbody>

    <tr class="{{options.statuses[change.properties.name.type].style}}">
      <td>NAME</td>
      <td>{{change.original.name}}</td>
      <td>{{change.delta.name}}</td>
    </tr>

    <tr class="{{options.statuses[change.properties.qualifiedName.type].style}}">
      <td>QUALIFIED NAME</td>
      <td><div ng-bind-html="change.original.qualifiedName"></div></td>
      <td><div ng-bind-html="change.delta.qualifiedName"></div></td>
    </tr>

    <tr class="{{options.statuses[change.properties.sysmlId.type].style}}">
      <td>ID</td>
      <td><div ng-bind-html="change.original.sysmlId"></div></td>
      <td><div ng-bind-html="change.delta.sysmlId"></div></td>
    </tr>

    <tr class="{{options.statuses[change.properties.ownerId.type].style}}">
      <td>OWNER</td>
      <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.ownerId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name></td>
      <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.ownerId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name></td>
      <!-- 
      <td>
        <span ng-show="originalNode.property_conflict_status.owner">
            <button class="{{options.buttons[options.statuses[originalNode.property_status.owner].button].style}}" 
                    ng-click="registerPropertyChange(originalNode,'owner');">{{options.statuses[originalNode.property_status.owner].button}}</button>
        </span>
      </td>
    -->
    </tr>

    <tr class="{{options.statuses[change.properties.documentation.type].style}}">
      <td>DOCUMENTATION</td>
      <td><div ng-bind-html="change.original.documentation"></div></td>
      <td><div ng-bind-html="change.delta.documentation"></div></td>
    </tr>

  </tbody>

</table>

<div ng-switch on="change.original.type || change.delta.type">
  <div ng-switch-when="Property">
    <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{targetName}}</th>
          <th>{{sourceName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{options.statuses[change.properties.type.type].style}}">
          <td>TYPE</td>
          <td>{{change.original.type}}</td>
          <td>{{change.delta.type}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.value.type].style}}" ng-switch on="change.original.type">
          <td>VALUE : VALUE TYPE</td>
          <td>
            <div ng-repeat="value in change.original.value" ng-switch on="value.type">
              <span ng-switch-when="LiteralInteger">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralBoolean">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralReal">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralUnlimitedNatural">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralString" ng-bind-html="value.value"></span>
              <span ng-switch-when="Expression">{{value.operand}}</span>
              <span ng-switch-when="ElementValue">
                <mms-transclude-name mms-watch-id="true" mms-version="{{sourceTime}}" mms-ws="{{source}}" mms-eid="{{value.elementId}}"></mms-transclude-name>
              </span>
            </div>
          <td>
            <div ng-repeat="value in change.delta.value" ng-switch on="value.type">
              <span ng-switch-when="LiteralInteger">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralBoolean">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralReal">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralUnlimitedNatural">{{value.value}} : {{value.type}}</span>
              <span ng-switch-when="LiteralString" ng-bind-html="value.value"></span>
              <span ng-switch-when="Expression">{{value.operand}}</span>
              <span ng-switch-when="ElementValue">
                <mms-transclude-name mms-watch-id="true" mms-version="{{targetTime}}" mms-ws="{{target}}" mms-eid="{{value.elementId}}"></mms-transclude-name>
              </span>
            </div>
          </td>
        </tr>
        <tr class="{{options.statuses[change.properties.typeId.type].style}}">
          <td>PROPERTY TYPE</td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.typeId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name></td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.typeId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name></td>
        </tr>
        <tr class="{{options.statuses[change.properties.aggregation.type].style}}">
          <td>AGGREGATION</td>
          <td>{{change.original.aggregation}}</td>
          <td>{{change.delta.aggregation}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.isSlot.type].style}}">
          <td>SLOT</td>
          <td>{{change.original.isSlot}}</td>
          <td>{{change.delta.isSlot}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-switch-when="Expose">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
  <div ng-switch-when="Dependency">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
   <div ng-switch-when="Generalization">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
   <div ng-switch-when="Characterizes">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
   <div ng-switch-when="DirectedRelationship">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
   <div ng-switch-when="Conform">
    <div ng-include="'relationshipsDiff.html'"></div>
  </div>
 <div ng-switch-when="Connector">
  <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{targetName}}</th>
          <th>{{sourceName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{options.statuses[change.properties.type.type].style}}">
          <td>TYPE</td>
          <td>{{change.original.type}}</td>
          <td>{{change.delta.type}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.sourcePath.type].style}}">
          <td>PATH 1</td>
          <td><div ng-repeat="path in change.original.sourcePath"><mms-transclude-name mms-watch-id="true" mms-eid="{{path}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name>
          </div></td>
          <td><div ng-repeat="path in change.delta.sourcePath"><mms-transclude-name mms-watch-id="true" mms-eid="{{path}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name>
          </div></td>
        </tr>
        <tr class="{{options.statuses[change.properties.targetPath.type].style}}">
          <td>PATH 2</td>
          <td><div ng-repeat="path in change.original.targetPath"><mms-transclude-name mms-watch-id="true" mms-eid="{{path}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name>
          </div></td>
          <td><div ng-repeat="path in change.delta.targetPath"><mms-transclude-name mms-watch-id="true" mms-eid="{{path}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name>
          </div></td>
        </tr>
        <tr class="{{options.statuses[change.properties.connectorType.type].style}}">
          <td>CONNECTOR TYPE</td>
          <td>{{change.original.connectorType}}</td>
          <td>{{change.delta.connectorType}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.connectorKind.type].style}}">
          <td>CONNECTOR KIND</td>
          <td>{{change.original.connectorKind}}</td>
          <td>{{change.delta.connectorKind}}</td>
        </tr>
      </tbody>
    </table>
 </div>
 <div ng-switch-when="Association">
  <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{targetName}}</th>
          <th>{{sourceName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{options.statuses[change.properties.type.type].style}}">
          <td>TYPE</td>
          <td>{{change.original.type}}</td>
          <td>{{change.delta.type}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.sourceId.type].style}}">
          <td>ROLE 1</td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.sourceId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name>
          </td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.sourceId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name>
          </td>
        </tr>
        <tr class="{{options.statuses[change.properties.targetId.type].style}}">
          <td>ROLE 2</td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.original.targetId}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name>
          </td>
          <td><mms-transclude-name mms-watch-id="true" mms-eid="{{change.delta.targetId}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name>
          </td>
        </tr>
        <!--
        <tr class="{{options.statuses[change.properties.specialization.sourceAggregation.type].style}}">
          <td>ROLE 1 AGGREGATION</td>
          <td>{{change.original.specialization.sourceAggregation}}</td>
          <td>{{change.delta.specialization.sourceAggregation}}</td>
        </tr>
        <tr class="{{options.statuses[change.properties.specialization.targetAggregation.type].style}}">
          <td>ROLE 2 AGGREGATION</td>
          <td>{{change.original.specialization.targetAggregation}}</td>
          <td>{{change.delta.specialization.targetAggregation}}</td>
        </tr> 
      -->
        <tr class="{{options.statuses[change.properties.ownedEnd.type].style}}">
          <td>OWNED END</td>
          <td><div ng-repeat="end in change.original.ownedEnd"><mms-transclude-name mms-watch-id="true" mms-eid="{{end}}" mms-version="{{targetTime}}" mms-ws="{{target}}"></mms-transclude-name>
          </div></td>
          <td><div ng-repeat="end in change.delta.ownedEnd"><mms-transclude-name mms-watch-id="true" mms-eid="{{end}}" mms-version="{{sourceTime}}" mms-ws="{{source}}"></mms-transclude-name>
          </div></td>
        </tr>
      </tbody>
    </table>
 </div>
  <div ng-switch-default>
    <table class="table">
      <h1 class="pane-center-heading">Properties</h1>
      <thead>
        <tr>
          <th></th>
          <th>{{targetName}}</th>
          <th>{{sourceName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in change.properties" class="{{options.statuses[change.properties[key].type].style}}">
          <td>{{key | uppercase }}</td>
          <td>{{change.original[key]}}</td>
          <td>{{change.delta[key]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div> 
