
    <style>

      @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

      body {
        background-color:#313131;
        color: white;
        font-family:"Open Sans", sans-serif;
      }
      .account-wall{
        padding:40px;
        width:400px;
        margin:100px auto;
      }
      form {
          width: 80%;
          margin: auto;
      }

     .form-control {
          margin: 0 auto 16px;
          border: 1px solid #3d3d3d !important;
          overflow: hidden;
          background-color:#292929;
          border-radius: 1px !important;
          padding:6px 10px;
          color:white;
     }
     .form-control:focus{
         box-shadow:none;
     }
    input {
      background-color: rgba(56,56,56,1);,
      font-weight: 200;
      outline: none !important;
      border: none !important;
    }
    button{
      background-color: #2F889A;
      font-weight: 600 !important;
      letter-spacing: .14em;
      font-size: 12px !important;
      -webkit-transition: background-color .6s ease-out!important;
      -moz-transition: background-color .6s ease-out!important;
      -o-transition: background-color .6s ease-out!important;
      transition: background-color .6s ease-out!important;
    }

    button:hover{
      background-color:#296f83;
    }
    /*.fa-pane-toggle{
        visibility: hidden;
    }
    .fa-pane-overlay{
        visibility: hidden;
    }*/
    .pane-left-pane{
        visibility: hidden;    
    }
    .pane-right-pane{
        visibility: hidden;    
    }
    .fa-pane-scroller{
        overflow:hidden;   
    }
    div.footer{
        color:white;
    }
    .pane-center.fa-pane.pane-.fa-pane.pane-{
        right:0px;
        left:0px;
    }

    label{
      font-weight:300;
      font-size: 14px;
      color:rgba(255,255,255,0.8);
    }


    </style>
    <div>
        <div class="row">
            <div>
                <div class = "account-wall">
                      <div style = "text-align:center;">
                          <h2 style = "margin-bottom:40px;font-size:44px;">View Editor</h2>
                      </div>
                      <div>
                          <form name="loginForm" ng-submit="login(credentials)">
                              <label>Username</label>
                              <input type="text" class="form-control" ng-model="credentials.username"autofocus>
                              <label>Password</label>
                              <input type="password" class="form-control" ng-model="credentials.password">
                              <button class="btn btn-block" type="submit" style = "margin-top: 40px;">LOG IN <span ng-if="spin" ><i class="fa fa-spin fa-spinner"></i>
                              </span></button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>