<div class="container-fluid ve-no-panes">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a class="back-to-docs" ui-sref="project.ref({refId: fromParams.id, search: undefined})"
               ui-sref-opts="{reload:true}">Back to Project Documents ({{fromParams.name}})</a>
            <h1 class="panel-title">Manage Project branches/tags</h1>
            <div class="panel panel-default">
                <div class="panel-body no-padding-panel">
                    <div ng-show="refManageView" class="col-md-4 ve-light-list-panels">
                        <ul class="ve-light-list">
                            <li class="ve-light-input">
                                <input placeholder="Filter branches/tags" class="ve-plain-input" ng-model="refFilter">
                            </li>
                            <li class="ref-title">
                                <h2><i class="fa fa-code-fork" aria-hidden="true"></i>Branches</h2>
                            </li>
                            <li class="ref-item" ng-repeat="branch in branches | orderBy:'name' | filter:{name:refFilter}" ng-click="refClickHandler(branch)"
                                ng-class="{'selected': branch.id === refSelected.id}">
                                <a>{{ branch.name }}</a>
                            </li>
                            <li class="ref-title">
                                <h2><i class="fa fa-tag" aria-hidden="true"></i>Tags</h2>
                            </li>
                            <li class="ref-item" ng-repeat="tag in tags | orderBy:'name' | filter:{name:refFilter}" ng-click="refClickHandler(tag)"
                                ng-class="{'selected': tag.id === refSelected.id}">
                                <a>{{ tag.name }}</a>
                            </li>
                            <li ng-if="!tags.length" class="ve-secondary-text">No Tags</li>
                        </ul>
                    </div>
                    <div class="col-md-8 ve-light-panels-detail" ng-show="refSelected">
                        <div class="panels-detail-title clearfix">
                            <h3 class="{{refSelected.type}}-icon">{{refSelected.name}}</h3>
                            <div class="ref-button-options" style="float:right">
                            <button class="btn btn-default" ng-disabled="refSelected.status === 'creating'" type="button" ng-click="deleteRef()" ng-if="refSelected.id != 'master'"><i class="fa fa-trash"></i> Delete</button>
                            <button class="btn btn-primary" ng-disabled="refSelected.status === 'creating'" type="button" ng-click="addTag()"><i class="fa fa-plus"></i> Tag</button>
                            <button class="btn btn-primary" ng-disabled="refSelected.status === 'creating'" type="button" ng-click="addBranch()"><i class="fa fa-plus"></i> Branch</button>
                            </div>
                            <!-- <mms-button-bar buttons="buttons" mms-bb-api="bbApi"></mms-button-bar> -->
                        </div>
                        <dl class="dl-horizontal ve-light-panels-detail-content">
                            <dt></dt>
                            <dd ng-hide="refSelected.status === 'creating'" class="link-section">
                                <a ui-sref="project.ref({refId: refSelected.id, search: undefined})" ui-sref-opts="{reload:true}">Project Documents</a>
                            </dd>
                            <dd ng-show="refSelected.status === 'creating'" class="link-section">
                                <span uib-tooltip-html="htmlTooltip" tooltip-placement="top" tooltip-trigger="mouseenter"
                                    tooltip-append-to-body="refSelected.status == 'creating'" tooltip-enable="refSelected.status == 'creating'"
                                    ng-class="{'branch-disabled': refSelected.status == 'creating'}">Project Documents</span>
                            </dd>
                            <dt>Id</dt>
                            <dd>{{refSelected.id}}</dd>
                            <dt>Type</dt>
                            <dd>{{refSelected.type}}</dd>
                            <dt>Description</dt>
                            <dd>{{refSelected.description}}</dd>
                            <span ng-if="refSelected.id != 'master'">
                            <dt>Time Created</dt>
                            <dd>{{refSelected._created}}</dd>
                            <dt>Creator</dt>
                            <dd>{{refSelected._creator}}</dd>
                            <!-- <dt>Last Modified</dt>
                            <dd>{{refSelected._modified}}</dd> -->
                            <dt>Modifier</dt>
                            <dd>{{refSelected._modifier}}</dd>
                            <dt>Parent Ref</dt>
                            <dd>{{refSelected.parentRefId}}</dd>
                            </span>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>