<div class="container-fluid ve-no-panes">
  <div class="row">
    <div style = "margin-top:40px;">
      <div class="col-md-10 col-md-offset-1">
        <a class = "sites-docs-link" href="#/projects/PROJECT-ID_10_15_15_1_41_52_PM_5b84f7be_1506a83819c__6bce_cae_tw_jpl_nasa_gov_128_149_19_85/master" ui-sref="project.ref({refId: 'master', search: undefined})">
          <i class="fa fa-arrow-left"></i> Back to sites/documents
        </a>
        <h1 class="panel-title">Manage branches/tags</h3>
      </div>
      <div class="col-md-10 col-md-offset-1" style = "margin-top:40px;">
        <div ng-show="refManageView" class="col-md-4 ve-light-list-panels">
          <div class="toolbar pane-left-btn-group">
          </div>
          <div style="min-height: 300px;">
            <div class="panel-body">
              <uib-tabset active="activeTab" type="tabs" justified="false" class = "ve-light-tabs">
                <uib-tab index="0" classes="tab-item" heading="Branches">
                  <ul class = "ve-light-list">
                    <li class = "selected">
                      <a>
                        This is hard coded
                      </a>
                    </li>
                    <li ng-repeat="branch in branches | orderBy:'name'" ng-click="refClickHandler(branch)">
                      <a>
                        {{ branch.name }}
                      </a>
                    </li>
                  </ul>
                </uib-tab>
                <uib-tab index="1" classes="tab-item" heading="Tags">
                  <ul class = "ve-light-list">
                    <li class = "selected">
                      <a>
                        This is hard coded
                      </a>
                    </li>
                    <li ng-repeat="tag in tags | orderBy:'name'" ng-click="refClickHandler(tag)">
                      <a>
                      {{ tag.name }}
                      </a>
                    </li>
                  </li>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
        <div class="col-md-8 ve-light-panels-detail" ng-show="refSelected">
          <div class = "panels-detail-title">
            <h3>{{refSelected.name}}</h3>
            <mms-button-bar buttons="buttons" mms-bb-api="bbApi"></mms-button-bar>
          </div>
          <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>{{refSelected.id}}</dd>
            <dt>Type</dt>
            <dd>{{refSelected.type}}</dd>
            <dt>Description</dt>
            <dd>{{refSelected.description}}</dd>
            <dt>Time Created</dt>
            <dd>{{refSelected._created}}</dd>
            <dt>Creator</dt>
            <dd>{{refSelected._creator}}</dd>
            <dt>Last Modified</dt>
            <dd>{{refSelected._modified}}</dd>
            <dt>Modifier</dt>
            <dd>{{refSelected._modifier}}</dd>
            <dt>Parent Ref</dt>
            <dd>{{refSelected.parentRefId}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
