<script type="text/ng-template" id="autocompleteResultsTemplate.html">
    <a>
        <span ng-bind-html-unsafe="match | typeaheadHighlight:query"> {{match.model.parentInfo.label}}<span ng-if="match.model.parentInfo != null"> > </span><strong>{{match.label}}</strong></span>
    </a>
</script>

<div class="assistModal">
    
    <!-- Type Chooser -->
    <div ng-if="!pane || pane == 'typeChooser'" class="modal-body text-center">
        <div>
            <button type="button" class="btn btn-big" ng-click="mergeAssistFromTo('quick')">Quick Merge</button>
        </div>
        <div>
            <button type="button" class="btn btn-big" ng-click="mergeAssistFromTo('custom')">Custom Merge</button>
        </div>
    </div>
    
    <!-- From and to chooser -->
    <div ng-if="pane == 'fromToChooser'" class="modal-body">
        <h4>COMPARE TASKS OR TAGS</h4>
        <label>From</label>
        <input uib-typeahead="rowItem.label for rowItem in mergeInfo.tree_rows | filter:{label:$viewValue} | limitTo:10" typeahead-on-select="mergeInfo.source = $item" typeahead-select-on-blur="true" ng-model="origin" typeahead-template-url="autocompleteResultsTemplate.html" class="form-control" placeholder="Type a task or tag name"/>
        <br>
        <Label>To</Label>
        <input uib-typeahead="rowItem.label for rowItem in mergeInfo.tree_rows | filter:{label:$viewValue} | limitTo:10" typeahead-on-select='mergeInfo.dest = $item' typeahead-select-on-blur="true" ng-model="destination" typeahead-template-url="autocompleteResultsTemplate.html" class="form-control" placeholder="Type a task or tag name"/>
    </div>
    <div ng-if="pane == 'fromToChooser'" class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!mergeInfo.source || !mergeInfo.dest" ng-click="mergeAssistConfirmation(mergeInfo.source, mergeInfo.dest)">Next</button>
        <button class="btn btn-danger" ng-click="finished()">Cancel</button>
    </div>
    
    <!-- New merge request -->
    <div ng-if="pane == 'beginMerge'" class="modal-body">
        <h4>BEGIN MERGE</h4>
        <div ng-if="mergeInfo.type == 'quick'">
            Because this comparison may take a while, we'll email you a direct link to the differences to resolve as soon as we've prepared them for you.
        </div>
        <div ng-if="mergeInfo.type == 'custom'">
            Because this comparison may take a while, we'll email you a direct link to the differences once it's finished.
        </div>
    </div>
    <div ng-if="pane == 'beginMerge'" class="modal-footer">
	    <button class="btn btn-primary" ng-click="startDiff()">Sounds good, start!</button>
        <button class="btn btn-danger" ng-click="finished()">Cancel</button>
    </div>
    
    <!-- Merge in progress -->
    <div ng-if="pane == 'diffInProgress'" class="modal-body">
        <h3>Already Calculating Differences</h3>
        <div>
	        The differences between these two items are already being calculated.
        </div>
        <br>
        <div>
	        User "{{originator}}" started this operation on {{diffStartTime | date:'M/d/yy h:mm a'}}. Contact {{originator}} at {{originatorEmail}} for more information.
        </div>
    </div>
    
    <!-- Generating differences -->
    <div ng-if="pane == 'generating'" class="modal-body">
        <h3>Calculating Differences</h3>
        <div>
	        The differences between these two items are now being calculated. You will receive an email with a direct link to the differences once the job has completed.
        </div>
    </div>
    <div ng-if="pane == 'generating'" class="modal-footer">
        <button class="btn btn-primary" ng-click="finished()">Done</button>
    </div>
    
</div>