<div class="assistModal">
    
    <!-- New merge request -->
    <div ng-if="!mergeInfo.inProgress" class="modal-body text-center">
        <h2>Begin Merge</h2>
        <div ng-if="mergeInfo.type == 'quick'">
	        Big model you've got there! Because this may take a while, we'll email you a direct link to the differences to resolve as soon as we've prepared them for you.
        </div>
        <div ng-if="mergeInfo.type == 'custom'">
	        Big model you've got there! Because this may take a while, we'll send you an email once the merge completes.
        </div>
        <div>
	        <button class="btn" ng-click="">Sounds Good, Start!</button>
	        <button class="btn" ng-click="">Cancel</button>
        </div>
    </div>
    
    <!-- Merge in progress -->
    <div ng-if="mergeInfo.inProgress" class="modal-body text-center">
        <h2>Begin Merge</h2>
        <div ng-if="mergeInfo.type == 'quick'">
	        Big model you've got there! Because this may take a while, we'll email you a direct link to the differences to resolve as soon as we've prepared them for you.
        </div>
        <div ng-if="mergeInfo.type == 'custom'">
	        Big model you've got there! Because this may take a while, we'll send you an email once the merge completes.
        </div>
        <div>
	        <button class="btn" ng-click="">Sounds Good, Start!</button>
	        <button class="btn" ng-click="">Cancel</button>
        </div>
    </div>
</div>