<div class="modal-header">
  <h4>CREATE NEW VIEW</h4>
</div>

<div class="modal-body transclude-modal" ng-show="createForm">
  <div class="comment-modal-input">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" ng-model="newView.name" type="text" placeholder="Type a name for your view here"></input>
    </div>
  </div>
</div>

<div ng-show="!createForm">
    <mms-search mms-options="searchOptions"></mms-search>
</div>

<div class="modal-footer">
    <div><a ng-click="createForm = false" class="create-element-link pull-left" ng-show="createForm">Search for existing views</a></div>
    <div class="pull-left" ng-show="!createForm"><a ng-click="createForm = true">Return to Create View</a></div>
    <button class="btn btn-success" ng-show="createForm" ng-click="ok()">CREATE <i ng-show="oking" class="fa fa-spin fa-spinner"></i></button>
    <button class="btn btn-danger" ng-click="cancel()">CANCEL</button>
</div>