<div class="modal-header">
    <h4>Create New Branch From {{from}}</h4>
</div>

<div class="modal-body comment-modal ve-new-ref">

    <div class="comment-modal-input">

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" ng-model="branch.name" type="text"
                placeholder="Type a name for your branch here" autofocus>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" ng-model="branch.description"></textarea>
        </div>
        <div class="form-group">
            <label>Permission:</label>
            <br />
            <input ng-model="branch.permission" value="read" type="radio"> Read
            <br />
            <input ng-model="branch.permission" value="write" type="radio"> Write
        </div>
        <div class="form-group">
            <label>Point in History:</label>
            <form>
                <input id="most-recent" type="radio" name="most recent" ng-model="branch.lastCommit" ng-value="true">
                <label for="most-recent">Most Recent</label>
                <br>
                <input id="specify-point" type="radio" name="specify point" ng-model="branch.lastCommit" ng-value="false">
                <div class="indent ve-secondary-text timestamp-format">
                    <i>(YYYY-MM-DDTHH:MM:SS)</i>
                </div>
                <div class="indent">
                    <input class="form-control" ng-model="tag.timestamp" type="datetime-local" ng-change="updateTimeOpt()" placeholder="YYYY-MM-DDTHH:MM:SS">
                </div>
                <div class="indent">
                    <input class="form-control" ng-model="branch.timestamp" type="datetime-local" ng-change="updateTimeOpt()" placeholder="YYYY-MM-DDTHH:MM:SS">
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Create <i ng-show="oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-tertiary" ng-click="cancel()">Cancel</button>
</div>