<div class="modal-header">
    <h4>CREATE NEW DOCUMENT</h4>
</div>

<div class="modal-body comment-modal">

    <div class="comment-modal-input">

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" ng-model="newDoc.name" type="text"
                   placeholder="Type a name for your document here" autofocus></input>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">CREATE <i ng-show="oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-danger" ng-click="cancel()">CANCEL</button>
</div>