<div class="modal-header">
    <h4>Create new document</h4>
</div>

<div class="modal-body comment-modal">

    <div class="comment-modal-input">

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" ng-model="newDoc.name" type="text"
                   placeholder="Type a name for your document here" autofocus></input>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="ok()">Create <i ng-show="oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-sm" ng-click="cancel()">Cancel</button>
</div>