<div class="modal-header">
    <h4>Add View</h4>
</div>

<div class="modal-body">
    <div ng-show="createForm">
        <div class="ve-light-tabs">
            <ul class="nav nav-tabs">
                  <li class="uib-tab nav-item active tab-item">
                        <a class="nav-link">Create New</a>
                  </li>
                  <li class="uib-tab nav-item tab-item">
                        <a ng-click="createForm = false" class="create-element-link nav-link" ng-show="createForm">Search for existing</a>
                  </li>
            </ul>
        </div>
        <div class="comment-modal-input">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" ng-model="newView.name" ng-keyup="$event.keyCode == 13 ? ok() : null" type="text" placeholder="Type a name for your view here" autofocus>
            </div>
        </div>
    </div>

    <div ng-show="!createForm">
        <div class="ve-light-tabs">
            <ul class="nav nav-tabs" ng-show="!createForm">
                <li class="uib-tab nav-item tab-item">
                    <a class="nav-link" ng-click="createForm = true">Create New</a>
                </li>
                <li class="uib-tab nav-item tab-item active">
                    <a class="nav-link">Search for existing</a>
                </li>
            </ul>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="newViewAggr.type" value="shared">SHARED - Add view and its children</label><br>
            <label><input type="radio" ng-model="newViewAggr.type" value="none">NONE - Add view only</label>
        </div>
        <mms-search mms-options="searchOptions" mms-project-id="{{projectOb.id}}" mms-ref-id="{{refOb.id}}"></mms-search>
    </div>
</div>


<div class="modal-footer">
    <button class="btn btn-primary" ng-show="createForm" ng-click="ok()">Create
        <i ng-show="oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-tertiary" ng-click="cancel()">Cancel</button>
</div>