<div class="modal-header">
    <h4>Create a new branch from {{from}}</h4>
</div>

<div class="modal-body comment-modal ve-new-branch">

    <div class="comment-modal-input">

        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" ng-model="branch.name" type="text" placeholder="Type a name for your branch here" autofocus></input>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" ng-model="configuration.description"></textarea>
        </div>
        <div class="form-group">
            <label>Permission:</label>
            <br />
            <input ng-model="branch.permission" value="read" type="radio"> Read</input>
            <br />
            <input ng-model="branch.permission" value="write" type="radio"> Write</input>
        </div>
        <div class="form-group">
            <label>Point in History:</label>
                <form> 
                    <input id="most-recent" type="radio" name="history-point">
                    <label for="most-recent">Most Recent</label>
                    <br>
                    <input id="specify-point" type="radio" name="history-point">
                    <label for="specify-point">Specify a timestamp (YYYY-MM-DDTHH:MM:SS)</label>
                    <div class="indent">
                        <input class="form-control" ng-model="configuration.timestamp" type="datetime-local" ng-change="updateTimeOpt()" placeholder="YYYY-MM-DDTHH:MM:SS">
                        </input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()">CREATE <i ng-show="oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-danger" ng-click="cancel()">CANCEL</button>
</div>