
<div ng-if="view !== null && search === null" >
    <div fa-pane pane-anchor="north" pane-size="41px" pane-no-toggle="true" pane-no-scroll="true">
        <div class="pane-center-btn-group">      
            <mms-button-bar buttons="buttons" mms-bb-api="bbApi"></mms-button-bar>
        </div>
    </div>
    <div fa-pane pane-anchor="center">
        <i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="mms_viewContentLoading"></i>
        <div ng-if="mms_showSiteDocLink">
            <h4><a class="docweb-link" ui-sref="workspace.sites()">Sites and Documents</a></h4>
        </div>
        <div ng-hide="mms_viewContentLoading" class="pane-center container-fluid">
            <div class="pane-center-inner">
                <div>{{numComments}} Comment<span ng-if="numComments !== 1">s</span><span ng-if="numComments > 0">, Last Commented {{lastCommented | date:'M/d/yy h:mm a'}} by {{lastCommentedBy}}</span>
                </div>
                <div id="print-div">
                    <mms-view mms-vid="{{vid}}" mms-number="{{sectionNumber}}" mms-cf-clicked="tscClicked(elementId)" mms-version="{{version}}" mms-tag="{{tagId}}" mms-ws="{{ws}}" mms-view-api="viewApi" mms-link="vidLink" mms-transcluded="elementTranscluded(element, type)"></mms-view>
                </div>
                <div ng-if="showFilter">
                    <mms-site-doc-filter mms-site="{{site.sysmlid}}" mms-ws="{{ws}}" mms-version="{{version}}" mms-api="filterApi"></mms-site-doc-filter>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-if="mms_showTagDescriptionFix && search === null">
  <i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="mms_viewContentLoading"></i>

  <h1 class="view-title">{{tag.name}}</h1>
  <h5>TAG DESCRIPTION</h5>
  <div ng-bind-html="tag.description"></div>
  <br/>
  <mms-tag-docs mms-ws="{{ws}}" mms-tag="{{tag.id}}"></mms-tag-docs>
</div>

<div ng-if="search !== null">
    <div class="modal-body transclude-modal">
        <div class="transclude-modal-input">
            <div class="misc-form-field" ng-show="search.length > 0">
                <div class="form-filter">
                    <input class="form-control" type="text" ng-model="filterQuery.query" placeholder="Filter results" />
                </div>
                <div class="container-search-type">
                    <div class="btn-group btn-group-xs search-filter-type">
                        <button ng-click="setFilterFacet('all')" type="button" class="btn-filter-facet-all btn-search-type btn btn-default active">ALL</button>
                        <button ng-click="setFilterFacet('name')" type="button" class="btn-filter-facet-name btn-search-type btn btn-default">NAME</button>
                        <button ng-click="setFilterFacet('documentation')" type="button" class="btn-filter-facet-documentation btn btn-search-type btn-default">DOCUMENTATION</button>
                        <button ng-click="setFilterFacet('id')" type="button" class="btn-filter-facet-id btn-search-type btn btn-default">MDID</button>
                    </div>
                </div>
                <div>Showing {{filteredElms.length}} of {{search.length}} search results.</div>
            </div>
        </div>
        <div class="container-fluid" ng-show="search.length > 0">
            <div class="elem-wrapper" ng-repeat="elem in filteredElms = (search | filter: searchFilter)">
                <hr>
                <div class="elem-name-wrapper">
                    <a class="elem-name" ng-click="tscClicked(elem.sysmlid)">{{elem.name}}</a>
                    <a class="elem-name" ng-show="elem.specialization.isSlot" ng-click="tscClicked(elem.sysmlid)"><mms-transclude-name mms-eid="{{elem.specialization.propertyType}}"></mms-transclude-name></a>
                </div>
                <div class="elem-qualified-name-wrapper">
                    <div class="elem-qualified-name">
                            {{elem.qualifiedName}}
                    </div>
                </div>
                <div class="elem-documentation-wrapper">
                    <label>DOCUMENTATION</label>
                    <div class="elem-documentation">
                        <a ng-show="elem.documentation" ng-bind-html="elem.documentation | limitTo:300" ng-click="tscClicked(elem.sysmlid)"></a><span class="ellipses">{{elem.documentation.length > 300 ? ' ...' : ''}}</span>
                        <a ng-show="!elem.documentation" ng-click="tscClicked(elem.sysmlid)">This field is empty, but you can still click here to cross-reference a placeholder.</a>
                    </div>
                </div>
                <div class="elem-type-wrapper">
                    <label>TYPE</label>
                    <div class="elem-type">
                        {{elem.specialization.type || 'Element'}}
                    </div>
                </div>
                <div ng-if="elem.specialization.type === 'Property' && elem.specialization.value[0]">
                    <label>VALUE</label>
                    <div class="elem-properties">
                        <a ng-click="tscClicked(elem.sysmlid)">
                            <span ng-repeat="val in elem.specialization.value">
                                {{val.string || val.boolean + '' || val.naturalValue || val.integer || val.double || val.expressionBody[0] || 'Default Value'}}<span class="ellipses">{{(val.expressionBody[0] && val.expressionBody.length > 1) ? ' ...' : '' }}</span>{{$last ? '' : ', '}}
                            </span>
                        </a>
                    </div>
                </div>
                <div ng-if="elem.specialization.type === 'Constraint'">
                    <label>SPECIFICATION</label>
                    <div class="elem-specification">
                        <a ng-click="tscClicked(elem.sysmlid)">
                            {{elem.specialization.specification.string || elem.specialization.specification.boolean ||
                              elem.specialization.specification.naturalValue || elem.specialization.specification.integer ||
                              elem.specialization.specification.double || 'Constraint Specification'}}
                        </a>
                    </div>
                    <a ng-click="tscClicked(elem.sysmlid)">
                        <div ng-repeat="str in elem.specialization.specification.expressionBody">
                            <div class="elem-specification">{{str}}</div>
                        </div>
                    </a>
                </div>
                <div ng-if="elem.properties[0]" class="elem-properties-wrapper">
                    <label>PROPERTIES</label>
                    <table>
                        <tbody>
                            <tr ng-repeat="row in elem.properties">
                                <td ng-repeat="property in row">
                                    {{property.name}}<span ng-show="property.specialization.isSlot"><mms-transclude-name mms-eid="{{property.specialization.propertyType}}"></mms-transclude-name></span>: 
                                    <a ng-click="tscClicked(property.sysmlid)"><span ng-repeat="val in property.specialization.value">{{val.string || val.boolean + '' || val.naturalValue || val.integer || val.double || val.expressionBody[0] || 'Default Value'}}<span class="ellipses">{{(val.expressionBody[0] && val.expressionBody.length > 1) ? ' ...' : '' }}</span>{{$last ? '' : ', '}}</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="elem.relatedDocuments.length > 0" class="elem-documentation-wrapper">
                    <label>RELATED DOCUMENTS</label>
                    <div ng-repeat="relatedDocument in elem.relatedDocuments" class="elem-documentation">
                        <a ng-repeat="relatedView in relatedDocument.parentViews" ng-click="searchGoToDocument(relatedDocument.sysmlid, relatedView.sysmlid)">
                            {{relatedDocument.name}} > {{relatedView.name}}
                        </a>
                    </div>
                </div>                
            </div>
        </div>
        
        <div class="container-no-results container-fluid" ng-show="search.length === 0">
            <h3>NO RESULTS FOUND.</h3>
        </div>
    </div>
</div>