<div class="pane-right">
    <div ng-if="documentOb">
        <div class="container-fluid" ng-show="show.element">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Edits ({{veEditsLength()}}):</label>
                    <div class="col-sm-9">
                        <select class="form-control"
                                ng-options="eid as edit.type + ': ' + edit.name for (eid, edit) in ve_edits"
                                ng-model="tracker.etrackerSelected" ng-change="etrackerChange()">
                        </select>
                    </div>
                </div>
            </form>
            <mms-spec mms-element-id="{{specInfo.id}}" mms-commit-id="{{specInfo.commitId}}"
                      mms-ref-id="{{specInfo.refId}}" mms-project-id="{{specInfo.projectId}}"
                      mms-spec-api="specApi"></mms-spec>
        </div>
    </div>

    <div ng-if="documentOb">
        <div class="container-fluid" ng-show="show.history">
            <mms-history mms-element-id="{{specInfo.id}}" mms-ref-id="{{specInfo.refId}}"
                         mms-project-id="{{specInfo.projectId}}"></mms-history>
        </div>
    </div>

    <div class="container-fluid" ng-show="show.tags">
        <h1>Tags</h1>
        <div ng-show="noTags">No tags in current project.</div>
        <div ng-hide="noTags">
            <table class="snapshot-table table table-condensed">
                <tr><th>Name</th><th>Time</th></tr>
                <tr ng-repeat="tag in tagObs | orderBy:'-_created'">
                    <td>
                        <a ui-sref="project.ref({refId: tag.id, search: undefined})">{{tag.name}}</a>
                    </td>
                    <td>{{tag._created | date:'M/d/yy h:mm a'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container-fluid" ng-show="show.reorder">
        <mms-view-reorder mms-element-id="{{viewOb.id}}" mms-project-id="{{viewOb._projectId}}"
                          mms-commit-id="{{viewCommitId}}" mms-order="true" mms-ref-id="{{viewOb._refId}}"
                          mms-view-reorder-api="viewContentsOrderApi"></mms-view-reorder>
    </div>

    <div class="container-fluid" ng-show="show.jobs">
        <mms-jobs mms-doc-id="{{documentOb.sysmlId}}" mms-project-id="{{projectOb.id}}"
                  mms-ref-id="{{refOb.id}}"></mms-jobs>
    </div>
</div>