<style>
    button:disabled {
        background-color:background: #dddddd;
    }
</style>
<div class="modal-header">
    <h4>{{action | uppercase}} {{type}}</h4>
</div>

<div class="modal-body">
    <p ng-if="type == 'DOCUMENT' && !genpdf">
      This will bring up a popup where you can {{action}} the contents of this document, please disable any popup blockers if you don't 
      see the popup. 
      <br/><br/>If you don't see certain content appearing in the popup, please wait until the full document appears in this pane before clicking {{action}}.
    </p>
    <p ng-if="type == 'VIEW' && !genpdf">
        This will bring up a popup where you can {{action}} the contents of this view, please disable any popup blockers if you don't 
      see the popup. 
      <br/><br/>
      If you don't see certain content appearing in the popup, please wait until the full document appears in this pane before clicking {{action}}.
      <br/><br/><span ng-show="docOption">If you want to {{action}} the entire document instead, please click on 'GO TO FULL DOCUMENT' and click {{action}} again when it finishes loading.</span>
    </p>
    <p ng-if="type == 'VIEW' && genpdf">
      Click on GENERATE PDF to generate a pdf of this view (it will not include table of contents or cover pages). You will receive an email with subject line "HTML to PDF generation completed" with a link to the generated PDF. If you want the full document instead, please click on GO TO FULL DOCUMENT.
    </p>
    <p ng-if="type == 'DOCUMENT' && genpdf">
      Please note that you should wait until the full document appears in this pane before continuing. You will receive an email with subject line "HTML to PDF generation completed" with a link to the generated PDF.
    </p>
    <p ng-if="unsaved" class="error">
      WARNING: You currently have unsaved changes in the session that may not be reflected.
    </p>
    <br/> <!--<div ng-if="type == 'DOCUMENT'">Generate Standard Cover Page: <input type="checkbox" ng-model="model.genCover"></div> -->
    <div ng-if="type == 'DOCUMENT' && genpdf">Generate List of Tables and Figures: <input type="checkbox" ng-model="model.genTotf"></div>
    <div ng-if="model.genTotf">Use HTML for List of Tables and Figures (will not include equations and may differ from web numbering): <input type="checkbox" ng-model="model.htmlTotf"></div>
    <div ng-if="genpdf">Landscape: <input type="checkbox" ng-model="model.landscape"></div>
    <form ng-if="type == 'DOCUMENT' && genpdf" role="form">
        <h6>Header and Footer</h6>
        <div>Use 'counter(page)' for page number.</div>
        <div class="form-group">
            <div style="text-align:center;">Header:</div>
            <input type="text" ng-model="meta['top-left']" size="11" placeholder="Left">
            <input type="text" ng-model="meta.top" size="55" placeholder="Center">
            <input type="text" ng-model="meta['top-right']" size="11" placeholder="Right">
        </div>
        <div class="form-group">
            <div for="footer" style="text-align:center;" >Footer:</div>
            <input type="text" ng-model="meta['bottom-left']" size="11" placeholder="Left">
            <input type="text" ng-model="meta.bottom" size="55" placeholder="Center">
            <input type="text" ng-model="meta['bottom-right']" size="11" placeholder="Right">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button ng-if="type == 'VIEW' && docOption" class="btn btn-sm btn-primary" ng-click="fulldoc()">GO TO FULL DOCUMENT</button>
    <button class="btn btn-sm btn-primary" ng-click="print()">{{action | uppercase}}</button>
    <button class="btn btn-sm btn-danger" ng-click="cancel()">CANCEL</button>
</div>
