<div class="modal-header">
    <h4>{{action}} {{type | lowercase}}</h4>
</div>

<div class="modal-body">
    <p ng-if="hasError" class="mms-error-icon">
        WARNING: There are cross reference errors in this document that will be reflected in the export.
    </p>
    <p ng-if="unsaved" class="mms-error-icon">
        WARNING: Unsaved changes may not be reflected (alt + a to save all)
    </p>
    <p ng-if="mode === 1">
      This will bring up a popup where you can {{action}} the contents of this {{type === 'DOCUMENT' ? 'document' : 'view'}} , please disable any popup blockers if you don't
      see the popup. 
      <br/><br/>If you don't see certain content appearing in the popup, please wait until the full document appears in this pane before clicking {{action}}.
    </p>
    <p ng-if="mode !== 1">
     <span ng-if="type === 'VIEW'">
      Click on {{action | uppercase}} to generate a {{label}} of this view (it will not include table of contents or cover pages). You will receive an email with subject line "HTML to {{label}} generation completed" with a link to the generated {{label | uppercase}}. If you want the full document instead, please click on GO TO FULL DOCUMENT.
     </span>
     <span ng-if="type === 'DOCUMENT'">
      Please wait until the full document appears in this pane before continuing. You will receive an email with subject line "HTML to {{label}} generation completed" with a link to the generated {{label}}.
     </span>
    </p>
    <p ng-if="type == 'DOCUMENT' && mode === 3">
      Choose either basic or advanced styling options.
    </p>    
    <br/>
    <div ng-if="type == 'DOCUMENT' && mode !== 1">
    </div>
    <div ng-if="type == 'DOCUMENT' && mode !== 1"><input type="checkbox" ng-model="model.genTotf"> Include List of Tables, Figures and Equations</div>
    <!-- <div ng-if="model.genTotf" class="indent"><input type="checkbox" ng-model="model.htmlTotf"> Use HTML for List (will not include equations and may differ from web numbering)</div> -->
    <br>

    <div ng-if="type == 'DOCUMENT' && mode === 3">
        <br>
        <form class="ve-light-tabs">
            <input type="radio" name="Options" ng-click="customizeDoc.useCustomStyle = false" data-ng-model="customizeDoc.useCustomStyle" data-ng-value="false">
            <label for="Basic">Basic Options</label>&nbsp;&nbsp;&nbsp;
            <input type="radio" name="Options" ng-click="customizeDoc.useCustomStyle = true" data-ng-model="customizeDoc.useCustomStyle" data-ng-value="true">
            <label for="Advanced">Advanced Options (CSS)</label>
        </form>

        <div class="well" ng-show="!customizeDoc.useCustomStyle">
        <form role="form">

            <div ng-if="mode !== 1">
                <label>Orientation</label><br>
                <form>
                    <input type="radio" name="export-orientation" ng-model="model.landscape" ng-value="false">
                    <label for="portrait" class="ve-font-weight-normal">&nbsp;<i class="fa fa-file ve-secondary-text"></i> Portrait</label><br>
                    <input type="radio" name="export-orientation" ng-model="model.landscape" ng-value="true">
                    <label for="landscape" class="ve-font-weight-normal">&nbsp;<i class="fa fa-file fa-rotate-270 ve-secondary-text"></i> Landscape
                </form>
            </div>
            <br>

            <div class="form-group">
                <label>Header</label>
                <div class="row narrow-gutter-row">
                    <div class="col-md-3">
                        <input class="ve-plain-input" type="text" ng-model="meta['top-left']" placeholder="Left" aria-labelledby="left header">
                    </div>
                    <div class="col-md-6">
                        <input class="ve-plain-input" type="text" ng-model="meta.top" placeholder="Center" aria-labelledby="center header">
                    </div>
                    <div class="col-md-3">
                        <input class="ve-plain-input" type="text" ng-model="meta['top-right']" placeholder="Right" aria-labelledby="right header">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="footer">Footer</label>
                <div class="row narrow-gutter-row">
                    <div class="col-md-3">
                        <input class="ve-plain-input" type="text" ng-model="meta['bottom-left']" placeholder="Left" aria-labelledby="left footer">
                    </div>
                    <div class="col-md-6">
                        <input class="ve-plain-input" type="text" ng-model="meta.bottom" placeholder="Center" aria-labelledby="center footer">
                    </div>
                    <div class="col-md-3">
                        <input class="ve-plain-input" type="text" ng-model="meta['bottom-right']"  placeholder="Right" aria-labelledby="right footer">
                    </div>
                </div>
            </div>
            <p class="help-block"><i>Use 'counter(page)' for page number</i></p>

        </form>
        </div>

        <div class="well" ng-show="customizeDoc.useCustomStyle">
            <form ng-submit="saveStyleUpdate()" role="form">

                <div class="form-group">
                    <textarea class="form-control" rows="6" style="width:100%" ng-model="customizeDoc.customCSS"></textarea>
                </div>
                <p class="help-block">
                    <a target="_blank" href="https://wiki.jpl.nasa.gov/display/opencae/View+Editor+User+Guide%3A+8+PDF+Customization">Example CSS customizations</a>
                </p>
                <button class="btn btn-default" type="submit"><i class="fa fa-save"></i>Save CSS for document<span ng-if="elementSaving"><i class="fa fa-spinner fa-spin"></i></span></button>
                <button class="btn btn-default" type="button" ng-click="preview()">Preview</button>
            </form>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button ng-if="type == 'VIEW' && docOption" class="btn btn-primary" ng-click="fulldoc()">Go to full document</button>
    <button class="btn btn-primary" ng-click="print()">{{action | uppercase}}</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
