<div id="modal-window" class="ve-dark-modal">
    <div class="modal-header">
        <h4 class="modal-title">Switch Org</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="btn-group ve-dark-dropdown-wide" uib-dropdown>
            <span class="label-dropdown">Org:</span>
            <button id="project-btn-keyboard-nav" type="button" class="dropdown-toggle" uib-dropdown-toggle>
                <span>{{ selectedOrg }}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </button>
            <ul class="dropdown-menu list-with-selected-item" uib-dropdown-menu role="menu"
                aria-labelledby="project-btn-keyboard-nav">
                <li ng-repeat="org in orgs | orderBy: 'name'" ng-click="selectOrg(org)"
                    ng-class="{'checked-list-item': org.name === selectedOrg}">{{ org.name }}
                </li>
            </ul>
        </div>
        <div class="btn-group ve-dark-dropdown-wide" uib-dropdown keyboard-nav>
            <span class="label-dropdown">Project:</span>
            <button id="module-btn-keyboard-nav" type="button" class="dropdown-toggle" uib-dropdown-toggle
                    ng-disabled="!selectedOrg || !projects.length">
                <span ng-hide="projects.length">No Projects for selected Org</span>
                <span ng-show="projects.length">{{ selectedProject }}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </button>
            <ul class="dropdown-menu list-with-selected-item" uib-dropdown-menu role="menu"
                aria-labelledby="module-btn-keyboard-nav">
                <li ng-repeat="project in projects | orderBy: 'name'" ng-click="selectProject(project)"
                    ng-class="{'checked-list-item': project.name === selectedProject}">{{ project.name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer ng-scope">
        <button class="btn btn-primary" type="button" ng-click="continue()" ng-disabled="!selectedProject || !selectedOrg">
            Continue<span ng-if="spin"><i class="fa fa-spin fa-spinner"></i></span>
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>