<div id="ve-origin-select" class="row">
    <div class="account-wall">
        <div>
            <a ng-click="logout()"><i class="fa fa-arrow-left fade-in back-to-account" aria-hidden="true"></i></a>
            <h2>{{ ve_title }}</h2>
        </div>
        <div>
            <form name="loginForm" ng-submit="continue()">
                <div class="btn-group ve-dark-dropdown-wide animated-fade-in-slide" uib-dropdown>
                    <span class="label-dropdown">Org:</span>
                    <button type="button" class="dropdown-toggle" uib-dropdown-toggle>
                        <span>{{ selectedOrg }}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </button>
                    <ul class="dropdown-menu list-with-selected-item" uib-dropdown-menu role="menu">
                        <li ng-model="selectedOrg" ng-repeat="org in orgs" ng-click="selectOrg(org)">{{ org.name }}</li>
                    </ul>
                </div>
                <div class="btn-group ve-dark-dropdown-wide animated-fade-in-slide" uib-dropdown>
                    <span class="label-dropdown">Project:</span>
                    <button type="button" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="!selectedOrg">
                        <span>{{ selectedProject }}<i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </button>
                    <ul class="dropdown-menu list-with-selected-item" uib-dropdown-menu role="menu">
                        <li ng-model="selectedProject" ng-repeat="project in projects"
                            ng-click="selectProject(project)">{{ project.name }}
                        </li>
                    </ul>
                </div>
                <button class="btn btn-block btn-primary animated-fade-in-slide" type="submit">Continue
                    <span ng-if="spin"><i class="fa fa-spin fa-spinner"></i></span>
                </button>
            </form>
        </div>
    </div>
</div>