<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="block">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle main-nav-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <span>
            <a class="navbar-brand" ui-sref="login.select">
                <img src="assets/openmbee.svg" alt="View Editor Logo">
            </a>
            <a ng-if="!org.homeLink" class="org-title" ui-sref="project.ref({projectId: project.id, refId: ref.id})">{{ org.name }}</a>
            <a ng-if="org.homeLink" class="org-title" ng-href="{{org.homeLink}}">{{ org.name }}</a>
            <a class="switch-org" ng-click="updateOrg()">Switch Org</a>
            </span>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" id="global-navigation">
            <form id="global-search" ng-submit="search(searchText)" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input placeholder="Search selected project" ng-model="searchText"/>
                    <button ng-click="search(searchText)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
            <ul class="nav navbar-nav global-menu">
                <!--<li><span><a ng-click="stagingView()">UAT</a></span></li>-->
                <li class="dropdown">
                    <span class="dropdown ve-dark-dropdown-nav fixed-content-dropdown" uib-dropdown on-toggle="toggled(open)">
                        <a href id="help-dropdown" class="dropdown-toggle" uib-dropdown-toggle>
                        Help <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" uib-dropdown-menu aria-labelledby="help-dropdown">
                            <li>
                                <a href="" ng-click="toggleHelp()">Keyboard Shortcuts</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://github.com/Open-MBEE/ve/blob/develop/Documents/ViewEditorUserGuide.pdf" target="_blank">View Editor Help</a>
                            </li>
                            <li>
                                <a href="https://openmbee.atlassian.net/secure/Dashboard.jspa" target="_blank">Report Issue</a>
                            </li>
                            <li class="divider"></li>
                            <li class="list-section-bottom">
                                <a ng-click="toggleAbout()" href="">About View Editor</a>
                            </li>
                         </ul>
                    </span>
                </li>
                <li class="dropdown">
                    <span class="dropdown ve-dark-dropdown-nav fixed-content-dropdown user-profile" uib-dropdown on-toggle="toggled(open)">
                        <a href id="login-dropdown" class="dropdown-toggle" uib-dropdown-toggle>
                            <div ng-if="user.firstName !== undefined">{{ user.firstName | limitTo:1 | uppercase }}{{ user.lastName | limitTo:1 | uppercase }}</div>
                            <div ng-if="user.firstName === undefined">{{ user | limitTo:2 | uppercase }}</div>
                        </a>
                        <ul class="dropdown-menu pull-right" uib-dropdown-menu aria-labelledby="login-dropdown" style="white-space: nowrap" role="login-menu">
                            <li ng-if="username" class="ve-secondary">
                                Logged in as <b ng-if="user.firstName !== undefined">{{ user.firstName }} {{ user.lastName }}</b> ({{ username }})
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="logout()">Log Out</a>
                            </li>
                         </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>
