/*************************
  Styles for the View Editor center pane
*************************/

$pane_center_btn_group_width: 340px;
$pane_center_toolbar: $pane_center_btn_group_width + 150px;

/* start of fullDoc page styles */
body.fullDoc {
  text-rendering: optimizeLegibility;
  overflow: scroll;
  font-family: "Times New Roman", Serif;
}

tr {
  page-break-inside: avoid !important;
}


.pane-center .container-fluid{
  padding-left: 31px;
}
/* end of fullDoc page styles */

.clickable:hover {
  cursor: pointer;
  background-color: $light_blue;
}

/*Overriding default from fa-pane-scroller that results in double scroll bar*/
.center-view .center-view{
  overflow: hidden;
}

.pane-center {
  margin-right: -11px;
  font-size: 16px;

  .pane-center {
    margin-right: 0;
    padding-bottom: 30px;
  }

  .pane-center-spinner {
    position: absolute;
    top: 45%;
    left: 50%;
  }


  .pane-center-toolbar {
    padding: 5px 10px;
    min-width: $pane_center_toolbar;
  }
  .pane-center-btn-group {
    float: right;
    // padding: 5px 10px;
    min-width: $pane_center_btn_group_width;

    .bordered-button-bar {
      float: right;
    }
  }
}


.container-tree-reorder {
  margin-bottom: 24px;

  .tree-reorder {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 24px;
    clear: both;
    border: 1px solid $ve-silver-darker-1;
    border-radius: 3px;
    background-color: $ve-silver-lighter-1;
    padding: 8px;
    margin: 18px 0;
  }

  .btn-tree-reorder-save {
    float: right;
    margin-top: 24px;
    margin-right: 8px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .angular-ui-tree-handle {
    font-family: $font-family-sans-serif;
    color:$ve-slate-base;
    padding:4px 6px;
    border-radius: 2px;
    font-weight:bold;
    -webkit-transition: background-color .1s ease-out !important;
    -moz-transition: background-color .1s ease-out !important;
    -o-transition: background-color .1s ease-out !important;
    transition: background-color .1s ease-out !important;
  }

  .angular-ui-tree-handle.grab{
    cursor: move;
    cursor: -moz-move;
    cursor: -webkit-move;
  }

  .angular-ui-tree-handle.no-grab{
    font-weight: initial;
    color:$ve-light-text;
    cursor: default;
  }

  .angular-ui-tree-handle:hover{
    background-color:$ve-silver-lighter-0;
  }

  .angular-ui-tree-placeholder{
    margin:0;
    min-height:0;
  }

  .angular-ui-tree-handle.no-grab:hover{
    background-color:transparent;
  }

  .angular-ui-tree-placeholder:before{
    background-image: url(../assets/location-feedback.svg);
    content: ' ';
    background-size: 70px 30px;
    height: 30px;
    width: 70px;
    background-repeat: no-repeat;
    position: absolute;
    left: 4px;
  }
}


/* styling for doclib link to the right of the button bar*/

.doclib-link {
  margin: 0 4px;
  float: left;
  .btn-tools{
    color: $ve-light-text;
  }

  img{
    padding-right:5px;
    top: -1px;
    position: relative;
  }
}
