/*************************
  Styles for the View Editor left pane
*************************/

$pane_left_btn_group_width: 240px;

#main-pane {
  > .west-tabs {
    &.fa-pane-orientation-horizontal {
      .fa-pane-handle > .fa-pane-toggle {
        @include box-shadow(2px 0 2px 0px rgba(100, 100, 100, 0.2));
      }
    }

    .west-tabs {
      @include box-shadow(1px 0px 1px 0px rgba(0, 0, 0, 0.2));
    }
  }
}

.container-pane-left {
  height: 100%;
  width: 100%;

  .pane-left {
    width: 100%;

    .pane-left-toolbar-wrap {
      padding: 5px 0;
    }

    .pane-left-btn-group {
      margin-left: 15px;
      background-color: $white;
      padding: 0;
      min-width: $pane_left_btn_group_width;
    }

    .input-filter-tree {
      width: 90%;
      margin-left: 14px;
      height: 33px;
      @include border-radius(2px);
      margin-bottom: 6px;
    }
  }
}
