<div class="modal-header">
    <h4 class="item-type-{{$ctrl.itemType}}">Create new {{$ctrl.itemType | lowercase}}</h4>
    <span class="ve-notify-banner" ng-if="$ctrl.itemType === 'Tag'">Tags are read only</span>
</div>

<div class="modal-body">
    <div class="ve-light-tabs modal-top-tabs" ng-show="$ctrl.itemType === 'View'">
        <ul class="nav nav-tabs">
            <li class="uib-tab nav-item tab-item" ng-class="{'active': $ctrl.createForm}">
                <a class="nav-link" ng-click="$ctrl.createForm = true"><i class="fa fa-plus"></i>Create New</a>
            </li>
            <li class="uib-tab nav-item tab-item" ng-class="{'active': !$ctrl.createForm}">
                <a class="nav-link" ng-click="$ctrl.createForm = false"><i class="fa fa-search"></i>Search for existing</a>
            </li>
        </ul>
    </div>
    <div class="modal-body comment-modal">
        <p class="modal-description" ng-show="$ctrl.itemType === 'Tag'">A <b>tag</b> is a read-only version of your project at a specific moment in time, typically a release or review.
            <a ui-sref="main.project.ref.document.view({documentId: '_18_0_2_8630260_1446850132083_177552_51111', viewId: 'MMS_1453977130045_239e2aee-1243-4480-a6f8-61ff7bed700f', projectId: 'PROJECT-ID_10_15_15_1_41_52_PM_5b84f7be_1506a83819c__6bce_cae_tw_jpl_nasa_gov_128_149_19_85', refId: 'master', search: undefined})">more</a></p>
        <div class="comment-modal-input" ng-show="$ctrl.createForm">
            <div class="form-group">
                <label>Name {{$ctrl.itemType === 'View' ? '(optional):' : ':'}}</label>
                <input class="form-control" ng-model="$ctrl.newItem.name" type="text"
                    ng-keyup="$event.keyCode == 13 ? $ctrl.ok() : null" placeholder="Type a name for your {{$ctrl.itemType | lowercase}} here" autofocus>
            </div>
        </div>
    </div>
    <div class="modal-body ve-new-ref" ng-show="$ctrl.createForm && $ctrl.itemType === 'Tag'">
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="$ctrl.newItem.description"></textarea>
        </div>
        <div class="form-group">
            <label>Point in History</label>
            <form>
                <div class="radio radio-with-label">
                    <label for="most-recent">
                        <input id="most-recent" type="radio" name="most recent" ng-model="$ctrl.newItem.lastCommit" ng-value="true">
                        Most Recent
                    </label><br>
                    <label for="specify-point">
                        <input id="specify-point" type="radio" name="specify point" ng-model="$ctrl.newItem.lastCommit" ng-value="false">
                        Specify a timestamp
                    </label>
                    <div class="indent ve-secondary-text timestamp-format">
                        <i>(YYYY-MM-DDTHH:MM:SS)</i>
                    </div>
                </div>
                <div class="indent">
                    <input class="datetimepicker" id="tag">
                </div>
            </form>
        </div>
    </div>
    <div ng-show="!$ctrl.createForm && $ctrl.itemType === 'View'">
        <p>Begin by searching for the view, then click its name or documentation to add the view.</p>
        <div class="radio">
            <label><input type="radio" ng-model="$ctrl.newViewAggr.type" value="shared">Add view and its children</label><br>
            <label><input type="radio" ng-model="$ctrl.newViewAggr.type" value="none">Add view only</label>
        </div>
        <mms-search mms-options="$ctrl.searchOptions" mms-project-id="{{$ctrl.projectOb.id}}" mms-ref-id="{{$ctrl.refOb.id}}"></mms-search>
    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-show="$ctrl.createForm" ng-click="$ctrl.ok()">Create
        <i ng-show="$ctrl.oking" class="fa fa-spin fa-spinner"></i>
    </button>
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
</div>