<div class="pane-center container-fluid">
    <div class="pane-center-btn-group">
        <a type="button" ng-repeat="button in buttons" class="view-tools center" ng-click="button.action()" tooltip="{{button.tooltip}}" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="bottom">
            <span class="fa {{button.icon}}"></span>
        </a>
    </div>
    <div ng-repeat="view in views">
        <mms-view mms-vid="{{view.id}}" mms-version="{{version}}" mms-ws="master" mms-number="{{view.number}}" mms-view-api="view.api" mms-cf-clicked="tscClicked(elementId)"></mms-view>
    </div>
</div>



