<i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" ng-show="veViewLoading"></i>

<div ng-hide="veViewLoading" class="pane-center container-fluid">

  <div class="pane-center-btn-group">

      <a type="button" ng-repeat="button in buttons" class="view-tools center" ng-click="button.action()" tooltip="{{button.tooltip}}" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="bottom">
          <span class="fa {{button.icon}}"></span>
      </a>

  </div>
    
  <div class="pane-center-inner">

    <mms-view mms-vid="{{vid}}" mms-cf-clicked="tscClicked(elementId)" mms-order="false" mms-version="{{version}}" mms-view-api="viewApi"></mms-view>

  </div>

</div>