<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle>
        {{node.name}}
    </div>
    <ol ui-tree-nodes="" ng-model="node.children">
        <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<tabset>
    <tab heading="Reorder">
        <div class="container-fluid">
            <div ui-tree>
                <ol ui-tree-nodes="" ng-model="tree">
                    <li ng-repeat="node in tree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </tab>
</tabset>