<tabset>
    <tab>
        <tab-heading>Table of Contents</tab-heading>
        <div class="btn-toolbar" role="toolbar">
            <div class="wrap">
            <div class="col-xs-12 toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="my_tree.expand_all()">
                        <span class="fa fa-caret-square-o-down"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="my_tree.collapse_all()">
                        <span class="fa fa-caret-square-o-up"></span>
                    </button>  
                    <button type="button" class="btn btn-default" ng-click="try_adding_a_branch()"  ng-show="editable">
                        <span class="fa fa-plus"></span> Add
                    </button>
                    <button type="button" class="btn btn-default" ng-click="reorder_tree_view()"  ng-show="editable">
                        <span class="fa fa-navicon"></span> Reorder
                    </button>
                    <button type="button" class="btn btn-default" ng-click="toggle_filter_on()">
                        <span class="fa fa-navicon"></span> Filter
                    </button>
                    <div>
                        <input class="form-control" ng-show="filterOn" ng-model="search" type="text" placeholder="filter" ng-change="expand_tree()">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <mms-tree search="search" tree-data="my_data" section-numbering="true" tree-control="my_tree" 
            on-select="my_tree_handler(branch)" expand-level="2"> 
        </mms-tree>
    </tab>
    <tab>
        <tab-heading>Snapshots</tab-heading>
        <div ng-repeat="snapshot in snapshots">
            <a ui-sref="doc({site: site.name, docId: document.sysmlid, time: snapshot.created})" 
                ui-sref-opts="{reload: true}">{{snapshot.created | date:'M/d/yy h:mm a'}}</a>
        </div>
        <button ng-show="editable" class="btn btn-primary" ng-click="createNewSnapshot()">Create New</button>
    </tab>
</tabset>