<div class="wrap">
        <div class="btn-toolbar" role="toolbar">
            <div class="wrap" id="inside-wrap">
                <div class="col-xs-12 toolbar">
                    <div class="btn-group" ng-repeat="button in buttons">
                        <!-- <button type="button" class="btn btn-default" ng-click="button.action()" tooltip="{{button.tooltip}}" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="100" tooltip-placement="bottom">
                            <span class="fa {{button.icon}}"></span>
                        </button> -->
                        <a type="button" class="view-tools" ng-click="button.action(); selectTool($index)" tooltip="{{button.tooltip}}" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="100" tooltip-placement="{{button.placement}}">
                            <span class="fa {{button.icon}}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="form-control" ng-show="filterOn" ng-model="search" type="text" placeholder="filter" ng-change="my_tree.expand_all()">
        </div>
        <mms-tree search="search" tree-data="my_data" section-numbering="true" tree-control="my_tree" 
            on-select="my_tree_handler(branch)" expand-level="2" initial-selection="{{tree_initial_selection}}"> 
        </mms-tree>
</div>
