<ul>
    <li ui-sref-active="active">
      <a ui-sref="doc.view" tooltip="Element Data" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="left" tooltip-append-to-body="true" ><i class="fa fa-eye"></i></a>
    </li>
    <span class="divider"></span>
    <li ui-sref-active="active">
      <a ui-sref="doc.history" tooltip="Element History" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-history"></i></a>
    </li>
    <span class="divider"></span>
    <li ui-sref-active="active">
      <a ui-sref="doc.expr-editor" tooltip="Expression Editor" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-terminal"></i></a>
    </li>
    <span class="divider"></span>
</ul>