<ul>
    <li>
      <a href="#" tooltip="Element Data" tooltip-trigger="mouseenter" tooltip-popup-delay="700" tooltip-placement="left" tooltip-append-to-body="true" ><i class="fa fa-eye"></i></a>
    </li>
    <span class="divider"></span>
    <li>
      <a href="#" tooltip="Element History" tooltip-trigger="mouseenter" tooltip-popup-delay="700" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-history"></i></a>
    </li>
    <span class="divider"></span>
    <li>
      <a href="#" tooltip="Expression Editor" tooltip-trigger="mouseenter" tooltip-popup-delay="700" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-terminal"></i></a>
    </li>
    <span class="divider"></span>
</ul>