<tabset>
    <tab heading="TOC">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-click="my_tree.expand_all()">
                    <span class="fa fa-caret-square-o-down"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="my_tree.collapse_all()">
                    <span class="fa fa-caret-square-o-up"></span>
                </button>          
            </div>
            <div class="btn-group btn-group-sm" ng-show="editable">
                <button type="button" class="btn btn-default" ng-click="try_adding_a_branch()">
                    <span class="fa fa-plus"></span> Add
                </button>
            </div>
            <div class="btn-group btn-group-sm" ng-show="editable">
                <button type="button" class="btn btn-default" ng-click="reorder_tree_view()">
                    <span class="fa fa-navicon"></span> Reorder
                </button>
            </div>
        </div>
        <mms-tree tree-data="my_data" section-numbering="true" tree-control="my_tree" 
            on-select="my_tree_handler(branch)" expand-level="2" initial-selection="tree_initial_selection"> 
        </mms-tree>
    </tab>
    <tab heading="Snapshots">
        <div ng-repeat="snapshot in snapshots">
            <a ui-sref="doc({site: site.name, docId: document.sysmlid, time: snapshot.created})" 
                ui-sref-opts="{reload: true}">{{snapshot.created | date:'M/d/yy h:mm a'}}</a>
        </div>
        <button ng-show="editable" class="btn btn-primary" ng-click="createNewSnapshot()">Create New</button>
    </tab>
</tabset>