<div fa-pane="element" pane-anchor="east" pane-size="40%" pane-handle="4" pane-min="30px" pane-no-toggle="true">
    <tabset>
        <tab heading="Element">
            <div class="container-fluid" ng-show="showSpec">
                <mms-spec mms-eid="{{eid}}" mms-cf-elements="viewElements" mms-edit-field="all" mms-version="{{version}}"></mms-spec>
            </div>
        </tab>
        <tab heading="View Order">
            <div class="container-fluid">
                <mms-view-struct mms-vid="{{vid}}" mms-version="{{version}}" mms-order="true"></mms-view-struct>
            </div>
        </tab>
       <!-- <tab heading="History">
            <div class="container-fluid"></div>
        </tab>
        <tab heading="Comments">
            <div class="container-fluid"></div>
        </tab> -->
    </tabset>
</div>
<div fa-pane pane-anchor="center">
    <tabset>
        <tab heading="View">
            <div class="container-fluid">
                <mms-view mms-vid="{{vid}}" mms-cf-clicked="tscClicked(elementId)" mms-order="false" mms-version="{{version}}"></mms-view>
            </div>
        </tab>
    </tabset>
</div>