<div class="container-fluid">
    <div class="col-xs-12 center-pane-btn-toolbar">
        <a type="button" class="view-tools center" ng-click="nextSection()">
            <span class="fa fa-chevron-right"></span>
        </a>
        <a type="button" class="view-tools center" ng-click="prevSection()">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a type="button" class="view-tools center" ng-click="toggleShowElements()">
            <span class="fa fa-edit"></span>
        </a>
        <a type="button" class="view-tools center" ng-click="toggleShowComments()">
            <span class="fa fa-comment"></span>
        </a>
    </div>
    <mms-view mms-vid="{{vid}}" mms-cf-clicked="tscClicked(elementId)" mms-order="false" mms-version="{{version}}" mms-ws="{{ws}}" mms-view-api="viewApi"></mms-view>
</div>
