<div class="modal-header">
        <h4><span class="text-warning">beta</span> <b>(document name):</b> Apply changed Presentation Elements from <span class="{{srcRefOb.type}}-icon"><b>{{srcRefOb.name}}</b></span> to <span class="{{destRefOb.type}}-icon"><b>{{destRefOb.name}}</b></span></h4>
    </div>
    
    <div class="modal-body revert-dialogue">

        <p style="padding-bottom:20px;"> This will commit contents of <span class="{{srcRefOb.type}}-icon"><b>{{srcRefOb.name}}</b></span> PEs to <span class="{{destRefOb.type}}-icon"><b>{{destRefOb.name}}</b></span> PEs if they have changed, and add new PEs from <span class="{{srcRefOb.type}}-icon"><b>{{srcRefOb.name}}</b></span> to <span class="{{destRefOb.type}}-icon"><b>{{destRefOb.name}}</b></span> if they do not yet exist.<a> More...</a></p>

        <div class="element-preview-box">
            <p><i class="fa fa-exclamation-triangle"></i><b>Notice:</b> Your document may not look complete unless your model merge was completed as well.
            </p>
            <p><i class="fa fa-exclamation-triangle"></i><b>Before applying to your production branch</b> please <a>create a test branch</a> from our target branch, apply changes, and preview.</p>
        </div>

        <label>Optional change log message</label>
        <div class="commit-message-box">
            <textarea style="width:100%" rows="3" placeholder="Describe your changes">{{commitMessage}}</textarea>
        </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="ok()">Apply</button>
        <button class="btn btn-tertiary" ng-click="cancel()">Cancel</button>
    </div>
    