<div class="add-pe-buttons">
  <span class="center btn-group dropdown" uib-dropdown>
    <a type="button" class="dropdown-toggle" ng-click="$event.stopPropagation()" uib-dropdown-toggle aria-expanded="true">
        <i class="fa fa-plus"></i>Add
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu role="add PE menu">
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-paragraph">
          <i class="fa fa-paragraph"></i>
          <small><strong><span class="icon-title">TEXT</span></strong></small>
        </a></li>
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-table">
          <i class="fa fa-table"></i>
          <small><strong><span class="icon-title">TABLE</span></strong></small>
        </a></li>
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-image">
          <i class="fa fa-image"></i>
          <small><strong><span class="icon-title">IMAGE</span></strong></small>
        </a></li>
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-equation">
          <i class="fa fa-superscript"></i>
          <small><strong><span class="icon-title">EQUATION</span></strong></small>
        </a></li>
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-comment">
          <i class="fa fa-comment-o"></i>
          <small><strong><span class="icon-title">COMMENT</span></strong></small>
        </a></li>
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-section">
          <i class="section-icon"></i>
          <small><strong><span class="icon-title">&nbsp;SECTION</span></strong></small>
        </a></li>
    </ul>
  </span>
</div>