<div class="mms-add-pe-button">
  <span class="center btn-group dropdown" uib-dropdown>
    <a type="button" class="dropdown-toggle btn btn-sm" ng-click="$event.stopPropagation()" uib-dropdown-toggle aria-expanded="true" title="Add text, tables, images, equations, sections, and comments">
        <i class="fa fa-plus"></i>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu role="add PE menu">
      <li ng-click="addEltAction($index, 'Paragraph', $event)">
        <a type="button" class="add-element-button center view-add-paragraph icon-title pe-type-Paragraph" title="Add text">
        </a></li>
      <li ng-click="addEltAction($index, 'Table', $event)">
        <a type="button" class="add-element-button center view-add-table icon-title pe-type-Table" title="Add table">
        </a></li>
      <li ng-click="addEltAction($index, 'Image', $event)">
        <a type="button" class="add-element-button center view-add-image icon-title pe-type-Image" title="Add image">
        </a></li>
      <li ng-click="addEltAction($index, 'Equation', $event)">
        <a type="button" class="add-element-button center view-add-equation icon-title pe-type-Equation" title="Add equation">
        </a></li>
      <li ng-click="addEltAction($index, 'Section', $event)">
        <a type="button" class="add-element-button center view-add-section icon-title pe-type-Section" title="Add section">
        </a>
      </li>
      <li ng-click="addEltAction($index, 'Comment', $event)">
        <a type="button" class="add-element-button center view-add-comment icon-title pe-type-Comment" title="Add comment">
        </a></li>
    </ul>
  </span>
</div>