<span class="mms-error" uib-popover-template="'annotationTemplate.html'" popover-popup-close-delay="1000" popover-trigger="mouseenter" ng-bind-html="displayContent.inlineContent" popover-placement="top-left" popover-title="Content Not Found"></span>
<script type="text/ng-template" id="annotationTemplate.html">
    <div>
        {{displayContent.toolTipContent}}
    </div>
    <div id="tooltipElementId" style="position: absolute; left: -1000px; top: -1000px; ">
        {{displayContent.id}}
    </div>
    <button ng-click="copyToClipboard($event)" class="btn btn-sm btn-tertiary"><i class="fa fa-copy"></i>Copy Element ID</button>
</script>
