<div class="mms-add-pe-button">
  <span class="center btn-group dropdown" uib-dropdown="">
    <a type="button" class="dropdown-toggle btn btn-secondary" ng-click="$event.stopPropagation()" uib-dropdown-toggle="" aria-expanded="true" title="Add text, image, table, equation, comment, and section elements">
        <i class="fa fa-plus"></i>Add
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a type="button" class="add-element-button center view-add-paragraph"
          ng-click="addEltAction($index, 'Paragraph', $event)">
          <small><span class="icon-title pe-type-Paragraph">Text</span></small>
        </a></li>
      <li><a type="button" class="add-element-button center view-add-table"
          ng-click="addEltAction($index, 'Table', $event)">
          <small><span class="icon-title pe-type-Table">Table</span></small>
        </a></li>
      <li><a type="button" class="add-element-button center view-add-image"
          ng-click="addEltAction($index, 'Image', $event)">
          <small><span class="icon-title pe-type-Image">Image</span></small>
        </a></li>
      <li><a type="button" class="add-element-button center view-add-equation"
          ng-click="addEltAction($index, 'Equation', $event)">
          <small><span class="icon-title pe-type-Equation">Equation</span></small>
        </a></li>
      <li><a type="button" class="add-element-button center view-add-comment"
          ng-click="addEltAction($index, 'Comment', $event)">
          <small><span class="icon-title pe-type-Comment">Comment</span></small>
        </a></li>
      <li><a type="button" class="add-element-button center view-add-section"
          ng-click="addEltAction($index, 'Section', $event)">
          <small><span class="icon-title pe-type-Section">&nbsp;Section</span></small>
        </a>
      </li>
    </ul>
  </span>
</div>