<div id="hong">
    <input style="display: none;" mms-testing test-value="inputValue" uib-typeahead="autocompleteItem as (autocompleteItem.name + ' ' + autocompleteItem.type) for autocompleteItem in autocompleteItems | filter:{name: $viewValue} | limitTo:10"
        typeahead-on-select='autocompleteOnSelect($item, $model, $label)' ng-model="selected"
        ng-keypress="hi($event)" class="autocomplete-modal-typeahead form-control"
        placeholder="Type an element name to Cf" autofocus/>
    <!--<div class="autocomplete-modal-help">-->
        <!--Can't find what you're looking for? <a ng-click="autocomplete(false)">Search</a>-->
    <!--</div>-->
</div>
