<div class="modal-header">
    <h4>INSERT A CROSS REFERENCE</h4>
</div>

<div class="modal-body transclude-modal">

    <div class="modal-input">

        <form ng-submit="search(searchText)">
            <div class="form-search input-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Search for an element" />
                <span class="input-group-btn">                
                    <button class="btn btn-default" type="button" ng-click="search(searchText)">GO</button>
                </span>
            </div>
        </form>

        <form ng-submit="makeNew(new)">
            <div class="form-propose input-group">
                <input class="form-control" type="text" ng-model="new" placeholder="Propose a new element" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="makeNew(new)">SUBMIT</button>
                </span>
            </div>
        </form>

        <div class="form-filter" ng-show="mmsCfElements">
            <input class="form-control" type="text" ng-model="filter" placeholder="Filter elements in the table" />
        </div>

    </div>

    <div class="container-fluid transclude-table">
        <table class="table table-bordered">

            <tr>
                <th>NAME</th>
                <th>QUALIFIED NAME</th>
                <th>TYPE</th>
                <th>DOC</th>
                <th>VALUE (if applicable)</th>
            </tr>

            <tr ng-repeat="elem in mmsCfElements | filter:filter">
                <td ng-click="choose(elem.sysmlid, 'name', elem.name)" class="clickable">
                    {{elem.name}}
                </td>
                <td>
                    {{elem.qualifiedName}}
                </td>
                <td>
                    {{elem.specialization.type || 'Element'}}
                </td>
                <td ng-click="choose(elem.sysmlid, 'doc', elem.name)" class="clickable">
                    {{elem.documentation | limitTo:20}}
                </td>
                <td ng-click="choose(elem.sysmlid, 'val', elem.name)" class="clickable">
                    <span ng-repeat="val in elem.specialization.value">
                        {{val.integer || val.double || val.boolean + '' || val.string}}
                    </span>
                </td>
            </tr>

        </table>
    </div>

</div>

<div class="modal-footer">
    <span class="input-group-btn">
        
    </span><button class="btn btn-sm btn-danger" ng-click="cancel()">CANCEL</button>
</div>