<h1>
  <span ng-repeat="differenceType in differenceTypes">
    {{differenceType}}
  </span>
</h1>

<table class="table">

  <thead>
    <tr>
      <th></th>
      <th>Mine</th>
      <th>Theirs</th>
    </tr>
  </thead>

  <tbody>
    <tr class="name-row" ng-class="{clean: nameDiff[0], addition: nameDiff[1], remove: nameDiff[2], conflict: nameDiff[3]}">
      <td>Name</td>
      <td>{{original.name}}</td>
      <td>{{delta.name}}</td>
    </tr>
    <tr class="owner-row" ng-class="{clean: ownerDiff[0], addition: ownerDiff[1], remove: ownerDiff[2], conflict: ownerDiff[3]}">
      <td>Owner</td>
      <td>{{original.owner}}</td>
      <td>{{delta.owner}}</td>
    </tr>
  </tbody>

</table>