<style>
    /*todo need to add better styling for img diff, coz background-color only work if img is png ( maybe use + minus sign or sth*/
    .patcher-replaceIn,
    .patcher-attribute-replace-in
    {
        display: inline-block;
        border: 2px solid #CCFDC4;
    }
    .patcher-replaceOut,
    .patcher-delete,
    .patcher-attribute-replace-out {
        display: inline-block;
        border: 2px solid #F6C1C0;
    }

    .patcher-replaceIn {
        background-color: #CCFDC4;
    }
    .patcher-replaceOut {
        background-color: #F6C1C0;
    }
    .patcher-insert {
        background-color: #CCFDC4;
        border: 2px solid #CCFDC4;
    }
    .patcher-delete {
        background-color: #F6C1C0;
    }

    .patcher-text-diff {}
    .patcher-text-deletion {
        background-color: #F6C1C0;
    }
    .patcher-text-insertion {
        background-color: #CCFDC4;
    }
</style>
<div class="htmlDiff" ng-bind-html="diffResult"></div>
