<h2>Jobs</h2>
<i class="pane-center-spinner fa fa-5x fa-spinner fa-spin" style="display: inline-block; width: 100%;" ng-if="loading"></i>
<table class="snapshot-table table table-condensed" ng-if="!loading && hasJobs"> <!-- add ng-if for NO JOBS -->
    <thead>
        <tr>
            <td>
                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Name
                    <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a ng-click="sortType = 'status'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'status'" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a ng-click="sortType = 'schedule'; sortReverse = !sortReverse">
                    Recurrence
                    <span ng-show="sortType == 'schedule'" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'schedule' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="job in jobs | orderBy:'status' | orderBy:sortType:sortReverse">
        <td><a ng-attr-href="{{job.url}}" target="_blank">{{job.name}}</a></td>
        <td>{{job.status}}</td>
        <td>{{job.schedule}}</td>
    </tr>
    </tbody>
</table>
<h3 ng-if="!hasJobs"> No Jobs for {{docName}}</h3>
<hr>
<h4 id="addSection">Add Job</h4>
<form name="addForm" ng-submit="addJob()">
    <label style="width:100%;">Name:
        <!-- :TODO check out ng-pattern -->
        <input type="text" name="input" ng-model="jobInput.jobName" ng-trim="false" id="inputName" required> </label>
        <h1>{{addForm.input.$valid}}</h1>
    <label>Choose your options for scheduling a new job:</label>
        <div id='cronOptions' style="margin-top:20px; margin-bottom:20px;"></div>
    <button type="sumbit" class="btn btn-large btn-success" href="#"><i class="icon-flag icon-2x pull-left"></i> CREATE JOB </button>
    <!-- <button type= "submit"  class="btn btn-large btn-block" style="margin-top:5px;">SCHEDULE</button>-->
</form>
