<header role="banner">
  <div class="block">
    <div class="banner-title">{{title}}</div>
    <a ng-click="nav.toggleNav()" class="nav-btn"><i class="fa fa-lg fa-bars"></i></a>
  </div>
</header>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="block">

    <ul>

      <ul class="nav-btns-main">
        <li ng-show="snapshot">&nbsp;&nbsp;<span class="label label-danger">SNAPSHOT</span></li>
        <li>
          <a class="nav-btn" tooltip="Tasks and Tags" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="bottom-left" ui-sref="workspace"><i class="fa fa-tasks"></i></a>
        </li>

        <li ng-show="ws"> <i class="fa fa-ellipsis-v"></i> {{wsName}} <span ng-if="config.timestamp != 'latest' && showTag != 'false'">( <i class="fa fa-tag"></i> {{config.name}} )</span> <i class="fa fa-angle-double-right"></i></li>

        <!-- <li ng-if="$scope.diff=='yes'">  -->
          <!-- <button type="button" ng-click="goBack()" class="btn btn-danger">CANCEL</button>Comparing {{config.name}} with  {{wsName}}</li> -->

        <li ng-show="site && site.sysmlid !== 'no-site'">
          <a class="nav-btn" tooltip="Sites and Documents" tooltip-trigger="mouseenter" tooltip-popup-delay="600" tooltip-placement="bottom" ui-sref="workspace.site(site.sysmlid)"><i class="fa fa-folder"></i></a>
        </li>
        <li ng-show="site && site.sysmlid !== 'no-site'"> <i class="fa fa-ellipsis-v"></i> {{site.name}} <i class="fa fa-angle-double-right"></i></li>
        <li ng-show="product">
          <a class="nav-btn"><i class="fa fa-file"></i></a>
        </li>
        <li ng-show="product">{{product.name}} <span ng-bind-html="snapshot"></span></li>

        <li>
          <select style="color:black" ng-change="updateWorkspace()" ng-model="ws">
            <option ng-repeat="workspace in workspaces | orderBy:'name'" value="{{workspace.id}}">
              {{workspace.qualifiedName}}
            </option>
          </select> 
        </li>

        <li>
          <select style="color:black" ng-change="updateTag()" ng-model="config.id">
            <option ng-repeat="tag in tags | orderBy:'name'" value="{{tag.id}}">
              {{tag.name}}
            </option>
          </select> 
        </li>

      </ul>
    </ul>

  </div>
</nav>