<script type="text/ng-template" id="customTemplate.html">
    <a class="itemContainer">
        <span class="nameContainer" ng-if="match.model.type === 'name'">
        <div class="leftItem">
            <i class="icon" ng-class="match.model.iconClass"></i>
            <span> name </span>
            <span id="{{match.model.id + match.model.type}}" class="matchName" ng-bind-html="match.model.name | underlineMatch:query"></span>
            <br>
        </div>
        <div class="rightItem">
            <span class="elementType">{{match.model.elementType}}</span>
            <span>last mod {{match.model.editTime}} by
                <span class="editor">{{match.model.editor}}</span>
            </span>
        </div>
        </span>
        <div class="leftItem">
            <span class="contentContainer" ng-if="match.model.type === 'doc'">
                <span ng-if="match.model.documentation">
                    <span> documentation </span>
                    <span class="content">{{match.model.documentation}}</span>
                </span>
            </span>
            <span class="contentContainer" ng-if="match.model.type === 'val'">
                <span> value </span>
                <span class="content">{{match.model.value}}</span>
            </span>
        </div>
    </a>
</script>

<div class="mmsMention" id={{mmsMentionId}}>
    <input style="display:none;" mms-mention-intercept mms-mention-intercept-value="mmsMentionValue"
           uib-typeahead="mentionItem as mentionItem.name for mentionItem in fastCfListing | filter:{name: $viewValue} | limitTo:10"
           typeahead-template-url="customTemplate.html" typeahead-on-select='selectMentionItem($item, $model)'
           ng-model="selected" class="autocomplete-modal-typeahead form-control"
           placeholder="Type an element name to Cf" autofocus/>
</div>
