<header role="banner">
  <div class="block">
    <div class="banner-title">View Editor</div>
    <a ng-click="nav.toggleNav()" class="nav-btn"><i class="fa fa-lg fa-bars"></i></a>
  </div>
</header>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="block">
        <ul>
            <!-- Brand name and document -->
            <!-- <li class="nav-title-li">EMS</li> -->
            <li style="padding-right: 44px;"><a ui-sref="workspace.sites({tag: undefined, search: undefined})">View Editor</a></li>
            <li><a href="https://arrm.jpl.nasa.gov"><i class="fa fa-home"></i> ARRM Portal</a></li>

            <li class="nav-doc-li"> <a href="mms.html#/workspaces/master/sites/site__17_0_2_1_8f40291_1359399709274_551619_13496">Go To ARRM Dashboard</a></li>
            <form class="nav-search-form navbar-form" style="display: inline" role="search" ng-submit="search(searchText)">
                <div class="form-search input-group">
                    <div class="search-field">
                        <input class="form-control" type="text" ng-model="searchText" placeholder="Search for an element" id="nav-form" />
                        <button type="button" ng-click="search(searchText)"><i class="fa fa-search {{searchClass}}"></i></button>
                    </div>
                    <!-- <span class="input-group-btn">
                        <button id="button-temp" class="btn btn-primary" type="button" ng-click="search(searchText)"><span class="btn-text">advanced search</span> <i class="{{searchClass}}"></i></button>
                    </span> -->
                </div>
            </form>
            <!-- Dashboard, Shortcuts, Support, Feedback, Staging, About and Logout buttons -->
            <ul class="nav-btns-main pull-right" id="nav-icons-text">
                <li ng-show="site && site.sysmlid !== 'no-site'"><a class="nav-btn" href="/share/page/site/{{site.sysmlid}}/dashboard" target="_blank"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a class="nav-btn shortcuts-btn" ng-click="toggleHelp()"><i class="fa fa-keyboard-o"></i> Shortcuts</a></li>
                <li><a class="nav-btn support-btn" href="https://cae-ems.jpl.nasa.gov/alfresco/mmsapp/mms.html#/workspaces/master/sites/site__18_0_2_bec02f9_1446154915939_541002_41021/documents/_18_0_2_8630260_1446850132083_177552_51111/views/_18_0_2_8630260_1446850132083_177552_51111" target="_blank"><i class="fa fa-question-circle"></i> Support</a></li>
                <li><a class="nav-btn portal-btn"  href="https://cae-jira.jpl.nasa.gov/browse/SSCAES" target="_blank"><i class="fa fa-comments"></i> Feedback</a></li>
                <li><a class="nav-btn about-btn" ng-click="toggleAbout()"><i class="fa fa-info-circle"></i> About</a></li>
                <li><a class="nav-btn logout-btn" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
            <ul class="nav-btns-flyover pull-right">
                <li ng-show="site && site.sysmlid !== 'no-site'" class="out-link"><a href="/share/page/site/{{site.sysmlid}}/dashboard">Dashboard</a></li>
                <li class="out-link"><a ui-sref="workspace({workspace:'master', search: undefined})">Tasks and Tags</a></li>
                <li class="out-link"><a href="https://cae-ems.jpl.nasa.gov/alfresco/mmsapp/mms.html#/workspaces/master/sites/site__18_0_2_bec02f9_1446154915939_541002_41021/documents/_18_0_2_8630260_1446850132083_177552_51111/views/_18_0_2_8630260_1446850132083_177552_51111" target="_blank">Support</a></li>
                <li class="out-link"><a href="https://cae-jira.jpl.nasa.gov/browse/SSCAES" target="_blank">Feedback</a></li>
                <li class="out-link"><a ng-click="toggleAbout()">About</a></li>
                <li class="out-link"><a ng-click="logout()">Logout</a></li>
                <li class="out-link"><a class="nav-btn about-btn"></a></li>
            </ul>
        </ul>
    </div>
</nav>