<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="row">
        <a class="col-xs-3 col-md-2 col-lg-1 title navbar-brand" href="/share/page/site/{{site}}/dashboard">{{siteTitle}}</a>
        <ul class="col-xs-6 col-md-8 col-lg-10 nav navbar-nav">
            <li class="active"><a href="">{{title}}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Goto</span><i class="nav-dropdown-icon fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                    <li ng-if="type != 'docweb'"><a href="docweb.html#/sites/{{site}}">DocWeb</a></li>
                    <li><a href="/share/page/site/{{site}}/dashboard">Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Other Sites</span><i class="nav-dropdown-icon fa fa-caret-down"></i></a>
                <ul class="accordion-dropdown dropdown-menu">
                    <accordion>
                        <accordion-group ng-repeat="(cat, sites) in categories" is-open="catOpen">
                            <accordion-heading>
                                <span>{{cat}}</span><i class="pull-right fa" ng-class="{'fa-caret-down': catOpen, 'fa-caret-right': !catOpen}"></i>
                            </accordion-heading>
                            <accordion>
                                <accordion-group ng-repeat="site in sites" class="site-level" is-open="siteOpen">
                                    <accordion-heading>
                                        <span>{{site.title}}</span><i class="pull-right fa" ng-class="{'fa-caret-down': siteOpen, 'fa-caret-right': !siteOpen}"></i>
                                    </accordion-heading>
                                    <div class="accordion-links">
                                        <a class="dash-link" href="/share/page/site/{{site.name}}/dashboard">Dashboard</a><a class="docweb-link" href="docweb.html#/sites/{{site.name}}">Docweb</a>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                    </accordion>
                </ul>
            </li>
        </ul>
        <ul class="col-xs-3 col-md-2 col-lg-1 nav navbar-nav pull-right">
            <li><a popover="Support" popover-trigger="mouseenter" popover-placement="bottom" class="nav-link" href="/share/page/site/ems-training/dashboard">&#xf1cd;</a></li>
            <li><a popover="Logout" popover-trigger="mouseenter" popover-placement="bottom" class="nav-link" href="/alfresco/service/logout/info?next=/share/page">&#xf08b;</a></li>
        </ul>
    </div>
</nav>