<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="title navbar-brand" href="/share/page/site/{{site}}/dashboard">{{site}}</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="">{{title}}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Goto <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-if="type != 'docweb'"><a href="/alfresco/service/ve/configurations/{{site}}">DocWeb</a></li>
                    <li><a href="/share/page/site/{{site}}/dashboard">Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Sites <b class="caret"></b></a>
                <ul class="accordion-dropdown dropdown-menu">
                    <accordion>
                        <accordion-group ng-repeat="(cat, sites) in categories" heading={{cat}}>
                            <accordion>
                                <accordion-group ng-repeat="site in sites" heading={{site.title}}>
                                    <div class="accordion-links">
                                        <a class="dash-link" href="/share/page/site/{{site.name}}/dashboard">DocWeb</a><a class="docweb-link" href="/alfresco/service/ve/configurations/{{site.name}}">Dashboard</a>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </accordion-group>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a popover="Support" popover-trigger="mouseenter" popover-placement="bottom" class="nav-link" href="/share/page/site/ems-training/dashboard">&#xf1cd;</a></li>
            <li><a popover="Logout" popover-trigger="mouseenter" popover-placement="bottom" class="nav-link" href="/alfresco/service/logout/info?next=/share/page">&#xf08b;</a></li>
        </ul>
    </div>
</nav>