<div class="modal-header">
    <h4>Create & Cross-Reference A New Element</h4>
</div>
<div class="modal-body transclude-modal">
    <div class="transclude-modal-instructions">
        Name your new element, write optional documentation for it, and select a property to cross-reference.
    </div>
    <form>
        <div class="form-propose">
            <div>Name <span class="star-mandatory">*</span></div>
            <input class="form-control" type="text" ng-model="newE.name" placeholder="Name your new element" autofocus/>
        </div>
        <div class="label-documentation">Documentation</div>
        <textarea mms-ckeditor ng-model="newE.documentation" mms-project-id="{{mmsProjectId}}" mms-ref-id="{{mmsRefId}}" autosave-key="{{projectId + refId + mmsElementId}}" class="textarea-transclude-modal"></textarea>
    </form>

    <div class="radio">
        <div class="label-">Property to cross-reference <span class="star-mandatory">*</span></div>
        <label class="radio-inline"><input type="radio" name="optradio" value="true" ng-click="toggleRadio('name')">Name</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="true" ng-click="toggleRadio('documentation')">Documentation</label>
    </div>
    <p class="expl-mandatory pull-left">Fields marked with <span class="star-mandatory">*</span> are required</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="makeNewAndChoose()">Create & Cross Reference<i class="{{proposeClass}}"></i></button>
    <button class="btn btn-tertiary" ng-click="cancel()">Cancel</button>
</div>