<div class="tsProject"
	id="networkProject"
	file="project/Basic.tsp"
    onload="onPerspectivesProjectLoad"
    onready="onPerspectivesProjectReady">
</div>

<div class="tsModel"
	id="networkDataModel"
	project="networkProject"
	module="Network">
</div>

<div class="tsIntegrator"
	id="networkDataIntegrator"
	project="networkProject"
	module="Network"
	name="Network Excel Data"
	model="networkDataModel"
	file="data/Basic.xls">
</div>

<div class="tsDrawingView"
	id="networkMap"
	project="networkProject"
	module="Network"
	name="Network Map"
	model="networkDataModel"
	style="width:770px;height:480px;"
    onload="onPerspectivesViewLoaded"
    onupdate="onPerspectivesViewUpdated"
    oncanvasrendered="onPerspectivesViewCanvasRendered">
</div>



<input type="button"
	name="updateButton"
	value="Update"
	onclick="invokePerspectivesCommand(updateCommand)"/>

<script type="text/javascript"
	language="javascript"
	src="/Basic/tsperspectives/tsperspectives.nocache.js">
</script>

<script type="text/javascript"
	language="javascript"
	src="/Basic/tsperspectives/dojo/dojo/dojo.js">
</script>

<script type="text/javascript"
	language="javascript"
	src="/Basic/tsperspectives/TSHovering.js">
</script>

<script language="javascript"
	type="text/javascript"
	src="/Basic/tsperspectives/TSButtonTooltip.js">
</script>