<h2 class="right-pane-title">Branches/Tags</h2>
<span ng-if="loading"><i class="fa fa-spin fa-spinner"></i></span>
<hr class="spec-title-divider">

<input class="form-control" ng-model="refFilter" type="text" placeholder="Filter branches/tags">
<div ng-hide="tagObs.length">No tags in current project.</div>
<div ng-show="tagObs.length">
    <table ng-show="filteredTags.length" class="tags-table table table-condensed">
        <tr><th>Name</th><th>Time</th><th ng-if="isDoc && docEditable"></th></tr>
        <tr ng-repeat="tag in filteredTags = (tagObs | orderBy:'-_created' | filter: {name : refFilter})">
            <td>
                <a ui-sref="project.ref({refId: tag.id, search: undefined})">{{tag.name}}</a>
                <div>{{tag.description}}</div>
            </td>
            <td>{{tag._created | date:'M/d/yy h:mm a'}}</td>
            <td ng-if="isDoc && docEditable">
                <button class="btn btn-primary btn-sm" ng-class="{'disabled': !docEditable || !runCleared}" ng-click="createJobandRun(job.id)">
                    Run Now <i ng-show="!runCleared" class="fa fa-spin fa-spinner"></i>
                </button>
            </td>
        </tr>
    </table>
    <div ng-hide="filteredTags.length">No tags found with that name.</div>
</div>
<div>
    <table class="tags-table table table-condensed">
        <tr><th>Name</th><th>Time</th></tr>
        <tr ng-repeat="branch in filteredBranches = (mmsBranches | orderBy:'-_created' | filter: {name : refFilter})">
            <td style="display:block">
                <a ui-sref="project.ref({refId: branch.id, search: undefined})"><b>{{branch.name}}</b></a>
                <div>{{branch.description}}</div>
            </td>
            <td>{{branch._created | date:'M/d/yy h:mm a'}}</td>
            <td ng-if="isDoc && docEditable">
                <button class="btn btn-primary btn-sm" ng-class="{'disabled': !docEditable || !runCleared}" ng-click="createJobandRun(branch.id)">
                    Merge to Doc <i ng-show="!runCleared" class="fa fa-spin fa-spinner"></i>
                </button>
            </td>
        </tr>
    </table>
    <div ng-hide="filteredBranchs.length">No branches found with that name.</div>
</div>