
<input class="form-control" ng-model="refFilter" type="text" placeholder="Filter branches/tags">

<table class="tags-table table table-condensed">
    <thead>
        <tr>
            <td><h3 class="Tag-icon">Tag</h3></td>
            <td><h3>Created</h3></td>
            <td ng-if="isDoc && docEditable && showMerge"></td>
        </tr>
    </thead>
    <tbody ng-show="filteredTags.length">
        <tr ng-repeat="tag in filteredTags = (mmsTags | orderBy:'-_created' | filter: {name : refFilter})">
            <td>
                <a ui-sref="{refId: tag.id}"><b>{{tag.name}}</b></a>
                <div>{{tag.description}}</div>
            </td>
            <td class="ve-secondary-text">{{tag._created | date:'M/d/yy h:mm a'}}</td>
            <td ng-if="isDoc && docEditable && showMerge">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" title="Tag actions">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" style="padding:10px;">
                            <button class="btn btn-default btn-sm" ng-class="{'disabled': !docEditable || !runCleared}" ng-click="docMergeAction(tag)">
                                Pull In<i ng-show="!runCleared" class="fa fa-spin fa-spinner"></i>
                            </button> to this document on current branch
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>

    <tbody ng-show="mmsTags.length && !filteredTags.length"><tr><td colspan="3" class="ve-secondary-text">No tags found</td></tr></tbody>

    <tbody ng-hide="mmsTags.length"><tr><td colspan="3" class="ve-secondary-text">No tags in current project.</td></tr></tbody>

    <thead>
        <tr>
            <td><h3 class="Branch-icon">Branch</h3></td>
            <td><h3>Created</h3></td>
            <td ng-if="isDoc && docEditable && showMerge"></td>
        </tr>
    </thead>
    <tbody ng-show="filteredBranches.length">
        <tr ng-repeat="branch in filteredBranches = (mmsBranches | orderBy:'-_created' | filter: {name : refFilter})">
            <td>
                <a ui-sref="{refId: branch.id}"><b>{{branch.name}}</b></a>
                <div>{{branch.description}}</div>
            </td>
            <td class="ve-secondary-text">{{branch._created | date:'M/d/yy h:mm a'}}</td>
            <td ng-if="isDoc && docEditable && showMerge">
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" title="Branch actions">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" style="padding:10px;">
                            <button class="btn btn-default btn-sm" ng-class="{'disabled': !docEditable || !runCleared}" ng-click="docMergeAction(branch)">
                                Pull In<i ng-show="!runCleared" class="fa fa-spin fa-spinner"></i>
                            </button> to this document on current branch
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody><tr ng-hide="filteredBranches.length"><td colspan="3" class="ve-secondary-text">No branches found</td></tr></tbody>
</table>