<div>Last Modified: {{element.lastModified | date:'M/d/yy h:mm a'}} by {{element.author}}</div>
<div>Name: {{element.name}}</div>
<div>Documentation:</div><div ng-bind-html="element.documentation"></div>
<div ng-if="element.specialization.type === 'Property'">
    <div>Property Values:</div>
    <div ng-repeat="value in values" ng-switch on="value.type">
        <div ng-switch-when="LiteralInteger">{{value.integer}}</div>
        <div ng-switch-when="LiteralBoolean">{{value.boolean}}</div>
        <div ng-switch-when="LiteralReal">{{value.double}}</div>
        <div ng-switch-when="LiteralString">{{value.string}}</div>
    </div>
</div>
<div>Type: {{element.specialization.type || 'Element'}}</div>
<div>Id: {{element.sysmlid}}</div>