
<!--<div ng-hide="editing">
<table class="table table-condensed">
    <tr><th>Document</th></tr>
    <tr ng-repeat="doc in siteDocsFiltered | orderBy: 'name'">
        <td><mms-view-link mms-did="{{doc.sysmlid}}" mms-vid="{{doc.sysmlid}}" mms-ws="{{ws}}" mms-version="{{version}}"></mms-view-link></td>
    </tr>
</table>
</div>-->

<div ng-show="editing">
<table class="table table-condensed">
    <caption>Site Documents Filter</caption>
    <tr><th>Document</th><!--<th>Last Modified</th><th>Last Modified By</th><th>Created</th>--><th>Show <input type="checkbox" ng-model="checkall" ng-change="toggleAll()"></input> (Toggle All)</th></tr>
    <tr ng-repeat="docOb in siteDocs | orderBy: 'doc.name'">
        <td>{{docOb.doc.name}}</td>
        <td><input type="checkbox" ng-change="toggleCheck(docOb.doc.sysmlid)" ng-model="docOb.show"></input></td>
    </tr>
</table>
    <button class="btn btn-primary" ng-click="save()">Save Document Filter <i ng-show="saving" class="fa fa-spin fa-spinner"></i></button><button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>