<div>Last Modified: {{element.lastModified | date:'M/d/yy h:mm a'}} by {{element.author}}</div>
<div>Name: <input class="form-control" type="text" ng-model="edit.name"></input></div>
<div>Documentation:</div>
<div ng-model="edit.documentation" mms-froala mms-cf-elements="mmsCfElements"></div>
<div ng-if="edit.specialization.type === 'Property'">
    <div>Property Values:</div>
    <div ng-repeat="value in values" ng-switch on="value.type">
        <div ng-switch-when="LiteralInteger"><input type="text" ng-model="value.integer"></input></div>
        <div ng-switch-when="LiteralBoolean"><input type="checkbox" ng-model="value.boolean"></input></div>
        <div ng-switch-when="LiteralReal"><input type="text" ng-model="value.double"></input></div>
        <div ng-switch-when="LiteralString"><div mms-froala mms-cf-elements="mmsCfElements"></div></div>
    </div>
</div>
<div>Type: {{element.specialization.type || 'Element'}}</div>
<div>Id: {{element.sysmlid}}</div>
<div><button class="btn btn-primary btn-sm" ng-click="save()">Save</button></div>