
<div ng-hide="editing">
<table class="table table-condensed">
    <tr><th>Document</th><!--<th>Last Modified</th><th>Last Modified By</th><th>Created</th>--></tr>
    <tr ng-repeat="doc in siteDocsFiltered | orderBy: 'name'">
        <td><mms-view-link mms-did="{{doc.sysmlid}}" mms-vid="{{doc.sysmlid}}" mms-ws="{{ws}}" mms-version="{{version}}"></mms-view-link></td>
    </tr>
</table>
</div>

<div ng-show="editing">
<table class="table table-condensed">
    <tr><th>Document</th><!--<th>Last Modified</th><th>Last Modified By</th><th>Created</th>--><th>Show</th></tr>
    <tr ng-repeat="docOb in siteDocs | orderBy: 'doc.name'">
        <td>{{docOb.doc.name}}</td>
        <td><input type="checkbox" ng-change="toggleCheck(docOb.doc.sysmlid)" ng-model="docOb.show"></input></td>
    </tr>
</table>
</div>