<div class="panel panel-default no-print">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">
            <form class="form-inline">
            <div class="form-group">
                <span class="pe-type-{{panelType}}">{{panelType}} :</span>
                <span ng-if="!isDirectChildOfPresentationElement">{{panelTitle}}</span>
                <span ng-if="isDirectChildOfPresentationElement"><input type="text" class="form-control" ng-model="edit.name"/></span>
            </div></form>
        </h3>
        <div class="btn-group pull-right">
            <mms-button-bar class="transclude-panel-toolbar" buttons="buttons" mms-bb-api="bbApi"></mms-button-bar>
        </div>
    </div>
    <div class="panel-body no-padding-panel">
        <textarea ng-model="edit.documentation" mms-ckeditor mms-editor-type="{{editorType}}" mms-editor-api="editorApi" mms-project-id="{{element._projectId}}" mms-ref-id="{{element._refId}}" autosave-key="{{element._projectId + element._refId + element.id}}"></textarea>
    </div>
</div>