<!-- Most of this code is borrowed from mmsSepc.html -->
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Value : {{element.name}}</h3>
        <div class="btn-group pull-right">
            <mms-button-bar buttons="buttons" mms-bb-api="bbApi"></mms-button-bar>
        </div>
    </div>
    <div class="inner panel-body">
        <div ng-if="!isRestrictedVal && !isEnumeration">
            <div ng-if="editValues.length == 0">
                <select ng-model="addValueType" ng-options="key for (key, value) in addValueTypes"></select>
                <button class="btn btn-sm" ng-click="addValue(addValueType)">Add</button>
            </div>
            <span ng-repeat="value in editValues" ng-switch on="value.type">
                <div ng-switch-when="LiteralInteger"><input type="number" ng-model="value.value"></input><a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a></div>
                <div ng-switch-when="LiteralUnlimitedNatural"><input type="number" ng-model="value.value"></input><a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a></div>
                <div ng-switch-when="LiteralBoolean"><input type="checkbox" ng-model="value.value"> {{value.value}}</input><a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a></div>
                <div ng-switch-when="LiteralReal"><input type="number" ng-model="value.value" step="any"></input><a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a></div>
                <div ng-switch-when="LiteralString">
                    <textarea ng-if="hasHtml(value.value)" mms-ckeditor mms-project-id="{{projectId}}" mms-ref-id="{{refId}}" ng-model="value.value"></textarea>
                    <div ng-if="!hasHtml(value.value)"><textarea ng-model="value.value"></textarea><a ng-click="addHtml(value)"><i class="fa fa-html5"></i></a></div>
                    <a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a>
                </div>
                <div ng-switch-when="OpaqueExpression">
                    <textarea ng-model="value.body[0]"></textarea><a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a>
                </div>
                <div ng-switch-default>Editing not supported for now</div>
            </span>
            <div ng-if="editValues.length != 0 && isSlot">
                <button class="btn btn-sm" ng-click="addValue(editValues[0].type)">Add</button>
            </div>
        </div>
        <div ng-if="isRestrictedVal">
            <select ng-model="editValues[0].operand[1].elementId" ng-options="el.id as el.name for el in options"></select>
        </div>
        <!-- if enum and isslot repeat values in element -->
        <div ng-if="isEnumeration" ng-repeat="val in editValues">
            <select ng-model="val.instanceId" ng-options="el.id as el.name for el in options"></select>
            <a ng-if="!$first" ng-click="removeVal($index)"><i class="fa fa-close"></i></a>
        </div>
        <div ng-if="isSlot && isEnumeration">
            <button class="btn btn-sm" ng-click="addEnumerationValue()">Add</button>
        </div>
    </div>
</div>


