<div class="panel panel-danger">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Name</h3>
    <div class="btn-group pull-right">      
        <a class="view-tools center" ng-click="save()" tooltip="Save" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="Bottom"><i class="fa fa-save"></i></a>
        <a class="view-tools center" ng-click="cancel()" tooltip="Cancel" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="Bottom"><i class="fa fa-times"></i></a>
    </div>
  </div>
  <div class="inner panel-body">
<!--     <textarea ng-model="edit.name" mms-tinymce mms-tinymce-api="tinymceApi" mms-ws="{{ws}}" mms-site="{{mmsSite}}" mms-cf-elements="mmsCfElements" mms-eid="{{element.sysmlid}}"></textarea> -->
    <h1 class="prop"><input class="form-control" type="text" ng-model="edit.name"></input></h1>
  </div>
</div>