<div>
    <h4>{{section.name}}</h4> 
    <div ng-repeat="contain in section.contains" ng-switch on="contain.type"> 
        <mms-view-para data-mms-para="contain" ng-switch-when="Paragraph"></mms-view-para>
        <mms-view-table data-mms-table="contain" ng-switch-when="Table"></mms-view-table>
        <mms-view-list data-mms-list="contain" ng-switch-when="List"></mms-view-list>
        <mms-view-img data-mms-image="contain" ng-switch-when="Image"></mms-view-img>
        <mms-view-section data-mms-section="contain" ng-switch-when="Section"></mms-view-section>
    </div>

    <!-- TODO: This assumes that instanceSpecificationSpecification is a embedded json object -->
<!--     <div ng-repeat="instanceVal in section.specialization.instanceSpecificationSpecification.operand"> 
        <mms-view-elem-ref-tree data-mms-instance-val="instanceVal"></mms-view-elem-ref-tree>
    </div> -->

    <div ng-repeat="instanceVal in sectionInstanceVals"> 
        <mms-view-elem-ref-tree data-mms-instance-val="instanceVal"></mms-view-elem-ref-tree>
    </div>

</div>