<div>
    <div ng-if="section.instance" ui-sortable="sortableOptions" ng-model="instanceSpecificationSpecification.operand">
        <p>Section {{presentationElement.name}}</p> 
        <div ng-repeat="content in instanceSpecificationSpecification.operand" ng-switch on="instance2presentation[content.instance].type"> 
            <div ng-class="editing() ? 'panel panel-default' : ''">
                <div ng-class="editing() ? 'panel-body' : ''">
                    <div ng-switch-when="Paragraph">Paragraph  : {{instance2specification[content.instance].name}}</div>
                    <div ng-switch-when="Table">Table</div>
                    <div ng-switch-when="List">List</div>
                    <div ng-switch-when="Image">Image</div>
                    <mms-view-section-struct data-mms-section="content" ng-switch-when="Section"></mms-view-section-struct>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!section.instance" ui-sortable="sortableOptions" ng-model="section.contains">
        <p>Section {{section.name}}</p> 
        <div ng-repeat="contain in section.contains" ng-switch on="contain.type"> 
            <div ng-class="editing() ? 'panel panel-default' : ''">
                <div ng-class="editing() ? 'panel-body' : ''">
                    <div ng-switch-when="Paragraph">Paragraph</div>
                    <div ng-switch-when="Table">Table</div>
                    <div ng-switch-when="List">List</div>
                    <div ng-switch-when="Image">Image</div>
                    <mms-view-section-struct data-mms-section="contain" ng-switch-when="Section"></mms-view-section-struct>
                </div>
            </div>
        </div>
    </div>
</div>