<div>
    <div><div class="btn-toolbar pull-right" role="toolbar"> 
        <div class="btn-group btn-group-sm"> 
            <button type="button" class="btn btn-default" ng-click="toggleTextEdit()"> 
                <span class="glyphicon glyphicon-edit"></span> {{textEdit}}
            </button>
            <button type="button" class="btn btn-default" ng-click="toggleStructEdit()">
                <span class="glyphicon glyphicon-th-list"></span> {{structEdit}}
            </button>       
        </div>
    </div></div> 
    <h4 class="inline"><mms-transclude-name mms-eid="{{view.id}}"></mms-transclude-name></h4> 
    <div>Last Modified: {{lastModified | date:'M/d/yy h:mm a'}} by {{author}}</div><br/>
    <div ui-sortable="sortableOptions" ng-model="view.contains">
        <div ng-repeat="contain in view.contains" ng-switch on="contain.type"> 
        <div ng-class="structEditable ? 'panel panel-default' : ''">
        <div ng-class="structEditable ? 'panel-body' : ''">
            <mms-view-para mms-para="contain" ng-switch-when="Paragraph"></mms-view-para>
            <mms-view-table mms-table="contain" ng-switch-when="Table"></mms-view-table>
            <mms-view-list mms-list="contain" ng-switch-when="List"></mms-view-list>
            <mms-view-img mms-image="contain" ng-switch-when="Image"></mms-view-img>
            <mms-view-section mms-section="contain" ng-switch-when="Section"></mms-view-section>
        </div></div></div>
    </div>
</div>