<div ng-if="edit.specialization.contents" class="sortable-container" ui-sortable="sortableOptions" ng-model="edit.specialization.contents.operand">
    <div class="sortable-element" ng-repeat="content in edit.specialization.contents.operand" ng-switch on="instance2presentation[content.instance].type"> 
        <div ng-class="editing ? 'panel panel-default' : ''">
            <div ng-class="editing ? 'panel-body' : ''">
                <div ng-switch-when="Paragraph">Paragraph : {{instance2presentation[content.instance].title}}</div>
                <div ng-switch-when="Table">Table</div>
                <div ng-switch-when="List">List</div>
                <div ng-switch-when="Image">Image</div>
                <mms-view-section-struct data-mms-section="content" ng-switch-when="Section"></mms-view-section-struct>
            </div>
        </div>
    </div>
</div>
<div ng-if="!edit.specialization.contents" class="sortable-container" ui-sortable="sortableOptions" ng-model="edit.specialization.contains">
    <div class="sortable-element" ng-repeat="contain in edit.specialization.contains" ng-switch on="contain.type"> 
        <div ng-class="editing ? 'panel panel-default' : ''">
            <div ng-class="editing ? 'panel-body' : ''">
                <div ng-switch-when="Paragraph">Paragraph</div>
                <div ng-switch-when="Table">Table</div>
                <div ng-switch-when="List">List</div>
                <div ng-switch-when="Image">Image</div>
                <mms-view-section-struct data-mms-section="contain" ng-switch-when="Section"></mms-view-section-struct>
            </div>
        </div>
    </div>
</div>