<div ng-switch on="presentationElem.type"> 

        <div ng-show="showEdits()" class="panel panel-danger"> 
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">{{presentationElem.type}}</h3>
            <div class="btn-group pull-right">      
                <a class="view-tools center" ng-click="" tooltip="Add" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="Bottom"><i class="fa fa-plus" style="color:green"></i></a>
                <a class="view-tools center" ng-click="" tooltip="Edit" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="Bottom"><i class="fa fa-edit"></i></a>
                <a class="view-tools center" ng-click="delete(mmsInstanceVal)" tooltip="Delete" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-popup-delay="400" tooltip-placement="Bottom"><i class="fa fa-times" style="color:red"></i></a>
            </div>
          </div>
          <div class="panel-body">
    		    <mms-view-para data-mms-instance-val="mmsInstanceVal" data-mms-para="presentationElem" ng-switch-when="Paragraph"></mms-view-para>
    		    <mms-view-table data-mms-instance-val="mmsInstanceVal" data-mms-table="presentationElem" ng-switch-when="Table"></mms-view-table>
    		    <mms-view-list data-mms-instance-val="mmsInstanceVal" data-mms-list="presentationElem" ng-switch-when="List"></mms-view-list>
    		    <mms-view-img data-mms-instance-val="mmsInstanceVal" data-mms-image="presentationElem" ng-switch-when="Image"></mms-view-img>
    		    <mms-view-section data-mms-instance-val="mmsInstanceVal" data-mms-section="presentationElem" ng-switch-when="Section"></mms-view-section>
          </div>
        </div> 

        <div ng-hide="showEdits()"> 
  		    <mms-view-para data-mms-instance-val="mmsInstanceVal" data-mms-para="presentationElem" ng-switch-when="Paragraph"></mms-view-para>
  		    <mms-view-table data-mms-instance-val="mmsInstanceVal" data-mms-table="presentationElem" ng-switch-when="Table"></mms-view-table>
  		    <mms-view-list data-mms-instance-val="mmsInstanceVal" data-mms-list="presentationElem" ng-switch-when="List"></mms-view-list>
  		    <mms-view-img data-mms-instance-val="mmsInstanceVal" data-mms-image="presentationElem" ng-switch-when="Image"></mms-view-img>
  		    <mms-view-section data-mms-instance-val="mmsInstanceVal" data-mms-section="presentationElem" ng-switch-when="Section"></mms-view-section>
        </div> 

</div>