<div ng-switch on="para.sourceType">
    <div ng-switch-when="text" ng-bind-html="para.text"></div>
    <div ng-switch-when="reference" ng-switch on="para.sourceProperty"> 
        <mms-transclude-doc data-mms-eid="{{para.source}}" ng-switch-when="documentation"></mms-transclude-doc> 
        <mms-transclude-name data-mms-eid="{{para.source}}" ng-switch-when="name"></mms-transclude-name> 
        <mms-transclude-val data-mms-eid="{{para.source}}" ng-switch-when="value"></mms-transclude-val>
    </div> 
</div>