<div id="{{mmsElementId}}">

    <h1 ng-if="mmsLink" class="view-title">
      {{mmsNumber}} <mms-view-link mms-element-id="{{view.id}}" mms-doc-id="{{view.id}}"></mms-view-link>
    </h1>

    <h1 ng-if="!mmsLink" class="view-title">
      {{mmsNumber}} <mms-transclude-name mms-element-id="{{view.id}}" mms-project-id="{{view._projectId}}" mms-ref-id="{{view._refId}}"></mms-transclude-name>
    </h1>

    <div ng-show="showElements" class="ve-secondary-text">
      Last Modified: {{modified | date:'M/d/yy h:mm a'}} by {{modifier}}
    </div>

    <i ng-hide="view" class="fa fa-2x fa-spinner fa-spin"></i>

    <div ng-if="view._contents">
        <!-- Cant use track by instanceVal.instance b/c of possible duplicate entries -->
        <div class="add-buttons-container no-print" ng-init="$index = -1" ng-include="'mms/templates/mmsAddPeButton.html'"></div>
        <div ng-repeat="instanceVal in view._contents.operand track by instanceVal.instanceId"> 
        <!--<div ng-repeat="instanceVal in view._contents.operand track by instanceVal.instanceId"> -->
            <mms-view-presentation-elem data-mms-instance-val="::instanceVal"></mms-view-presentation-elem>
            <div class="add-buttons-container no-print" ng-include="'mms/templates/mmsAddPeButton.html'"></div>
        </div>
    </div>
    <div ng-if="view.specification">
        <!-- Cant use track by instanceVal.instance b/c of possible duplicate entries -->
        <div class="add-buttons-container no-print" ng-init="$index = -1" ng-include="'mms/templates/mmsAddPeButton.html'"></div>
        <div ng-repeat="instanceVal in view.specification.operand track by instanceVal.instanceId"> 
        <!--<div ng-repeat="instanceVal in view.specification.operand track by instanceVal.instanceId"> -->
            <mms-view-presentation-elem data-mms-instance-val="::instanceVal"></mms-view-presentation-elem>
            <div class="add-buttons-container no-print" ng-include="'mms/templates/mmsAddPeButton.html'"></div>
        </div>
    </div>
</div>