<div id="{{mmsVid}}">

    <h1 ng-if="mmsLink" class="view-title">
      {{mmsNumber}} <mms-view-link data-mms-did="{{view.sysmlid}}" data-mms-vid="{{view.sysmlid}}"></mms-view-link> 
    </h1>

    <h1 ng-if="!mmsLink" class="view-title" ng-click="toggleShowEditsWireFrame(view)">
        <div ng-show="showEditsViewWireFrame(view)" class="panel panel-danger"> 
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">View Name</h3>
          </div>
          <div class="panel-body">
            {{mmsNumber}} <mms-transclude-name data-mms-eid="{{view.sysmlid}}"></mms-transclude-name>
          </div>
        </div> 
        <div ng-hide="showEditsViewWireFrame(view)"> 
            {{mmsNumber}} <mms-transclude-name data-mms-eid="{{view.sysmlid}}" ng-click="toggleShowEditsWireFrame(view)"></mms-transclude-name>
        </div>
    </h1>

    <div ng-show="showElements">
      Last Modified: {{modified | date:'M/d/yy h:mm a'}} by {{creator}}
    </div>

    <br/>
    <i ng-hide="view" class="fa fa-2x fa-spinner fa-spin"></i>

    <div ng-if="view.specialization.contents == null">
        <div ng-repeat="contain in ::view.specialization.contains" ng-switch on="contain.type">  

            <mms-view-para data-mms-para="contain" ng-switch-when="Paragraph"></mms-view-para>
            <mms-view-table data-mms-table="contain" ng-switch-when="Table"></mms-view-table>
            <mms-view-list data-mms-list="contain" ng-switch-when="List"></mms-view-list>
            <mms-view-img data-mms-image="contain" ng-switch-when="Image"></mms-view-img>
            <mms-view-section data-mms-section="contain" ng-switch-when="Section"></mms-view-section>

        </div>
    </div>

    <div ng-repeat="instanceVal in view.specialization.contents.operand"> 
        <mms-view-elem-ref-tree data-mms-instance-val="instanceVal"></mms-view-elem-ref-tree>
    </div>

</div>