/* Stylesheet for transclusion-related elements */

mms-transclude-doc,
mms-transclude-val,
mms-transclude-name,
mms-transclude-com,
mms-transclude-img {
  cursor: pointer;
}

span > mms-transclude-doc, span > mms-transclude-val {
  background-color: inherit;
  color: inherit;

  > p, > h1, > h2, > h3, > h4, > h5, > h6, > ol, > ul, > pre {
    background-color: inherit;
    color: inherit;
  }
}

mms-view {
  mms-transclude-doc *,
  mms-transclude-name *,
  mms-transclude-val * {
    @include transition(background-color, .2s, linear);
  }

  mms-transclude-doc {
    > p:first-child {
      display: inline;
    }
  }

  .add-buttons-container {
    display: none;
  }
}

mms-view.editing {
  color: #000;

  .add-buttons-container {
    display: block;
  }

  .val-block {
    display: block;
  }

  textarea, input {
    color: #000;
  }

  /* Level 1 transclusions */
  mms-transclude-doc,
  mms-transclude-name,
  mms-transclude-val {
    @include transition(border, .3s, linear);
    border: 2px solid $tertiary_grey;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    // padding: 2px 0;
  }

  //mms-transclude-name:has(> div.panel) {
  //  border: none;
  //}

  mms-transclude-doc {
    display: block;

    > div > div.panel-heading {
      padding: 2px 15px;
    }

    .panel {
      margin: 0px;
    }

    .transclude-doc-bb {
      margin: 8px 0;
    }
  }

}

/* comments */
mms-view mms-transclude-com,
mms-view mms-transclude-com *,
mms-view.editing mms-transclude-com,
mms-view.editing mms-transclude-com * {
  background-color: $yellow;
  cursor: pointer;
}

mms-view:not(.editing) .placeholder {
  display: none;
}

mms-view:not(.reviewing) mms-transclude-com {
  display: none;
}

mms-spec div {
  tms-timely,
  mms-transclude-img,
  mms-transclude-name,
  mms-transclude-val,
  mms-transclude-doc,
  mms-view-link {
    background-color: $light_blue;
  }

  mms-transclude-com {
    background-color: $yellow;
    cursor: not-allowed;
  }
}

.mms-error {
  color: $red;
}

.mms-png {
  display: none;
}

figcaption, .mms-equation-caption, caption {
  text-align: center;
  font-weight: bold;
}

mms-transclude-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}