mms-view {
  .view-title {
    font-family: $light-font-family-sans-serif;
    font-weight: $light_font_weight;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  table {
    @extend .content-table;
  }
}