mms-history {
  .history-top {
    position: absolute;
    height: 300px;
    overflow: scroll;
    width: 95%;
    border-bottom: 1px solid
  }

  .history-bottom {
    position: absolute;
    top: 430px;
  }

}