mms-spec {
	h1,
	h1 > .form-control {
		font-family: $light_font_family; 
		font-weight: $light_font_weight;
		font-size: 35px;
    	margin-top: 24px;
		margin-bottom: 32px;
		height: inherit;
		width: 100%;
	}

	h2 {
		font-family: $default_font_family; 
		font-weight: $bold_font_weight;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 5px;
		white-space: nowrap;
	}

	h3 {
		font-family: $light_font_family; 
		font-weight: $light_font_weight;
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 15px;
		white-space: nowrap;

		&.sysmlid {
			width: 250px;
			word-wrap: break-word;
			white-space: normal;
		}
	}

	p.doc-text {
		font-family: $default_font_family; 
		font-weight: auto;
		font-size: 14px;
		margin-right: 30px;
		max-width: 520px;
	}

	.spec-view-doc-heading {
		margin-top: 32px;
	}
}