mms-view-struct {
  .columns {
    min-width: 150px; 
    min-height: 250px; 
    margin: 5px 5px 5px 0px; 
    padding: 5px; 
    border: 5px solid #606060; 
    border-radius: 10px; 
    float: left;
  }

  .sortable-container {
    margin-top: 24px;
  }

  .sortable-element {
    cursor: pointer;
  }
}