/* Stylesheet for transclusion-related elements */

mms-transclude-doc,
mms-transclude-val,
mms-transclude-name,
mms-transclude-com,
mms-transclude-img {
  cursor: pointer;
}

mms-view.editing {
  color: $black;

  /* Level 1 transclusions */
  mms-transclude-doc *,
  mms-transclude-name *,
  mms-transclude-val * {
    background-color: #EAEAEA;
    cursor: pointer;

    /* Level 2 transclusion */
    mms-transclude-doc *,
    mms-transclude-name *,
    mms-transclude-val * {
      background-color: #C6C6C6;
    }
  }
}

/* comments */
mms-view mms-transclude-com, 
mms-view mms-transclude-com *,
mms-view.editing mms-transclude-com,
mms-view.editing mms-transclude-com * {
  background-color: $yellow;
  cursor: pointer;
}

mms-view:not(.editing) .placeholder {
  display: none;
}

mms-view:not(.reviewing) mms-transclude-com {
  display: none;
}

mms-spec mms-transclude-img,
mms-spec mms-transclude-name,
mms-spec mms-transclude-val,
mms-spec mms-transclude-doc {
  background-color: $light_blue;
  cursor: not-allowed;
}

mms-spec mms-transclude-com {
  background-color: $yellow;
  cursor: not-allowed;
}

.error {
  color: $red;
}