.transclude-modal {
  .elem-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    .elem-documentation,
    .elem-type,
    .elem-properties,
    .elem-specification,
    table {
      margin-left: 20px;
      padding-right: 20px;
    }

    .elem-name {
      font-size: 20px;
      font-weight: 400;
    }

    .elem-qualified-name {
      font-size: 14px;
      font-style: italic;
    }

    .elem-documentation {
      font-color: $base_blue !important;
    }

    label {
      font-size: 12px;
      margin-bottom: 0;
    }

    table > tbody > tr > td {
      padding: 0;
      border: 0;
      max-width: 190px
    }

    .ellipses {
      color: $base_blue;
    }
  }

  .transclude-modal-instructions {
    margin-top: -6px;
  }

  .transclude-modal-input {
    width: 60%;
    margin: 0 auto;
  }

  .form-propose, .form-filter {
    margin-top: 7px;
  }

  .form-propose {
    margin-bottom: 10px;
  }

  .form-search {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .misc-form-field {
    margin-top: -10px;
  }

  .textarea-transclude-modal {
    margin-bottom: 10px;
  }

  .radio {
    margin-bottom: 30px;
  }

  .expl-mandatory {
    font-size: 12px;
    margin-top: 15px;
  }

  span.input-group-btn {
    .btn {
      @include box-shadow(none);
      @include transition(none);
      border: 1px solid $tertiary_grey;
      font-size: 14px;
      font-weight: $default_font_weight;
      padding-top: 7px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;

      &.btn-primary {
        border: 1px solid $base_blue;
        margin-left: 0;
        color: $white;
      }
    }

    .btn-text {
      font-size: 11px;
    }
  }

  .cant-find-element {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 3px;
  }
}