.mce-content-body {
  p {
    font-family: $font-family-serif;
  }

  blockquote {
    font-weight: 200;
    font-style: italic;
  }

  table {
    font-family: $font-family-sans-serif;

    td {
      font-size: 14px;
    }
  }

  mms-transclude-name,
  mms-transclude-doc,
  mms-transclude-val {
    background-color: $light_blue;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding: 3px !important;
    border: 1px solid $black !important;
    z-index: 0;
    cursor: not-allowed;
  }

  mms-transclude-com {
    background-color: $yellow;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding: 3px !important;
    border: 1px solid $black !important;
    z-index: 0;
    cursor: not-allowed;
  }
}