mms-spec {
  h1.prop,
  h1.prop > .form-control {
    font-size: 41px;
    margin-top: 32px;
    margin-bottom: 32px;
    height: inherit;
    width: 100%;
  }

  h1.prop {
    width: 100%;
    min-width: 420px;
    word-wrap: break-word;
  }

  h3.prop {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 420px;
    word-wrap: break-word;
  }

  h1.element-title {
    width: 420px;
    word-wrap: break-word;
  }

  .prop-title {
    font-family: $font-family-sans-serif;
    font-weight: $bold_font_weight;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .doc-text {
    font-family: $font-family-sans-serif;
    margin-right: 30px;
    max-width: $default-line-length;
    min-width: 15em;
  }

  h2.spec-view-doc-heading, h2.spec-view-value-heading, h2.spec-view-type-heading {
    margin-top: 32px;
  }
  table {
    @extend .content-table;
  }
}