/* Stylesheet for transclusion-related elements */

mms-transclude-doc,
mms-transclude-val,
mms-transclude-name,
mms-transclude-com,
mms-transclude-img {
  cursor: pointer;
}

mms-view {
  mms-transclude-doc *,
  mms-transclude-name *,
  mms-transclude-val * {
    @include transition(background-color, .2s, linear);
  }
}

mms-view.editing {
  color: #000;

  /* Level 1 transclusions */
  mms-transclude-doc>*,
  mms-transclude-name>*,
  mms-transclude-val>* {
    @include transition(background-color, .2s, linear);
    background-color: $tertiary_grey;
    cursor: pointer;
  }

  /* Level 2 transclusions */
  mms-transclude-doc,
  mms-transclude-name,
  mms-transclude-val {

    mms-transclude-doc>*,
    mms-transclude-name>*,
    mms-transclude-val>* {
      background-color: darken($tertiary_grey, 25%);
    }
  }

  /* Level 3 transclusions */
  mms-transclude-doc,
  mms-transclude-name,
  mms-transclude-val {

    mms-transclude-doc,
    mms-transclude-name,
    mms-transclude-val {

      mms-transclude-doc>*,
      mms-transclude-name>*,
      mms-transclude-val>* {
        color: darken($white, 10%);
        background-color: darken($tertiary_grey, 50%);
      }
    }
  }

  /* Level 4 transclusions */
  mms-transclude-doc,
  mms-transclude-name,
  mms-transclude-val {

    mms-transclude-doc,
    mms-transclude-name,
    mms-transclude-val {

      mms-transclude-doc,
      mms-transclude-name,
      mms-transclude-val {
        
        mms-transclude-doc>*,
        mms-transclude-name>*,
        mms-transclude-val>* {
          color: darken($white, 20%);
          background-color: darken($tertiary_grey, 65%);
        }
      }
    }
  }
}

/* comments */
mms-view mms-transclude-com, 
mms-view mms-transclude-com *,
mms-view.editing mms-transclude-com,
mms-view.editing mms-transclude-com * {
  background-color: $yellow;
  cursor: pointer;
}

mms-view:not(.editing) .placeholder {
  display: none;
}

mms-view:not(.reviewing) mms-transclude-com {
  display: none;
}

mms-spec div {
  mms-transclude-img,
  mms-transclude-name,
  mms-transclude-val,
  mms-transclude-doc,
  mms-view-link {
    background-color: $light_blue;
    cursor: not-allowed;
  }

  mms-transclude-com {
    background-color: $yellow;
    cursor: not-allowed;
  }
}

.error {
  color: $red;
}