<div class="modal-header">

    <h4>INSERT A VIEW LINK</h4>

    <div class="transclude-modal-instructions">
        Search for a view and click on it to insert the link.
    </div>

</div>

<div class="modal-body transclude-modal">

    <div class="transclude-modal-input">

        <form ng-submit="search(searchText)">
            <div class="form-search input-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Search for a view" />
                <span class="input-group-btn">                
                    <button class="btn btn-primary" type="button" ng-click="search(searchText)">
                    <span class="btn-text">GO</span> <i class="{{searchClass}}"></i></button>
                </span>
            </div>
        </form>
        <span class="show-orig-table-btn"></span>
        <div class="misc-form-field">
            <div class="form-filter" ng-show="mmsCfViewElements">
                <input class="form-control" type="text" ng-model="filter" placeholder="Type here to filter elements in the table" />
            </div>
        </div>

    </div>

    <div class="container-fluid transclude-table">
        <table class="table table-bordered">

            <tr>
                <th>NAME</th>
                <th>QUALIFIED NAME</th>
                <th>METATYPE</th>
            </tr>

            <tr ng-repeat="elem in mmsCfViewElements | filter:filter">
                <td ng-click="choose(elem.sysmlid, elem.name)" class="clickable">
                    {{elem.name}}
                </td>
                <td>
                    {{elem.qualifiedName}}
                </td>
                <td>
                    {{elem.specialization.type}}
                </td>
            </tr>

        </table>
    </div>

</div>

<div class="modal-footer">
    <span class="input-group-btn">
        
    </span><button class="btn btn-danger" ng-click="cancel()">CANCEL</button>
</div>