/*************************
  Angular Border Layout mods that
  follow the MMS app design guide
*************************/

.fa-pane-orientation-vertical > .fa-pane-handle {
  cursor: row-resize;
  background-color: #D3D3D3;
}

.fa-pane-orientation-horizontal > .fa-pane-handle {
  cursor: col-resize;
  background-color: #D3D3D3;
}

.fa-pane-orientation-horizontal > .fa-pane-handle > .fa-pane-toggle,
.fa-pane-orientation-vertical > .fa-pane-handle > .fa-pane-toggle {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  max-height: 20%;
  cursor: pointer;
  background-color: #808080;
}