/*************************
  View Editor variables & mixins
*************************/

$tabWidth: 200px;
$toolHeight: 20px;
$toolWidth: 32px;

@media screen and (max-width: 45em) {
  #main-pane {
    top: 46px;
  }

  #main-pane > div {
    z-index: 1000;
  }
}

@media screen and (min-width: 45.0625em) {
  #main-pane {
    top: 40px;
  }
}

a.view-tools {
  color: #333;
  font-size: 16px;
  line-height: $toolHeight;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  margin-left: -2px;
  position: relative;
  float: left;
  width: $toolWidth;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;

  &:first-child {
    margin-left: none;
    border-left: 1px solid #dedede !important;
  }

  &:last-child {
    border-right: 1px solid #dedede !important;
  }

  &:nth-child(even) {
    border: 0;
  }

  &:hover {
    background-color: #dedede;
    cursor: pointer;
    color: #333;
    z-index: 100;
  }

  &.center {
    text-align: center;
  }
}

.main {
  overflow-x: auto;
}

#main-pane > .center-view {
  right: 41px !important;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom:14px;
}

#inner-wrap {
  position: relative;
  width: 100%;
  height: 98.2vh;
  height: -webkit-calc(100vh - 14px);
  height: -moz-calc(100vh - 14px);
  height: calc(100vh - 14px);
}

ul.nav-tabs > li > a{
  height: 35px;
}

ul > span.divider {
  height: 2px;
  display: block;
  font-size: 0;
  line-height: 0;
  background: #606060;
  border-top: 1px solid #242424;
}

.inline {
  display: inline;
}

.docweb-sidebar-left {
  .nav-tabs li {
    text-align: center;

    a {
      cursor: pointer;
      color: #333;
      border-radius: 0;
    }
  }

  .docweb-table-config {
    tr {
      &:first-child > td {
        width: 100%;
      }
    }
  }

  .btn-create-config {
    width: 100%;
    padding: 16px;
    margin-top: -8px;
    margin-bottom: 33px;
  }
}

.docweb-container-latest,
.docweb-container-config-view,
.docweb-container-config,
.docweb-container-new {
  h1 {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 32px;
    height: inherit;
  }

  h2 {
    font-weight: 200;
    font-size: 24px;
  }

  h3 {
    font-weight: 200;
    font-size: 18px;
  }
}

.docweb-container-config-view {
  .toggle-show-snapshots {
    cursor: pointer;
    color: #333;

    &:hover {
      text-decoration: none;
      color: #333;
    }
  } 
}
