/*************************
  Main combinator file for
  View Editor stylesheets
*************************/
/* Variables & mixins */
@import "base/_globals.scss";
@import "base/_ve-colors.scss";
/* Overall page design */
@import "layout/_pane-left.scss";
@import "layout/_pane-center.scss";
@import "layout/_pane-right.scss";
@import "layout/_panes.scss";
@import "layout/_login-select.scss";
/* Layout directive customizations */
@import "layout/_ve-nav.scss";
@import "layout/_ve-footer.scss";
@import "layout/_ve-no-panes.scss";
@import "layout/_ve-table-filter.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900');

.cke_button__mmscf_label, .cke_button__mmscomment_label,
.cke_button__mmsvlink_label, .cke_button__mmsreset_label {
  display: inline !important;
}

.ng-hide {
  display: none !important;
}

.nav_breadcrumb {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.tooltip-inner {
  white-space: normal;
}

@media print {
  a[href]:after {
    content: none !important;
  }
  img {
    max-width: 100%;
    page-break-inside: avoid;
    page-break-before: auto;
    page-break-after: auto;
    display: block;
  }
  tr, td, th {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
}


/*------------------------------------------------------------------
[Table of contents]

1. Typography
2. Global UI Elements
  2.1 Button
    2.1.1 Primary Button
    2.1.2 Small Button
    2.1.3 Warning Button
    2.1.4 Tertiary Button
  2.2 Dark Modal
  2.3 Dropdown
    2.3.1 Wide Dropdown
    2.3.2 Narrow Dropdown
    2.3.3 Fixed Content Dropdown
  2.4 Tab System
    2.4.1 Light tab system
    2.4.2 Dark Tab system
  2.5 Banners
3. Table filtering stuff
4. Search

-------------------------------------------------------------------*/


/*------------------------------------------------------------------
1. Typography
-------------------------------------------------------------------*/

body{
  font-family: 'Roboto', sans-serif;
}



/*------------------------------------------------------------------
2. Global UI Elements
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  2.1 Buttons
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
  2.3 Dropdown
-------------------------------------------------------------------*/

.ve-dark-dropdown-wide,
.ve-dark-dropdown-nav {


  .branch-disabled::before{
    font-family:FontAwesome;
    content: "\2026";
    position: absolute;
    left: 10px;
    top: 3px;
    color:$ve-silver-base;
  }
}

.dropdown .checked-list-item::before{
  content: "\f00c";
  font-family: FontAwesome;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 6px;
  width: 16px;
  color: #60b9a6;
}
.dropdown .dropdown-menu.list-with-selected-item li{
  padding-left: 30px;
  position: relative;
}

/*------------------------------------------------------------------
    2.3.1 Wide Dropdown
-------------------------------------------------------------------*/

.ve-dark-dropdown-wide.btn-group {
  display: block;
  width: 100%;
  margin: 0 0 18px;
}

.ve-dark-dropdown-wide {

  .label-dropdown {
    display: block; 
  }

}

/*------------------------------------------------------------------
    2.3.2 Narrow Dropdown
-------------------------------------------------------------------*/

.btn-group.ve-dark-dropdown-nav {
  margin: 6px 0 6px 6px;
}

.ve-dark-dropdown-nav {
  .selected-dropdown{
    font-weight: 500;
  }
}

/*------------------------------------------------------------------
    2.3.3 Fixed Content Dropdown
-------------------------------------------------------------------*/

.fixed-content-dropdown ul.dropdown-menu{
  overflow-y: auto !important;
  border: 1px solid $ve-slate-lighter-2;
}

.fixed-content-dropdown .fa-caret-down {
  float: none;
}

/*------------------------------------------------------------------
  2.4 Tab System
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    2.4.1 Dark Tabs
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
    2.4.2 Light Tabs
-------------------------------------------------------------------*/

.ve-light-tabs {

  background-color: $ve-silver-lighter-1;

  .nav-tabs > li.uib-tab {
    text-align: center;
  }

  .nav-tabs > li {
    margin: 0 8px;
  }

  .nav-tabs > li.active.uib-tab > a{
    border: none;
    border-bottom: 3px solid $ve-teal-lighter-1;
    margin: 0;
    font-weight: 600;
    color: #333;
  }

  .nav-tabs > li.uib-tab > a {
    border: none;
    border-bottom: 3px solid $ve-silver-lighter-1;
    color: #333;
    margin: 0;
    background-color: $ve-silver-lighter-1;
    line-height: 21px;
  }

  li.uib-tab > a:hover {
    background-color: $ve-slate-base;
    border-bottom: 3px solid $ve-teal-lighter-2;
  }

  .nav > li > a:focus, 
  .nav > li > a:hover {
    background-color: $ve-silver-lighter-1;
    border-bottom: 3px solid $ve-teal-lighter-1;
  }
}

/*------------------------------------------------------------------
  2.5 Banners
-------------------------------------------------------------------*/

.ve-notify-banner{
  background-color: $ve-teal-lighter-4;
  padding: 6px 10px;
  border: 1px solid $ve-teal-lighter-3;
  border-radius: 3px;
  color: $ve-teal-base;
  margin: 4px 10px 14px;
}

/*------------------------------------------------------------------
3. Table Filtering
-------------------------------------------------------------------*/

.tableSearch > span {
  display: block;
}

table caption {
  font-size: 20px;
  text-align: left;
  padding: 8px 0 14px;
}

.export-csv-button::before {
  content: "\f045";
  font-family: FontAwesome;
  padding: 4px 4px 4px 0;
}

.filter-table-button::before {
  content: "\f0b0";
  font-family: FontAwesome;
  padding: 2px 4px;
}

.ve-filter-table-form .btn-sm {
  margin: 0 4px;
}


/*------------------------------------------------------------------
4. Table Filtering
-------------------------------------------------------------------*/

.ve-search{
  table{
    width:100%;
    table-layout:fixed;
  }

  td{
    padding-bottom:10px !important;
  }

  mms-transclude-name{
    color:$ve-light-text;
  }

  .btn-primary{
    border:none !important;
    padding:7px 12px 7px !important;
    font-weight:700 !important;
  }
}
/*------------------------------------------------------------------
4. Misc
-------------------------------------------------------------------*/


span {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.pane-right.fa-pane-scroller{
  background-color: rgba(0, 0, 0, 0.04);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.container-pane-left .fa-pane-scroller{
  background-color: rgba(0, 0, 0, 0.04);
  border-right: 1px solid rgba(0,0,0,0.1);
}

h4.prop-title{
  margin-bottom:0;
}

.element-viewer.tools::before{
  content: "Detail";
}

.element-editor.tools::before{
  content: "Edit";
}

.element-history.tools::before{
  content: "History";
}

.tags.tools::before{
  content: "Tags";
}

.jobs.tools::before{
  content: "Jobs";
}
