<div class="pane-center container-fluid">
    <div class="pane-center-btn-group"></div>
    <div class="pane-center-inner">
        <a href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{docid}}/{{time}}">Go to document</a>   

        <a href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{docid}}/{{time}}" target="_blank"> <span class="fa fa-external-link"></span></a>   

        <mms-view mms-vid="{{docid}}" mms-version="{{time}}" mms-ws="{{ws}}" mms-view-api="api"></mms-view>
    </div>
</div>