<div class="pane-center container-fluid">
    <div class="pane-center-btn-group"></div>
    <div class="pane-center-inner">
        <div ng-if="config === 'latest'">
            <div ng-repeat="document in documents | orderBy: 'name'">
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{document.sysmlid}}/latest/view/{{document.sysmlid}}">{{document.name}}</a>   
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{document.sysmlid}}/latest/view/{{document.sysmlid}}" target="_blank"> <span class="fa fa-external-link"></span></a>   
            </div>
        </div>
        <div ng-if="config !== 'latest'">
            <div ng-repeat="snapshot in snapshots | orderBy: 'sysmlname'">
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{snapshot.sysmlid}}/{{snapshot.created}}/view/{{snapshot.sysmlid}}">{{snapshot.sysmlname}} ({{snapshot.created | date:'M/d/yy h:mm a'}})</a>   
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{snapshot.sysmlid}}/{{snapshot.created}}/view/{{snapshot.sysmlid}}" target="_blank"> <span class="fa fa-external-link"></span></a>
                
                <button ng-if="getPDFStatus(snapshot)==null || getPDFUrl(snapshot)==null" class="btn" ng-click="generatePdf(snapshot, this)">{{pdfText}}</button>
                <a ng-if='getPDFUrl(snapshot)!=null' href="{{getPDFUrl(snapshot)}}" target="_blank">Download PDF</a> 
                
                <button ng-if="getHTMLStatus(snapshot)==null || getHTMLUrl(snapshot)==null" class="btn" ng-click="generateHtml(snapshot, this)">{{htmlText}}</button>
                <a ng-if="getHTMLUrl(snapshot)!=null" href="{{getHTMLUrl(snapshot)}}" target="_blank">Download HTML</a>
            </div>
        </div>
    </div>
</div> 