<div class="pane-center container-fluid">
    <div class="pane-center-btn-group"></div>
    <div class="pane-center-inner">
        <div ng-if="config === 'latest'">
            <div ng-repeat="document in documents | orderBy: 'name'">
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{document.sysmlid}}/latest">{{document.name}}</a>   
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{document.sysmlid}}/latest" target="_blank"> <span class="fa fa-external-link"></span></a>   
            </div>
        </div>
        <div ng-if="config !== 'latest'">
            <div ng-repeat="snapshot in snapshots | orderBy: 'sysmlname'">
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{snapshot.sysmlid}}/{{snapshot.created}}">{{snapshot.sysmlname}} ({{snapshot.created | date:'M/d/yy h:mm a'}})</a>   
                <a class="dash-link" href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{snapshot.sysmlid}}/{{snapshot.created}}" target="_blank"> <span class="fa fa-external-link"></span></a>
            </div>
        </div>
    </div>
</div>