<div class="pane-right">
    <!-- <div class="container-fluid" ng-show="show.element">
        <div ng-show="showTracker()">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Open&nbsp;Edits:</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="eid as edit.specialization.type + ': ' + edit.name for (eid, edit) in veEdits" ng-model="etrackerSelected" ng-change="etrackerChange()">
                        <!-- <option value="">--- Choose Open Edits ---</option> ->
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <mms-spec mms-eid="{{eid}}" mms-cf-elements="viewElements" mms-edit-field="all" mms-version="{{version}}" mms-ws="{{ws}}" mms-site="{{site.name}}" mms-spec-api="specApi"></mms-spec>
    </div> -->
    <div class="container-fluid container-snapshots" ng-show="show.configs">
        <h1>Tags <i class="{{snapshotLoading}}"></i></h1>

        <table class="snapshot-table table table-condensed">
            <tr><th>Name</th><th>Time</th></tr>
            <tr>
                <td>
                    <a ui-sref="portal({ws: ws, config: 'latest'})" ui-sref-opts="{reload: true}">Latest</a>
                </td>
                <td></td>
            </tr>
            <tr ng-repeat="config in configurations | orderBy:'-timestamp'">
                <td>
                    <a ui-sref="portal({ws: ws, config: config.id})" ui-sref-opts="{reload: true}">{{config.name}}</a>
                </td>
                <td>{{config.timestamp | date:'M/d/yy h:mm a'}}
                </td>
            </tr>
        </table>

    </div>
</div>