<div class="container-fluid">
  <span class="h4">Documents</span>
  <br/>

  <div>
    <span class="h5"><a ui-sref="docweb">Latest Drafts</a></span>
    <hr/>
  </div>

  <a ui-sref="docweb.new" class="btn btn-primary btn-sm">Create Configuration</a>
  <br><br>

  <table class="table table-hover table-condensed">
      <tr ng-repeat="config in configs">
        <td><a ui-sref="docweb.config({configId: config.id})">{{config.name}}</a></td>
        <td>{{config.modified | date:'medium'}}</td>
      </tr>
  </table>

</div>
