<div class="docweb-container-config-view container-fluid">
  <div class="col-xs-12">
<div><h1>{{config.name}} - {{config.modified | date:'medium'}}</h1></div>
<div>{{config.description}}</div>
<h2>Documents</h2>
  <div ng-repeat="snapshot in configSnapshots | orderBy:'sysmlname'" class="row">
      <a href="ve.html#/workspaces/{{ws}}/sites/{{site}}/products/{{snapshot.sysmlid}}/{{snapshot.created}}" class="col-xs-4">{{snapshot.sysmlname}} - {{snapshot.created | date:'medium'}}</a>
      <button ng-if="getPDFUrl(snapshot)==null" class="btn-link col-xs-2 text-left" ng-click="generatePdf(snapshot)">Generate PDF</button>
      <a ng-if='getPDFUrl(snapshot)!=null' href="{{getPDFUrl(snapshot)}}" class="col-xs-2 text-left" target="_blank">Download PDF</a> 
      <button ng-if="getHTMLUrl(snapshot)==null" class="btn-link col-xs-2 text-left" ng-click="generateHtml(snapshot)">Generate HTML</button>
      <a ng-if="getHTMLUrl(snapshot)!=null" href="{{getHTMLUrl(snapshot)}}" class="col-xs-2 text-left" target="_blank">Download HTML</a>
  </div>
  <br/>
  <button ng-show="toggles.hideChangeForm" class="btn btn-primary" ng-click="toggleChangeForm()">NAME &amp; DESCRIPTION CHANGER</button>
  <button ng-show="toggles.hideAddRemoveForm" class="btn btn-primary" ng-click="toggleAddRemoveForm()">SNAPSHOT ADDER &amp; REMOVER</button>
  <hr/>
  <div ng-hide="toggles.hideChangeForm">
    <h2>NAME &amp; DESCRIPTION CHANGER</h2>
    <h5>Name:</h5> <input class="form-control" type="text" ng-model="configForEdit.name"/>
    <h5>Description:</h5> <textarea class="form-control" ng-model="configForEdit.description"></textarea>
    <br/>
    <div><button class="btn btn-primary" ng-click="change()">CHANGE</button>
      <button class="btn btn-danger" ng-click="toggleChangeForm()">CANCEL</button>
    </div>
    <hr/>
  </div>
  <div ng-hide="toggles.hideAddRemoveForm"><h2>SNAPSHOT ADDER &amp; REMOVER</h2>
    <div ng-controller="TagAddRemoveCtrl">
      <div class="row">

        <div class="col-xs-4">
          
              <h3>Select Snapshots</h3>

              <div ng-repeat="doc in products | orderBy:'name'" ng-controller="TagAddRemoveDocCtrl">

                <a class="toggle-show-snapshots" ng-click="toggleShowSnapshots()">
                  <span ng-hide="showSnapshots">
                    <i class="fa fa-caret-right"></i>
                  </span>
                  <span ng-show="showSnapshots">
                    <i class="fa fa-caret-down"></i>
                  </span> {{doc.name}}
                </a>

              <div ng-show="showSnapshots">

                <div ng-repeat="snapshot in productSnapshots | orderBy:'-created'">
                  <input type="checkbox" ng-model="snapshot.selected" ng-change="toggleCheck(snapshot.id)"/> <a href="ve.html#/sites/{{site}}/products/{{doc.sysmlid}}/{{snapshot.created}}">{{snapshot.created | date:'medium'}}</a>
                </div>

              </div>

            </div>

            <br/>

            <div>
              <button class="btn btn-primary" ng-click="update()">UPDATE TAG</button>
              <button class="btn btn-danger" ng-click="toggleAddRemoveForm()">CANCEL</button>
            </div>

        </div>

        <div ng-show="selectedSnapshots.length" class="col-xs-8">
          <h3>Snapshots Selected</h3>
          <div ng-repeat="id in selectedSnapshots">
            {{snapshotMap[id].sysmlname}} - {{snapshotMap[id].created | date:'medium'}}
          </div>
        </div>

      </div>

      <hr/>

    </div>
  </div>
</div>
</div>