<div class="docweb-container-config container-fluid">
  <h1>Documents</h1>

  <button ui-sref="docweb.new" class="btn-create-config btn btn-success">CREATE TAG</button>

  <table class="table table-hover table-condensed docweb-table-config">
      <tr>
        <td><a ui-sref="docweb">Latest Drafts</a></td>
        <td></td>
      </tr>
      <tr ng-repeat="config in configs">
        <td><a ui-sref="docweb.config({configId: config.id})">{{config.name}}</a></td>
        <td>{{config.modified | date:'medium'}}</td>
      </tr>
  </table>

</div>