<div class="docweb-container-new container-fluid">

  <form ng-submit="new()">
    <h5>Name:</h5>
    <input class="form-control" type="text" ng-model="newConfigName"/>

    <h5>Description:</h5>
    <textarea class="form-control" ng-model="newConfigDesc"></textarea>

    <h5>Documents To Snapshot:</h5>
    <div ng-repeat="doc in products | orderBy:'name'">
        <input type="checkbox" ng-model="doc.add" ng-change="toggleCheck(doc.sysmlid)"/> {{doc.name}}
    </div>

    <hr/>

    <button class="btn btn-success" type="submit">CREATE</button>

  </form>

</div>