h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 200;
	font-size: 35px;
	margin-bottom: 32px;
}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 5px;
}

h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
}

p.doc-text {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: auto;
	font-size: 14px;
	margin-right: 30px;
	max-width: 520px;
}