ul.abn-tree {
  overflow: hidden;
  cursor: pointer;

  li.abn-tree-row {  
    padding: 0px;
    margin-right: -8px;

    a {
      border-radius: 0;
      padding: 3px 10px;  
      color: #333;
      text-decoration: none;
    }
  }

  i.indented {
    padding: 2px;
  }

  .level-1 .indented {
    position: relative;
    left: 0px;
  }

  .level-2 .indented {
    position: relative;
    left: 20px;
  }

  .level-3 .indented {
    position: relative;
    left: 40px;
  }

  .level-4 .indented {
    position: relative;
    left: 60px;
  }

  .level-5 .indented {
    position: relative;
    left: 80px;
  }

  .level-6 .indented {
    position: relative;
    left: 100px;
  }

  .level-7 .indented {
    position: relative;
    left: 120px;
  }

  .level-8 .indented {
    position: relative;
    left: 140px;
  }

  .level-9 .indented {
    position: relative;
    left: 160px;
  }
}

.arrow {
  position: relative;
  width: 100%;
  clear: left;
  overflow: hidden;
}

.shaft {
  display: block;
  float: left;
  width: calc(100%);
  height: 20px;
  background: $soft_grey;
  color: #fff;
}

.shaft-hidden {
  background: transparent;
  transition: background-color .2s linear;

  &:hover {
    background: $softer_grey;
  }
}
