mms-view {
  .view-title {
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-top: 24px;
  }
}