.transclude-modal {
  .transclude-modal-instructions {
    margin-top: -6px;
  }

  .transclude-modal-input {
    width: 60%;
    margin: 0 auto;
  }

  .transclude-table {
    padding: 20px;
    max-height: 400px;
    max-width: 98%;
    overflow: auto;
  }

  .form-propose, .form-filter {
    margin-top: 7px;
  }

  .form-search, .form-propose {
    & > .form-control {
      border-right-width: 0;
    }
  }

  span.input-group-btn {
    .btn {
      box-shadow: none;
      transition: none;
      border: 1px solid #ccc;
      font-size: 14px;
      font-weight: 400;
      padding: 6px 12px;

      &.btn-success {
        border: 1px solid #4885bd;
        background-color: #4885bd;
        margin-left: 0;
      }
    }

    .btn-text {
      font-size: 11px;
    }
  }

  .clickable:hover {
    cursor: pointer;
    background-color: #ecf3f8;
  }
}