.clean {
	background-color: white !important;
}

.addition {
  background-color: green;
}

.removal {
  background-color: red;
}

.conflict {
  background-color: yellow;
}

.update {
  background-color: blue;
}