/*************************
  Button classes that follow the
  MMS app design guide
*************************/

.btn {
  border: 0;
  border-radius: 3px;
  padding: 11px 11px;

  font-size: 11px;
  font-weight: 400;

  -webkit-box-shadow: 0px 1px 2px 0px rgba(50,50,50,.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(50,50,50,.75);
  box-shadow: 0px 1px 2px 0px rgba(50,50,50,.75);

  -webkit-transition: box-shadow .08s linear;
  -moz-transition: box-shadow .08s linear;
  -o-transition: box-shadow .08s linear;
  transition: box-shadow .08s linear;

  &:active, &:focus {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50,50,50,.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50,50,50,.75);
    box-shadow: 0px 2px 2px 0px rgba(50,50,50,.75);
    outline: none;
  }
}

.btn-primary {
  background-color: #4885bd;

  &:hover, &:active, &:focus {
    background-color: #4885bd;
  }
}

.btn-success {
  background-color: #9bbe81;

  &:hover, &:active, &:focus {
    background-color: #9bbe81;
  }
}

.btn-danger {
  background-color: #d2322d;

  &:hover, &:active, &:focus {
    background-color: #d2322d;
  }
}

a.view-tools {
  color: #333;
  font-size: 16px;
  line-height: $toolHeight;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  margin-left: -2px;
  position: relative;
  float: left;
  width: $toolWidth;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;

  &:first-child {
    margin-left: none;
    border-left: 1px solid #dedede !important;
  }

  &:last-child {
    border-right: 1px solid #dedede !important;
  }

  &:nth-child(even) {
    border: 0;
  }

  &:hover {
    background-color: #dedede;
    cursor: pointer;
    color: #333;
    z-index: 100;
  }

  &.center {
    text-align: center;
  }
}