/*************************
  View Editor variables & mixins
*************************/

$background_hover_transition: background-color .2s linear;
$background_easeout_transition: background-color .1s ease-out;
$navHeight: 36px;
$navBanner: 20px;
$navProject: 56px;
$navTotal: 92px;
$footerHeight: 13px;
